*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.product-tooltip {
  position: relative;
  display: inline-block;
  /* Tooltip arrow */
  /* Toggle this class when clicking on the tooltip container (hide and show the tooltip) */
}
.product-tooltip__hover-content {
  width: 30rem;
}
.product-tooltip__photo-box {
  width: 100%;
}
.product-tooltip__photo {
  width: 100%;
  height: auto;
  display: block;
}
.product-tooltip__text-box--1 {
  margin-bottom: 0.3rem;
}
.product-tooltip__text--1 {
  font-size: 1.6rem;
}
.product-tooltip__text--2 {
  font-size: 1.5rem;
}
.product-tooltip__text-icon-box--1 {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.7rem;
}
.product-tooltip__text--3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #F44336;
  display: inline-block;
}
.product-tooltip__icon-box {
  display: flex;
}
.product-tooltip__icon--1 {
  width: 1.5rem;
  height: 1.5rem;
  fill: #FF9800;
}
.product-tooltip__text--4 {
  font-size: 1.2rem;
}
.product-tooltip__text-box--2 {
  margin-bottom: 0.4rem;
}
.product-tooltip__text--5 {
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
}
.product-tooltip__text--6 {
  font-size: 1.2rem;
  text-decoration-line: line-through;
  display: inline-block;
}
.product-tooltip__text--7 {
  background-color: #ECEB98;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.4rem 0.8rem;
}
.product-tooltip__content {
  background-color: #F2F2F2;
  transition: all 0.3s;
  width: 35rem;
  border-radius: 0.5rem;
  border: 0.15rem solid #BBB9B9;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  padding: 1.8rem;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  right: 115%;
}
.product-tooltip__content:hover {
  box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}
.product-tooltip__content::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -1rem;
  border-width: 1rem;
  border-style: solid;
  border-color: transparent transparent transparent #F2F2F2;
}
.product-tooltip--show {
  visibility: visible;
  animation: fadeIn 1s;
}
.product-tooltip__text-box--4 {
  margin-bottom: 0.8rem;
}
.product-tooltip__text--8 {
  font-size: 1.8rem;
}
.product-tooltip__text-box--5 {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.product-tooltip__text--9 {
  background-color: #ECEB98;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.4rem 0.8rem;
}
.product-tooltip__text--10 {
  font-size: 1.3rem;
  color: #035803;
}
.product-tooltip__text--10 > span {
  font-weight: 500;
}
.product-tooltip__text-box--6 {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}
.product-tooltip__text--11, .product-tooltip__text--12, .product-tooltip__text--13 {
  font-size: 1.2rem;
  display: inline-block;
}
.product-tooltip__dot-divider {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: #000000;
}
.product-tooltip__text-box--7 {
  margin-bottom: 1.2rem;
}
.product-tooltip__text--14 {
  font-size: 1.4rem;
}
.product-tooltip__text-icon-box--2 {
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: max-content 1fr;
  gap: 1.2rem;
}
.product-tooltip__icon--2, .product-tooltip__icon--3, .product-tooltip__icon--4 {
  width: 2rem;
  height: 2rem;
}
.product-tooltip__text--15, .product-tooltip__text--16, .product-tooltip__text--17 {
  font-size: 1.4rem;
}
.product-tooltip__form-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-tooltip__form {
  background-color: grey;
  flex: 0 0 82%;
}
.product-tooltip__form-btn {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
}
.product-tooltip__form-btn--lg {
  font-size: 1.8rem;
  padding: 1.5rem 4rem;
}
.product-tooltip__form-btn--sm {
  font-size: 1.5rem;
  padding: 1.2rem 1.4rem;
}
.product-tooltip__form-btn--block {
  width: 100%;
  display: block;
}
.product-tooltip__form-btn--link {
  padding: 1.2rem 1.7rem;
  text-decoration: none;
}
.product-tooltip__form-btn--link-sm {
  font-size: 1.5rem;
  padding: 1.1rem 1.25rem;
}
.product-tooltip__form-btn--link-lg {
  font-size: 1.8rem;
  padding: 1.3rem 3.8rem;
}
.product-tooltip__form-btn--primary {
  background-color: #0E49B5;
  color: #FFFFFF;
}
.product-tooltip__form-btn--primary:hover {
  background-color: #0c3f9d;
}
.product-tooltip__form-btn--secondary {
  background-color: #808080;
  color: #050505;
}
.product-tooltip__form-btn--secondary:hover {
  background-color: #737373;
}
.product-tooltip__form-btn--danger {
  background-color: #F44336;
  color: #050505;
}
.product-tooltip__form-btn--danger:hover {
  background-color: #f55a4e;
}
.product-tooltip__form-btn--success {
  background-color: #04AA6D;
  color: #050505;
}
.product-tooltip__form-btn--success:hover {
  background-color: #05c37d;
}
.product-tooltip__form-btn--info {
  background-color: #2196F3;
  color: #050505;
}
.product-tooltip__form-btn--info:hover {
  background-color: #0d8aee;
}
.product-tooltip__form-btn--warning {
  background-color: #FF9800;
  color: #050505;
}
.product-tooltip__form-btn--warning:hover {
  background-color: #ffa21a;
}
.product-tooltip__form-btn--dark {
  background-color: #050505;
  color: #FFFFFF;
}
.product-tooltip__form-btn--dark:hover {
  color: #f2f2f2;
}
.product-tooltip__form-btn--royal {
  background-color: #BD00AA;
  color: #FFFFFF;
}
.product-tooltip__form-btn--royal:hover {
  background-color: #a40093;
}
.product-tooltip__form-btn--outline-primary {
  background-color: transparent;
  border: 0.15rem solid #0E49B5;
}
.product-tooltip__form-btn--outline-primary:hover {
  background-color: #0E49B5;
  color: #FFFFFF;
}
.product-tooltip__form-btn--outline-secondary {
  background-color: transparent;
  border: 0.15rem solid #808080;
}
.product-tooltip__form-btn--outline-secondary:hover {
  background-color: #808080;
  color: #050505;
}
.product-tooltip__form-btn--outline-danger {
  background-color: transparent;
  border: 0.15rem solid #F44336;
}
.product-tooltip__form-btn--outline-danger:hover {
  background-color: #F44336;
  color: #050505;
}
.product-tooltip__form-btn--outline-success {
  background-color: transparent;
  border: 0.15rem solid #04AA6D;
}
.product-tooltip__form-btn--outline-success:hover {
  background-color: #04AA6D;
  color: #050505;
}
.product-tooltip__form-btn--outline-info {
  background-color: transparent;
  border: 0.15rem solid #2196F3;
  color: #050505;
}
.product-tooltip__form-btn--outline-info:hover {
  background-color: #2196F3;
  color: #050505;
}
.product-tooltip__form-btn--outline-warning {
  background-color: transparent;
  border: 0.15rem solid #FF9800;
  color: #050505;
}
.product-tooltip__form-btn--outline-warning:hover {
  background-color: #FF9800;
  color: #050505;
}
.product-tooltip__form-btn--outline-dark {
  background-color: transparent;
  border: 0.15rem solid #050505;
  color: #050505;
}
.product-tooltip__form-btn--outline-dark:hover {
  background-color: #050505;
  color: #FFFFFF;
}
.product-tooltip__form-btn--outline-royal {
  background-color: transparent;
  border: 0.15rem solid #BD00AA;
  color: #050505;
}
.product-tooltip__form-btn--outline-royal:hover {
  background-color: #BD00AA;
  color: #FFFFFF;
}
.product-tooltip__wishlist-button {
  display: inline-block;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border: 0.25rem solid #050505;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-tooltip__icon--5 {
  width: 3rem;
  height: 3rem;
}

.top-section {
  background-color: #A71198;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #F2F2F2;
}
.middle-section .content {
  width: 90%;
  margin: auto;
  padding: 16rem 0;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
