.carousel {
    background-color: grey;  // Testing
    width: 60%;  // Controls width of carousel
    margin: auto;
    padding: 13rem 0;

    &__content {
        background-color: #EEEEEE;  // To be used if there's no background image!
        // background-color: #FFFCDC;  // Same background colour as page

        display: grid;
        grid-template-rows: repeat(5, 5vw);
        grid-template-columns: max-content repeat(6, 1fr) max-content;

        & > * {  // Testing
            font-size: 2.6rem;
            color: #FFFFFF;
            padding: .5rem;
        }
    }

    /* Next & previous controls */
    &__prev,
    &__next {
        /* For styling icons alone with buttons */
        // transition: .6s ease;
        // cursor: pointer;
        // width: auto;
        // // margin-top: -2.2rem;
        // padding: 1.6rem;
        // width: 9rem;
        // height: 9rem;
        // fill: #D8D2D2;
        // border-radius: 0 .3rem .3rem 0;
        // user-select: none;
        // z-index: 5;  // Puts controls on top of slideshow image


        /* For styling buttons with icons inside */
        transition: .6s ease;
        display: inline-block;
        // padding: 1.5rem 2rem;
        // padding: 1.6rem;
        padding: .4rem;  // DO NOT exceeed this amount of padding
        border: none;  // Removes default button border
        border-radius: 0 .3rem .3rem 0;
        cursor: pointer;
        z-index: 5;  // Puts controls on top of slideshow image (required)

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres icon in button
    }

    /* On hover, add a black background color with a little bit see-through */
    // &__prev:hover, &__next:hover {
    //     fill: #D8D2D2;
    //     background-color: rgba(0, 0, 0, .8);
    // }

    /* On hover, add a black background color with a little bit see-through */
    &__prev:hover, &__next:hover {
        // fill: #D8D2D2;
        background-color: rgba(0, 0, 0, .8);
    }

    &__prev {
        background-color: #F1425D;  // Testing
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        align-self: center;  // Keeps control centred

        z-index: 3;  // Makes control show up (required)
    }

    &__next {
        background-color: #0000FF;  // Testing
        grid-column: 8 / 9;
        grid-row: 3 / 4;

        align-self: center;  // Keeps control centred

        z-index: 3;  // Makes control show up (required) 
    }

    &__next-icon,
    &__prev-icon {
        // width: 9rem;
        // height: 9rem;
        width: 6rem;
        height: 6rem;
        fill: #D8D2D2;
    }

    &__slides {
        background-color: #00FF00;  // Testing
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        overflow: hidden;  // Hides the overflown slides (reqiured)
    }

    &__slide-gallery {  // Container for slides
        width: 160%;  // Total width of slides should be bigger than carousel width
        height: 100%;
        display: flex;  // Puts images side-by-side horizontally

        column-gap: .7rem;  // Creates space between slides

        // transform: translateX(-20rem);
    }

    &__slide {
        background-color: grey;  // Testing
        width: 100%;
        height: 100%;
        position: relative;  // Used to position caption & number text
    }

    &__photo-box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    &__photo {
        // **** USE THIS IF THERE'S A PARENT ELEMENT AROUND IMAGE! ****
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;  // Fills parent element & preserves aspect ratio
        

        // **** USE THIS INSTEAD IF THERE IS NO PARENT ELEMENT AROUND IMAGE! ****
        // width: 100%;
        // height: 100%;
        // display: block;  // Prevents whitespace appearing underneath
        // object-fit: cover;
    }

    &__indicators {
        background-color: #333333;  // Testing
        grid-column: 4 / 6;
        grid-row: 5 / 6;

        text-align: center;  // Horizontally centres dots

        // justify-self: center;
        // align-self: center;  // Controls vertical positioning of indicator dots

        z-index: 5;  // Puts indicators on top of slideshow image
    }
}