.top-container {
    width: 100vw;
    height: 20vh;
    background-color: var(--top-section-background-colour)
}

.middle-container {
    width: 100vw;
    background-color: var(--main-section-background-colour);
}