.social-media-post {
    transition: all 0.35s ease-in;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    // background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    // visibility: hidden;  // Modal is hidden by default 
    // opacity: 0;

    &.social-media-post__visible {  // This class will be added later on with JavaScript
        visibility: visible;  // Makes modal visible 
        opacity: 1;  // restores full opacity 
    }
    
    /* Modal Contents */
    &__dialog {
        position: relative;
        max-width: 80rem;
        // max-width: 45vw;  // Using vw for the max-width makes modal responsive 
        max-height: 80vh;
        border-radius: .5rem;
        overflow: auto;  // Adds scroll-bar if content exceeds 80% of viewport height
        
        // & * {
        //     padding: 1rem;
        // }
    }

    &__dialog > * {  // Applies padding to all direct children (eg. header, content, footer)
        padding: 1rem;
    }

    &__header, &__content, &__footer {
        background-color: #E4E4E4;

        font-size: 1.85rem;  // Testing
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: .1rem solid #A9A6A6;
    }
    
    /* Close Button */
    &__header > &__closebtn {  
        transition: 0.3s;
        display: inline-block;
        font-size: 2.6rem; 
        font-weight: 500;
        // color: #EEEEEE;
        color: #000000;
        cursor: pointer;

        line-height: 0;  // Controls vertical height of HTML entity

        &:hover {
            color: lighten(#000000, 15%);
        }

        // background-color: grey;  // Testing
    }

    &__action {

        &-box {
            background-color: grey;  // Testing

            display: grid;
            // grid-template-rows: 18rem min-content;
            grid-template-rows: 15vw min-content;
            grid-template-columns: repeat(2, 1fr);
        }

        &-file-upload {
            background-color: #00FF00;  // Testing

            &-prompt-text-box {
                background-color: #FF0000;  // Testing
            }

            &-prompt-text {
                font-size: 1.8rem;

                & > button {
                    // background-color: #000000;
                    background-color: transparent;
                    font-size: 1.6rem;
                    // color: #FFFFFF;
                    color: #000000;
                    text-decoration: underline;  // Testing
                    display: inline-block;
                    // padding: 0 1.2rem;
                    // padding: 1.25rem 1.2rem;  // Normal/medium button
                    // padding: 1.5rem 1.2rem;  // large button
                    // padding: .85rem 1.2rem;  // Small button
                    // min-width: 8rem;
                    border: none;  // Removes default button border
                    outline: none;  // Removes outline
                    cursor: pointer;
            
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;  // Vertically centres dropdown icon & text
            
                    // column-gap: .4rem;  // Creates space between icon & text
                }
            }

            &-box {
                // background-color: #FFFF00;  // Testing
                background-color: #F2F2F2;
                // width: 60%;  // Controls size of form
                margin: auto;
                padding: 2rem;
                border-radius: .5rem;
            }

            &{
                // background-color: #0000FF;  // Testing
                // width: 25rem;  // Sets width for parent of input & label elements
                display: inline-block;  // Makes file upload button only occupy as much space as it needs

                &-group {
                    // background-color: #808080;  // Testing
                    // width: 25rem;  // Sets width for parent of input & label elements. Use this or display: inline-grid (below)...

                    display: grid;
                    grid-template-rows: repeat(2, min-content);  // 2 rows, one for label text & one for buttons
                }

                &-group > label {
                    font-size: 1.45rem;  // Controls size of input's label
                }

                &-group > input[type="file"] {
                    // font-size: 1.6rem;
                    font-size: 1.45rem;
                }
            }
        }

        &-profile-picture {
            background-color: #F1425D;  // Testing
        }

        &-dropdown {
            background-color: #7E0FC5;  // Testing
            grid-column: 2 / -1;
        }
    }

    &__footer {
        border-top: .1rem solid #A9A6A6;
    }
}