*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.action-dropdown {
  position: relative;
  display: inline-block;
  /* Dropdown Button */
  /* Dropdown Content (Hidden by Default) */
  /* Modal */
}
.action-dropdown__btn {
  background-color: #A71198;
  font-size: 1.55rem;
  color: #FFFFFF;
  display: inline-block;
  padding: 1rem 1.2rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-dropdown__btn:hover {
  color: #f2f2f2;
}
.action-dropdown__icon-1 {
  width: 2.8rem;
  height: 2.8rem;
  fill: #FFFFFF;
}
.action-dropdown__content {
  position: absolute;
  top: 103%;
  min-width: 24rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.action-dropdown__content-box-1 {
  border-bottom: 0.1rem solid #A9A6A6;
}
.action-dropdown__content-text-box-1 {
  background-color: #FF0000;
  padding: 1rem 1.2rem;
}
.action-dropdown__content-text-1 {
  font-size: 1.6rem;
  color: #6A6F73;
}
.action-dropdown__content-text-2 {
  font-size: 1.4rem;
  display: inline-block;
}
.action-dropdown__content-list-text-box {
  background-color: #0000FF;
}
.action-dropdown__content-text-box-2 {
  background-color: #FF0000;
  padding: 1rem 1.2rem;
}
.action-dropdown__content-text-3 {
  font-size: 1.6rem;
  color: #6A6F73;
}
.action-dropdown__content-list-box {
  background-color: #FFFF00;
}
.action-dropdown__content-list-item {
  background-color: #F1F1F1;
  font-size: 1.55rem;
  color: #000000;
  width: 100%;
  display: block;
  padding: 1rem 1.2rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  /* The .accordion__active class will be added by JavaScript */
  /* The .active class will be added by JavaScript */
}
.action-dropdown__content-list-item:hover {
  color: #3475ED;
}
.action-dropdown__content-list-item:focus {
  color: #f2f2f2;
}
.action-dropdown__content-list-item::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url("../images/SVG/check.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .action-dropdown__content-list-item::after {
    background-color: #333333;
    -webkit-mask-image: url("../images/SVG/check.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/check.svg");
    mask-size: cover;
    background-image: none;
  }
}
.action-dropdown__content-list-item__active::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url("../images/SVG/remove.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .action-dropdown__content-list-item__active::after {
    background-color: #333333;
    -webkit-mask-image: url("../images/SVG/remove.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/remove.svg");
    mask-size: cover;
    background-image: none;
  }
}
.action-dropdown__content-box-2 {
  border-bottom: 0.1rem solid #A9A6A6;
}
.action-dropdown__content-button {
  background-color: #F1F1F1;
  font-size: 1.55rem;
  color: #000000;
  width: 100%;
  display: block;
  padding: 1rem 1.2rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.8rem;
}
.action-dropdown__content-button:hover {
  color: #3475ED;
}
.action-dropdown__content-button:focus {
  color: #f2f2f2;
}
.action-dropdown__content-icon-2, .action-dropdown__content-icon-3, .action-dropdown__content-icon-4, .action-dropdown__content-icon-5 {
  width: 2.2rem;
  height: 2.2rem;
  fill: currentColor;
}
.action-dropdown__content-box-3 {
  border-bottom: 0.1rem solid #A9A6A6;
}
.action-dropdown:hover > .action-dropdown__content {
  display: block;
}
.action-dropdown__modal-2 {
  transition: all 0.35s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Modal Contents */
}
.action-dropdown__modal-2.action-dropdown__modal-1-visible {
  visibility: visible;
  opacity: 1;
}
.action-dropdown__modal-2-dialog {
  position: relative;
  width: 60rem;
  max-width: 80rem;
  max-height: 80vh;
  border-radius: 0.5rem;
  overflow: auto;
}
.action-dropdown__modal-2-dialog > * {
  padding: 1rem;
}
.action-dropdown__modal-2-content {
  background-color: #FFFFFF;
  font-size: 1.85rem;
}
.action-dropdown__modal-2-text-closebtn-box {
  background-color: #0000FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-dropdown__modal-2-text-box-1 {
  background-color: #FF0000;
}
.action-dropdown__modal-2-text-1 {
  font-size: 1.85rem;
}
.action-dropdown__modal-2-closebtn {
  transition: 0.3s;
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  line-height: 0;
}
.action-dropdown__modal-2-closebtn:hover {
  color: #262626;
}
.action-dropdown__modal-2-form-box {
  background-color: #F2F2F2;
  margin: auto;
  padding: 2rem;
  border-radius: 0.5rem;
}
.action-dropdown__modal-2-form-group {
  margin-bottom: 1.6rem;
  font-size: 1.45rem;
}
.action-dropdown__modal-2-form-group--counter {
  position: relative;
}
.action-dropdown__modal-2-form-group > label {
  font-size: 1.45rem;
}
.action-dropdown__modal-2-form-control {
  width: 100%;
  padding: 1.2rem;
  margin-top: 0.6rem;
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.4rem;
  resize: vertical;
  font-size: inherit;
}
.action-dropdown__modal-2-form-control::-webkit-input-placeholder {
  color: #808080;
}
.action-dropdown__modal-2-form-control:focus {
  outline: none;
  box-shadow: 0.2rem -0.2rem 0.48rem 0.15rem #6570EA, -0.2rem 0.2rem 0.48rem 0.15rem #6570EA;
}
.action-dropdown__modal-2-form-control--pr-50 {
  padding-right: 5rem;
}
.action-dropdown__modal-2-form-input-counter-1, .action-dropdown__modal-2-form-input-counter-2 {
  position: absolute;
  right: 0;
  top: 1.2rem;
  width: 3rem;
  height: 3rem;
  cursor: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-dropdown__modal-2-form-input-counter-2 {
  top: 1.4rem;
  right: 0.7rem;
}
.action-dropdown__modal-2-form__small-text {
  font-size: 1.35rem;
}
.action-dropdown__modal-2-form__group > textarea {
  height: 28rem;
}
.action-dropdown__modal-2-form__btn {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1.25rem 1.2rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.action-dropdown__modal-2-form__btn--lg {
  padding: 1.5rem 1.2rem;
}
.action-dropdown__modal-2-form__btn--block {
  width: 100%;
  display: block;
}
.action-dropdown__modal-2-form__btn--rounded {
  border-radius: 0.4rem;
}
.action-dropdown__modal-2-form__btn--primary {
  background-color: #0E49B5;
  color: #FFFFFF;
}
.action-dropdown__modal-2-form__btn--primary:hover {
  background-color: #0c3f9d;
}
.action-dropdown__modal-2-form__btn--secondary {
  background-color: #808080;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--secondary:hover {
  background-color: #737373;
}
.action-dropdown__modal-2-form__btn--danger {
  background-color: #F44336;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--danger:hover {
  background-color: #f55a4e;
}
.action-dropdown__modal-2-form__btn--success {
  background-color: #04AA6D;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--success:hover {
  background-color: #05c37d;
}
.action-dropdown__modal-2-form__btn--info {
  background-color: #2196F3;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--info:hover {
  background-color: #0d8aee;
}
.action-dropdown__modal-2-form__btn--warning {
  background-color: #FF9800;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--warning:hover {
  background-color: #ffa21a;
}
.action-dropdown__modal-2-form__btn--dark {
  background-color: #050505;
  color: #FFFFFF;
}
.action-dropdown__modal-2-form__btn--dark:hover {
  color: #f2f2f2;
}
.action-dropdown__modal-2-form__btn--royal {
  background-color: #BD00AA;
  color: #FFFFFF;
}
.action-dropdown__modal-2-form__btn--royal:hover {
  background-color: #a40093;
}
.action-dropdown__modal-2-form__btn--outline-primary {
  background-color: transparent;
  border: 0.15rem solid #0E49B5;
}
.action-dropdown__modal-2-form__btn--outline-primary:hover {
  background-color: #0E49B5;
  color: #FFFFFF;
}
.action-dropdown__modal-2-form__btn--outline-secondary {
  background-color: transparent;
  border: 0.15rem solid #808080;
}
.action-dropdown__modal-2-form__btn--outline-secondary:hover {
  background-color: #808080;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-danger {
  background-color: transparent;
  border: 0.15rem solid #F44336;
}
.action-dropdown__modal-2-form__btn--outline-danger:hover {
  background-color: #F44336;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-success {
  background-color: transparent;
  border: 0.15rem solid #04AA6D;
}
.action-dropdown__modal-2-form__btn--outline-success:hover {
  background-color: #04AA6D;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-info {
  background-color: transparent;
  border: 0.15rem solid #2196F3;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-info:hover {
  background-color: #2196F3;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-warning {
  background-color: transparent;
  border: 0.15rem solid #FF9800;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-warning:hover {
  background-color: #FF9800;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-dark {
  background-color: transparent;
  border: 0.15rem solid #050505;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-dark:hover {
  background-color: #050505;
  color: #FFFFFF;
}
.action-dropdown__modal-2-form__btn--outline-royal {
  background-color: transparent;
  border: 0.15rem solid #BD00AA;
  color: #050505;
}
.action-dropdown__modal-2-form__btn--outline-royal:hover {
  background-color: #BD00AA;
  color: #FFFFFF;
}

.top-section {
  width: 100vw;
  height: 20vh;
  background-color: #0E49B5;
}

.middle-section {
  background-color: #EEEEEE;
}
.middle-section .content {
  width: 90%;
  margin: auto;
  padding: 13rem 0 15rem 0;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
