.top-section {
    background-color: #0E49B5;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    background-color: #EEEEEE;

    .content {
        background-color: grey;  // Testing
        width: 90%;
        margin: auto;
        padding: 13rem 0 15rem 0;

        display: flex;
        justify-content: center;
    }
}