.profile-picture {
    background-color: #0000FF;  // Testing
    display: inline-block;  // Makes profile picture only occupy as much space as it needs (required)

    &__photo-box {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;  // Creates perfect circle
        position: relative;  // Used to position .profile-picture__photo (belo)
        overflow: hidden;

        margin: 0 auto;  // Centres photo (required)
    }

    &__photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;  // Fills parent element & preserves aspect ratio
    }

    &__username {
        font-size: 1.4rem;
    }
}