*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

/* ANIMATION STYLES */
[data-animation] > .modal__dialog {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

[data-animation].modal__visible > .modal__dialog {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation=slideInOutDown] > .modal__dialog {
  transform: translateY(100%);
}

[data-animation=slideInOutTop] > .modal__dialog {
  transform: translateY(-100%);
}

[data-animation=slideInOutLeft] > .modal__dialog {
  transform: translateX(-100%);
}

[data-animation=slideInOutRight] > .modal__dialog {
  transform: translateX(100%);
}

[data-animation=zoomInOut] > .modal__dialog {
  transform: scale(0.2);
}

[data-animation=rotateInOutDown] > .modal__dialog {
  transform-origin: top left;
  transform: rotate(-1turn);
}

[data-animation=mixInAnimations].modal__visible > .modal__dialog {
  animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation=slideInOutDown].modal__visible > .modal__dialog,
[data-animation=slideInOutTop].modal__visible > .modal__dialog,
[data-animation=slideInOutLeft].modal__visible > .modal__dialog,
[data-animation=slideInOutRight].modal__visible > .modal__dialog,
[data-animation=zoomInOut].modal__visible > .modal__dialog,
[data-animation=rotateInOutDown].modal__visible > .modal__dialog {
  transform: none;
}

@keyframes mixInAnimations {
  0% {
    transform: translateX(-100%);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  40% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.modal {
  transition: all 0.35s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  /* Modal Contents */
  /* Close Button */
}
.modal.modal__visible {
  visibility: visible;
  opacity: 1;
}
.modal__dialog {
  position: relative;
  max-width: 80rem;
  max-height: 80vh;
  border-radius: 0.5rem;
  overflow: auto;
}
.modal__dialog > * {
  padding: 1rem;
}
.modal__header, .modal__content, .modal__footer {
  background-color: #E4E4E4;
  font-size: 1.85rem;
}
.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #A9A6A6;
}
.modal__header > .modal__close {
  font-size: 2.6rem;
  cursor: pointer;
}
.modal__footer {
  border-top: 0.1rem solid #A9A6A6;
}

.top-section {
  background-color: #7E0FC5;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #E4E4E4;
  width: 100vw;
  padding: 14rem 0;
  display: flex;
  justify-content: center;
}

/* Modal Trigger Button */
.btn {
  font-size: 1.8rem;
  display: inline-block;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
}
.btn--dark {
  background-color: #050505;
  color: #FFFFFF;
}
.btn--dark:hover {
  color: #f2f2f2;
}

/*# sourceMappingURL=styles.css.map */
