.sidenav {
    background-color: #420000;  // Testing
    height: 100%;  // Makes sidenav full height

    &__link-box {
        background-color: #00FF00;  // Testing
    }

    &__link {
        // font-size: 1.4rem;
        font-size: 1.8rem;
        color: #FFFFFF;
        display: inline-block;
        text-decoration: none;

        &:hover {
            color: darken(#FFFFFF, 10%);
        }
    }
}