.sidenav {
    // background-color: #420000;  // Testing
    background-color: transparent;  // Gives it the same background colour as grid item it's been placed in
    height: 100%;  // Makes sidenav full height

    &__link-box {
        // background-color: #00FF00;  // Testing
    }

    &__link {
        // font-size: 1.5rem;
        // font-size: 1.45rem;
        font-size: 2.25rem; 
        color: #000000;
        padding: .65rem 1.5rem;  // Reduced top and bottom padding brings icons closer together
        // padding: 1.2rem 1.6rem;  
        text-decoration: none;
        display: block;  // Allows vertical padding & makes links occupy container

        line-height: 1.8;  // Creates more distance between links
        
        /* Add a black background to dropdown links on hover */
        &:hover {
            color: #EEEEEE;
            background-color: #333333;
        }
    }
}