$bp-1150: 71.875em;  // 1150px 

*,
*::before,
*::after {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
    font-size: 62.5%;  /* Root Font Size (1rem = 10px) */
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    box-sizing: border-box;  /* Border & Padding included in Width & Height */
}