.modal {
    transition: all 0.35s ease-in;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    // background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    visibility: hidden;  // Modal is hidden by default 
    opacity: 0;

    &.modal__visible {  // This class will be added later on with JavaScript
        visibility: visible;  // Makes modal visible 
        opacity: 1;  // restores full opacity 
    }
    
    /* Modal Contents */
    &__dialog {
        position: relative;
        // max-width: 80rem;
        max-width: 45vw;  // Using vw for the max-width makes modal responsive 
        max-height: 80vh;
        border-radius: .5rem;
        overflow: auto;  // Adds scroll-bar if content exceeds 80% of viewport height
        
        // & * {
        //     padding: 1rem;
        // }
    }

    &__dialog > * {  // Applies padding to all diretc children (eg. header, content, footer)
        padding: 1rem;
    }

    &__header, &__content, &__footer {
        background-color: #E4E4E4;

        font-size: 1.85rem;  // Testing
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: .1rem solid #A9A6A6;
    }
    
    /* Close Button */
    &__header > &__closebtn {  
        transition: 0.3s;
        display: inline-block;
        font-size: 2.6rem; 
        font-weight: 500;
        // color: #EEEEEE;
        color: #000000;
        cursor: pointer;

        line-height: 0;  // Controls vertical height of HTML entity

        &:hover {
            color: lighten(#000000, 15%);
        }

        // background-color: inherit;  // Testing
    }

    &__footer {
        border-top: .1rem solid #A9A6A6;
    }
}