.column-dropdown {
    position: relative;  // Needed to position dropdown content (.dropdown__content)
    display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)
    
    /* Dropdown Button */
    &__btn {
        background-color: #A71198;
        font-size: 1.55rem;
        color: #FFFFFF;
        display: inline-block;
        padding: 1rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default border
        cursor: pointer;
       

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text

        &:hover {  // Darken text a tiny bit when button is hovered on
            color: darken(#FFFFFF, 5%);
        }
    }

    &__icon {
        // width: 3.2rem;
        // height: 3.2rem;
        width: 3.05rem;
        height: 3.05rem;
        // fill: #000000;
        fill: #FFFFFF;
    }
}