.column-dropdown {
    position: relative;  // Needed to position dropdown content (.dropdown__content)
    display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)
    
    /* Dropdown Button */
    &__btn {
        background-color: #A71198;
        font-size: 1.55rem;
        color: #FFFFFF;
        display: inline-block;
        padding: 1rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default border
        outline: none;  // Removes outline
        cursor: pointer;
       

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text

        &:hover {  // Darken text a tiny bit when button is hovered on
            color: darken(#FFFFFF, 5%);
        }
    }

    &__icon {
        width: 2.8rem;
        height: 2.8rem;
        // fill: #000000;
        fill: #FFFFFF;
    }
    
    /* Dropdown Content (Hidden by Default) */
    &__content-1 {
        display: none;
        position: absolute;  // Positions content outside dropdown (required)
        top: 100%;  // Puts content directly beneath dropdown
        // min-width: 14.5rem;  // Controls width of dropdown content
        min-width: 18rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        z-index: 1;  // Puts dropdown in front of other elements
    }

    &__content-2 {  // Testing
        display: none;
        position: absolute;  // Positions content outside dropdown (required)
        top: 100%;  // Puts content directly beneath dropdown
        // min-width: 14.5rem;  // Controls width of dropdown content
        min-width: 18rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        z-index: 1;  // Puts dropdown in front of other elements
    }

    &__content-3 {
        display: none;
        position: absolute;  // Positions content outside dropdown (required)
        top: 100%;  // Puts content directly beneath dropdown
        // min-width: 14.5rem;  // Controls width of dropdown content
        min-width: 18rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        z-index: 1;  // Puts dropdown in front of other elements
    }

    &__content-4 {
        // display: none;
        position: absolute;  // Positions content outside dropdown (required)
        top: 100%;  // Puts content directly beneath dropdown
        // min-width: 14.5rem;  // Controls width of dropdown content
        min-width: 18rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        z-index: 1;  // Puts dropdown in front of other elements
    }

    // &:hover > &__content-1 {  // Shows dropdown when user hovers over dropdown button
    //     display: block;
    // }

    // &:hover > &__content-2 {  // Shows dropdown when user hovers over dropdown button
    //     display: block;
    // }

    // &:hover > &__content-3 {  // Shows dropdown when user hovers over dropdown button
    //     display: block;
    // }

    &:hover > &__content-4 {  // Shows dropdown when user hovers over dropdown button
        display: block;
    }
    
    /* Style the links inside the dropdown */
    &__link {
        font-size: 1.5rem; 
        color: #000000;
        padding: 1.2rem 1.6rem;
        text-decoration: none;
        // display: block;  // Allows vertical padding & makes links occupy container

        &--1, 
        &--2, 
        &--3 {
            display: block;  // Allows vertical padding & makes links occupy container

            display: flex;
            justify-content: space-between;
        }

        &--4, 
        &--5, 
        &--6 {
            display: block;  // Allows vertical padding & makes links occupy container

            display: flex;
            justify-content: space-between;
        }

        &--7, 
        &--8, 
        &--9 {
            display: block;  // Allows vertical padding & makes links occupy container

            display: flex;
            justify-content: space-between;
        }

        &--1::after, 
        &--2::after, 
        &--3::after,
        &--4::after,
        &--5::after,
        &--6::after,
        &--7::after,
        &--8::after,
        &--9::after {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;
            // margin-right: -.6rem;  // Brings text closer to icon

            // Older browsers
            background-image: url('../images/SVG/keyboard_arrow_right.svg');
            background-size: cover;


            // Newer browsers
            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                background-color: #000000;
                -webkit-mask-image: url('../images/SVG/keyboard_arrow_right.svg');
                -webkit-mask-size: cover;  // Makes icon cover entire element
                mask-image: url('../images/SVG/keyboard_arrow_right.svg');
                mask-size: cover;
                background-image: none;  // Prevents background image (above) from being used
            }
        }
        
        /* Add a black background to dropdown links on hover */
        &:hover {
            // color: #EEEEEE;
            color: #3475ED;  
            // background-color: #333333;
        }
    }

    &__content-4,
    &__content-5, &__content-6, &__content-7 {  // Hides all other columns initially
        display: none;
        position: absolute;  // Positions content outside dropdown (required)
        top: 100%;  // Puts content directly beneath dropdown
        // min-width: 14.5rem;  // Controls width of dropdown content
        min-width: 18rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        z-index: 1;  // Puts dropdown in front of other elements
    }
}