.sidebar {
    background-color: var(--colour-blue-2);  // 112B3C

    flex: 0 0 10%;

    display: flex;
    flex-direction: column;  // Main axis goes from top --> bottom
    justify-content: space-between;  // Puts links & text on opposite sides of side navigation
}

.side-nav {
    list-style-type: none;
    margin-top: 4rem;  // Creates space between list & top of side navigation

    @media only screen and (max-width: $bp-1065) {  // 1065px
        margin-top: 3.5rem;
    }

    @media only screen and (max-width: $bp-525) {  // 525px
        margin-top: 3rem;
    }

    &__item {
        font-size: 1.75rem;
        position: relative;

        @media only screen and (max-width: $bp-1065) {  // 1065px
            font-size: 1.7rem;
        }

        @media only screen and (max-width: $bp-525) {  // 525px
            font-size: 1.62rem;
        }

        &:not(:last-child) {  // Adds margin bottom to all list items except the last one
            margin-bottom: .7rem;
        }
    }

    &__item::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: .3rem;
        height: 100%;  // Gives it the same height as list item
        background-color: #F66B0E;
        transform: scaleY(0);  // Normal state without any hover
        transition: transform .2s,
                    width .35s .2s;
    }

    &__item:hover::before {
        width: 100%;
        transform: scaleY(1);
    }

    &__link:link, &__link:visited {
        color: var(--colour-white-1);  // #FFFFFF
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        position: relative;  // Required for z-index to work!
        z-index: 10;  // Puts link on top of ::before pseudo-element

        display: flex;
        align-items: center;  // Vertically aligns links & icons
    }

    &__icon {
        width: 2.2rem;
        height: 2.2rem;
        fill: currentColor;
        margin-right: .7rem;
    }
}