.top-section {
    background-color: #333333;  // Inherited by .topnav & .subnav-box (below)
    width: 100vw;
}

.topnav {
    background-color: inherit;  // Takes background colour set on its parent

    position: relative;  // Used to position subnav content (required)

    display: flex;
    align-items: center;
    

    &-link {
        font-size: 1.55rem;
        color: #F2F2F2;
        text-align: center;
        // padding: 1.3rem 1.5rem;
        padding: 1rem 1.2rem;
        text-decoration: none;  // Removes default underline
        display: inline-block;

        align-self: stretch;  // Makes background colour go from top to bottom on hover (below)

        display: flex;
        align-items: center;  // Vertically centres link text

        &:hover {
            color: #FFFFFF;
            // background-color: #555555;
            background-color: #FF0000;
        }
    }

    .subnav-box {
        // background-color: grey;  // Testing
        background-color: inherit;  // Takes background colour from top navbar (.topnav)

        display: flex;  // Makes subnav (.subnav) occupy full height (align-items: stretch)
    }
}