#main {
    display: grid;
    grid-template-rows: 15vh min-content;
    grid-template-columns: [sidebar-start] max-content [sidebar-end main-start] 1fr [main-end];
}

#main > * {
    font-size: 2.6rem;
    padding: 1rem;
}

.section-1 {
    background-color: #808080;  // Testing
}

.section-2 {
    background-color: #00FFFF;  // Testing
}

.section-3 {
    background-color: #F5F5DC;  // Testing
}