.top-section {
    background-color: #0E49B5;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    background-color: #E4E4E4;
    width: 100vw;

    .tab-box {
        background-color: grey;  // Testing
        width: 90%;
        margin: 0 auto;
        padding: 13rem 0;
    }
}