.top-section {
    background-color: #7E0FC5;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    background-color: #E4E4E4;
    width: 100vw;

    .content {
        // background-color: grey;  // Testing
        width: 90%;
        margin: auto;
        padding: 13rem 0;
    }

    .button-box {
        // background-color: #00FF00;  // Testing
        width: 40%;
        margin: auto;
        padding: 1.2rem 0;
        text-align: center;  // Centres button
    }
}