.breadcrumb {
    background-color: #0000FF;  // Testing
    // padding: 0 .5rem;
    padding: 1rem 1.6rem;

    &__list {
        background-color: #FFFF00;  // Testing
        list-style-type: none;

        display: flex;  // Causes navigation links to site side-by-side

        column-gap: 1.6rem;  // Creates space between navigation links & icons
    }

    &__list-item {
        font-size: 1.8rem;
    }
}