.search-bar {
    background-color: #FFFF00;  // Testing

    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 1fr max-content;

    grid-template-areas: 'search-bar search-button'
                         'search-dropdown .';


    & > * {  // Testing
        font-size: 2.6rem;
        padding: .5rem;
    }

    &__search {

        &-input-box-container {
            background-color: #0000FF;  // Testing
        }

        &-input-box {  // Contains input, SVG icon & close icon (x)
            // background-color: #0000FF;  // Testing
            position: relative;  // Used to position close icon (x) & icon button (required)
            font-size: 1.5rem;  // Inherited by input
            color: #000000;  // Inherited by input (required)

            display: flex;
            align-items: center;  // Vertically centeres icon button & close icon (x)
        }

        &-icon-box {
            background-color: #FFFFFF;  // Makes button look like it's part of input
            display: inline-block;
            // padding: 1.5rem 2rem;
            border: none;  // Removes default button border
            // cursor: pointer;
            cursor: not-allowed;  // Prevents user from clicking button

            display: flex;  // Vertically centres icon

            position: absolute;  // Used to position icon button without creating space on the left
            left: .7rem;
        }

        &-icon {
            width: 2rem;
            height: 2rem;
            fill: #000000;
            // z-index: 5;  // Puts icon on top of input
        }

        &-input {
            // transition: all .6s;
            font-family: inherit;  // From global document
            font-size: inherit;  // From parent element
            color: inherit;  // From parent element
            border: none;
            border-radius: 0;  // Removes rounded corners
            padding: .8rem .5rem .8rem 3.1rem;  // Left padding prevents input text from overlapping icon!
            background-color: #FFFFFF;

            // flex: 0 0 70%;  // Relative to width of search bar
            flex: 0 0 100%;

            &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
                color: #948F8F;
            }

            &:focus {
                outline: none;
                // flex: 0 0 75%;
            }
        }

        &-clear-input {
            transition: right .6s;  // Transition duration should match input transition above
            position: absolute;
            right: 1%;  // Sets position of close icon (x)
            font-size: 2.2rem;
            font-weight: 300;
            color: #BD00AA;
            cursor: pointer;

            &--hide {
                display: none;
            }
        }

        &-input:focus + &-clear-input {
            right: 1%;
        }

        &-dropdown-content-box {
            background-color: #F4A4B4;  // Testing
            grid-area: search-dropdown;
        }

        &-button {
            background-color: #333333;  // Testing
            grid-area: search-button;
        }
    }

    // &__search-input-box-container {
    //     background-color: #0000FF;  // Testing
    // }

    // &__search-dropdown-content-box {
    //     background-color: #F4A4B4;  // Testing
    //     grid-area: search-dropdown;
    // }

    // &__search-button {
    //     background-color: #333333;  // Testing
    //     grid-area: search-button;
    // }
}