._9714 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

._9714 {
    display: grid;
    grid-template-rows: min-content 35vw repeat(2, min-content);
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.666rem) [col-end]) [centre-end] 1fr [full-end];  // 1160px total width for all columns
    

    /* This class will be added by JavaScript to display the dropdown menu when the 
        user clicks */
    &--remove-scrollbar {         
        overflow-y: hidden;
    }
}

// .course-accordion__header {
//     background-color: #0E49B5;
//     grid-column: full-start / full-end;
// }

// .course-accordion__video {
//     background-color: #808080;
//     grid-column: full-start / full-end;
// }

// .course-accordion__modules {
//     background-color: #F5F5DC;
//     grid-column: full-start / full-end;
// }

// .course-accordion__footer {
//     background-color: #333333;
//     grid-column: full-start / full-end;
// }