.form {

    &__group {
        margin-bottom: 1.6rem;
        font-size: 1.45rem;  // Inherited by inputs & textareas

        &--select-box {
            // background-color: #FFFF00;  // Testing
            position: relative;  // Used to position icon container
        }
    }

    &__group > label {
        font-size: 1.45rem;  // Controls size of form labels
    }

    &__group-col-block--1, &__group-col-block--2 {
        // background-color: grey;  // Testing

        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 2rem;  // Creates space between inputs

        @media only screen and (max-width: $bp-850) {  // 850px
            grid-template-rows: repeat(2, min-content);
            // grid-template-columns: none;
            grid-template-columns: auto;
        }
    }

    &__control {
        width: 100%;  // Makes inputs full width
        padding: 1.2rem;  // Controls size of inputs 
        margin-top: .6rem;  // Creates space between inputs & labels
        border: .1rem solid #CCCCCC;
        border-radius: .4rem;  // Creates rounded edges
        resize: vertical;  // Allow the user to vertically resize the textarea (not horizontally)
        font-size: inherit;  // Inherits font size set on parent element 

        &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
            color: #808080;
        }

        &:focus {
            outline: none;
            // box-shadow: .2rem -.2rem .48rem 0 #622EFF, -.2rem .2rem .48rem 0 #622EFF;
            box-shadow: .2rem -.2rem .48rem .15rem #6570EA, -.2rem .2rem .48rem .15rem #6570EA;
        }


        &--select-box { 
            appearance: none;  // Deactivates default system-level styling
            font-size: 1.45rem;  // Defines size of selected item (same as input labels - above)

            & > option {
                // font-size: 1.8rem;  // Defines size of item in dropdown
                font-size: 1.45rem;  // Defines size of item in dropdown (same as input labels - above)
            }
        }
    }

    &__small-text {
        font-size: 1.35rem;
    }

    // &__select-box-icon-box {
    //     // background-color: grey;  // Testing
    //     // background-color: darken($color: #2873FF, $amount: 12%);
    //     width: 3.5rem;
    //     height: 100%;  // align-self: stretch rule doesn't work!

    //     position: absolute;
    //     top: 1.4rem;
    //     right: 0;

    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }

    // &__select-box-icon {
    //     // width: 3rem;
    //     // height: 3rem;
    //     width: 2.4rem;
    //     height: 2.4rem;
    //     // fill: #FFFFFF;
    //     fill: #000000;
    // }

    &__group > textarea {
        height: 28rem;  // Controls height of textarea
    }

    &__btn {
        font-size: 1.6rem;
        display: inline-block;
        padding: 1.25rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default button border
        outline: none;  // Removes outline
        cursor: pointer;


        // Size Modifiers
        &--lg {
            padding: 1.5rem 1.2rem;
        }

        &--sm {
            padding: .85rem 1.2rem;
        }

        &--block {  // Creates full-width 'block' button
            width: 100%;
            display: block;
        }

        // Rounded Edges Modifier
        &--rounded {
            border-radius: .4rem;  // Same border radius as input, select and textarea
        }

        // Colour Modifiers
        &--primary {
            background-color: #0E49B5;
            color: #FFFFFF;

            &:hover {
                background-color: darken(#0E49B5, 5%);
            }
        }

    &--secondary {
        background-color: #808080;
        color: #050505;

        &:hover {
            background-color: darken(#808080, 5%);
        }
    }

    &--danger {
        background-color: #F44336;
        color: #050505;

        &:hover {
            background-color: lighten(#F44336, 5%);
        }
    }

    &--success {
        background-color: #04AA6D;
        color: #050505;

        &:hover {
            background-color: lighten(#04AA6D, 5%);
        }
    }

    &--info {
        background-color: #2196F3;
        color: #050505;

        &:hover {
            background-color: darken(#2196F3, 5%);
        }
    }

    &--warning {
        background-color: #FF9800;
        color: #050505;
        
        &:hover {
            background-color: lighten(#FF9800, 5%);
        }
    }

    &--dark {
        background-color: #050505;
        color: #FFFFFF;

        &:hover {
            color: darken(#FFFFFF, 5%);            
        }
    }

    &--royal {
        background-color: #BD00AA;
        color: #FFFFFF;

        &:hover {
            background-color: darken(#BD00AA, 5%);
        }
    }


    // Outline Colour Modifiers
    &--outline-primary {
        background-color: transparent;
        border: .15rem solid #0E49B5;

        &:hover {
            background-color: #0E49B5;
            color: #FFFFFF;
        }
    }

    &--outline-secondary {
        background-color: transparent;
        border: .15rem solid #808080;

        &:hover {
            background-color: #808080;
            color: #050505;
        }
    }

    &--outline-danger {
        background-color: transparent;
        border: .15rem solid #F44336;

        &:hover {
            background-color: #F44336;
            color: #050505;
        }
    }

    &--outline-success {
        background-color: transparent;
        border: .15rem solid #04AA6D;

        &:hover {
            background-color: #04AA6D;
            color: #050505;
        }
    }

    &--outline-info {
        background-color: transparent;
        border: .15rem solid #2196F3;
        color: #050505;

        &:hover {
            background-color: #2196F3;
            color: #050505;
        }
    }

    &--outline-warning {
        background-color: transparent;
        border: .15rem solid #FF9800;
        color: #050505;

        &:hover {
            background-color: #FF9800;
            color: #050505;
        }
    }

    &--outline-dark {
        background-color: transparent;
        border: .15rem solid #050505;
        color: #050505;

        &:hover {
            background-color: #050505;
            color: #FFFFFF;
        }
    }

    &--outline-royal {
        background-color: transparent;
        border: .15rem solid #BD00AA;
        color: #050505;

        &:hover {
            background-color: #BD00AA;
            color: #FFFFFF;
        }
    }
    }
}