._0157 {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: [full-start] 1fr [centre-start] repeat(12, [col-start] minmax(min-content, 9.67rem) [col-end]) [centre-end] 1fr [full-end];
}

._0157 > * {
    font-size: 2.6rem;
    padding: .5rem;
}

.blog-post__header {
    background-color: #00FFFF;
    grid-column: full-start / full-end;
}

.blog-post__content {
    background-color: #808080;
    grid-column: centre-start / centre-end;
}

.blog-post__footer {
    background-color: #7E0FC5;
    grid-column: full-start / full-end;
}