.top-section {
    background-color: #0E49B5;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    background-color: #EEEEEE;
    width: 100vw;

    .content {
        // background-color: grey;  // Testing
        width: 90%;
        margin: auto;
        padding: 13rem 0;
    }

    .card-box {
        // background-color: #00FF00;  // Testing
        width: 60%;
        margin: auto;
        padding: 1.2rem 0;
    }
}