*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.mobilenav {
  /* Add a black background color to the top navigation */
  background-color: #333333;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Hamburger menu icon */
  /* First Overlay */
  /* Second Overlay */
}
.mobilenav__icon {
  height: 2.4rem;
  margin-right: 0.8rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.mobilenav__icon-line {
  background-color: #FFFFFF;
  width: 3rem;
  height: 0.3rem;
}
.mobilenav__logo-link {
  background-color: grey;
  display: inline-block;
  text-decoration: none;
}
.mobilenav__logo {
  max-width: 4.5rem;
  height: auto;
  width: 100%;
  display: block;
}
.mobilenav__icon-box {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.mobilenav__icon--1 {
  width: 2.3rem;
  height: 2.3rem;
  fill: #FFFFFF;
  cursor: pointer;
}
.mobilenav__icon-link {
  display: inline-block;
  text-decoration: none;
}
.mobilenav__icon--2 {
  width: 2.3rem;
  height: 2.3rem;
  fill: #FFFFFF;
  cursor: pointer;
}
.mobilenav__overlay-1 {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  transition: 0.5s;
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
}
.mobilenav__form-closebtn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobilenav__search {
  background-color: #FFFF00;
  font-size: 1.5rem;
  position: relative;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  /* Dropdown Content (Hidden by Default) */
  /* Style the links inside the dropdown */
}
.mobilenav__search-input-dropdown-box {
  background-color: grey;
  transition: all 0.6s;
  flex: 0 0 100%;
}
.mobilenav__search-input-box {
  position: relative;
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem;
  /* IMPORTANT: The padding (above) should not be removed as it will change the position of the
     mangnifying glass icon. This padding also creates space between the input & dropdown 
     contents 
  */
  display: flex;
  align-items: center;
}
.mobilenav__search-icon-box {
  background-color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: not-allowed;
  display: flex;
  position: absolute;
  left: 1.7rem;
}
.mobilenav__search-icon {
  width: 2rem;
  height: 2rem;
  fill: #000000;
}
.mobilenav__search-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0.8rem 0.5rem 0.8rem 3.1rem;
  background-color: #FFFFFF;
  flex: 0 0 100%;
}
.mobilenav__search-input::-webkit-input-placeholder {
  color: #948F8F;
}
.mobilenav__search-input:focus {
  outline: none;
}
.mobilenav__search-clear-input {
  transition: right 0.6s;
  position: absolute;
  right: 3.5%;
  font-size: 2.2rem;
  font-weight: 300;
  color: #BD00AA;
  cursor: pointer;
}
.mobilenav__search-dropdown-content {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.mobilenav__search-dropdown-link {
  font-size: 1.35rem;
  font-weight: 400;
  color: #000000;
  padding: 1.2rem 1.6rem 1.2rem 0.8rem;
  text-decoration: none;
  display: block;
  text-align: left;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  /* Add a black background to dropdown links on hover */
}
.mobilenav__search-dropdown-link:hover {
  background-color: #fafafa;
}
.mobilenav__search-dropdown-link::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -0.6rem;
  background-image: url("../images/SVG/magnifying-glass.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .mobilenav__search-dropdown-link::before {
    background-color: #000000;
    -webkit-mask-image: url("../images/SVG/magnifying-glass.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/magnifying-glass.svg");
    mask-size: cover;
    background-image: none;
  }
}
.mobilenav__search-dropdown-no-results {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 100%;
  min-width: 28.3rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  padding: 0.8rem 0;
}
.mobilenav__search-dropdown-no-results-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  display: inline-block;
}
.mobilenav__overlay-2 {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  transition: all 0.35s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  overflow-y: hidden;
}
.mobilenav__overlay-2.mobilenav__overlay-2--hidden {
  visibility: hidden;
  opacity: 0;
}
.mobilenav__overlay-2-content-box {
  background-color: #EEEEEE;
  width: 22rem;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.mobilenav__content-box-1 {
  border-bottom: 0.1rem solid #A9A6A6;
}
.mobilenav__photo-text-box {
  background-color: #0000FF;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
}
.mobilenav__photo-box {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: none;
}
.mobilenav__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mobilenav__text-box-1 {
  position: relative;
}
.mobilenav__text-1 {
  font-size: 1.8rem;
  font-weight: 400;
  width: 6rem;
  height: 6rem;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobilenav__notification {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #BD00AA;
  position: absolute;
  top: 0.5rem;
  right: 0.05rem;
}
.mobilenav__text-2 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #222222;
  line-height: 1.3;
}
.mobilenav__text-3 {
  font-size: 1.3rem;
  color: #222222;
}
.mobilenav__icon--3 {
  width: 2.4rem;
  height: 2.4rem;
  fill: #222222;
}
.mobilenav__link-box {
  background-color: #00FF00;
  padding: 1rem;
}
.mobilenav__heading {
  font-size: 1.3rem;
  font-weight: 400;
  color: #555555;
  display: block;
}
.mobilenav__link {
  font-size: 1.4rem;
  color: #222222;
  display: inline-block;
  text-decoration: none;
}

.top-section {
  background-color: #0E49B5;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #F2F2F2;
  width: 100vw;
}
.middle-section .content {
  width: 90%;
  margin: auto;
  padding: 12rem 0;
}
.middle-section .mobile-container {
  background-color: #555555;
  max-width: 48rem;
  margin: auto;
  height: 50rem;
  color: #FFFFFF;
  border-radius: 1rem;
  position: relative;
}

/*# sourceMappingURL=styles.css.map */
