.course-card {
    transition: all .3s;
    width: 40%;  // Controls size of card (optional)
    border-radius: .5rem;
    border: .15rem solid #BBB9B9;  // Makes card stand out (optional)
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, .2);
    background-color: #FFFFFF;  // Testing

    &:hover {
        box-shadow: 0 .4rem 1.6rem 0 rgba(0, 0, 0, .2);
    }

    &__header {
        padding: 1rem;
        border-bottom: .1rem solid #A9A6A6;  // Creates visible spearation between header and body
        border-radius: .5rem .5rem 0 0;  // Applies border radius to top-left & top-right corners only
        background-color: darken(#FFFFFF, 6%);

        height: 20rem;  // Makes image visible (required)
        
        background-image: url('../images/img-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        transform: scale(1);

        /* This class will be added by JavaScript to hide the header if it's not 
           needed anymore */
           &--hide {
            display: none;
        }

        position: relative;  // Used to position .course-card__text-icon-box-1 (below)
    }

    &__text-icon-box-1 {
        background-color: #0000FF;  // Testing
        // height: 20rem;  // Makes image visible (required)

        // background-image: url('../images/img-1.jpg');
        // background-position: center center;
        // background-repeat: no-repeat;
        // background-attachment: fixed;
        // background-size: cover;
        // transform: scale(1);


        position: absolute;  // Positioned relative to .course-card__header (above)
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // display: flex;
        // align-items: center;

        // flex-direction: column;

        display: grid;
        grid-template-rows: repeat(2, min-content);

        row-gap: 1rem;  // Creates space between icon & preview text
    }

    &__icon-box {
        background-color: #FFFFFF;
        // width: 3.8rem;
        // height: 3.8rem;
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 50%;  // Creates perfect circle

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 0 auto;  // Centres icon horizontally
    }

    &__icon-1 {
        width: 3.5rem;
        height: 3.5rem;
    }

    &__text-box-1 {
        background-color: #FF0000;  // Testing
        // margin-top: 1rem;  // Creates space between icon & preview text
    }

    &__text-1 {
        // font-size: 1.4rem;
        font-size: 1.5rem;
    }

    &__body {
        // padding: .2rem 1.6rem;
        padding: 1rem;
    }

    &__content {

        &-box-1 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-text-icon-box-2 {
            // background-color: #0000FF;  // Testing

            display: flex;
            justify-content: center;
            align-items: center;
        }

        // &-icon-box {
        //     background-color: #FFFFFF;
        //     width: 3.8rem;
        //     height: 3.8rem;
        //     border-radius: 50%;  // Creates perfect circle

        //     display: flex;
        //     justify-content: center;
        //     align-items: center;
        // }

        &-icon-2 {
            // width: 2.5rem;
            // height: 2.5rem;
            width: 1.75rem;
            height: 1.75rem;
            // fill: #000000;
            fill: #5624D0;
        }

        &-text-box-2 {
            // background-color: #FF0000;  // Testing
            margin-bottom: .3rem;  // Creates space between text & button
        }

        &-text-2 {
            font-size: 1.2rem;
        }

        &-button-box {
            background-color: #00FF00;  // Testing
            margin-bottom: .8rem;  // Creates space between text & button
            text-align: center;  // Centres link button
        }

        &-link-1 {
            font-size: 1.6rem;
            color: #FFFFFF;
            // display: inline-block;
            display: block;
            // padding: .5rem 1.2rem;
            // padding: 1rem 1.2rem;  // Less vertical (top & bottom) padding for links
            padding: 1.4rem 1.2rem;  // Large link
            // padding: .65rem 1.2rem;  // Small link
            min-width: 8rem;
            text-decoration: none;  // Removes underline
            // border-radius: .5rem;  // Creates slightly rounded edges
            background-color: #000000;
        }

        &-text-box-3 {
            background-color: #FF0000;  // Testing
            margin-bottom: 1.6rem;  // Creates space between text & button
            text-align: center;
        }

        &-text-box-4 {
            background-color: #FF0000;  // Testing
        }

        &-text-4 {
            font-size: 1.2rem;
        }

        &-text-icon-box-3 {
            background-color: #0000FF;  // Testing
            margin-bottom: 1.8rem;

            display: grid;
            grid-template-rows: repeat(3, min-content);
            grid-template-columns: max-content 1fr;

            gap: 1.2rem;
        }

        &-icon-3, &-icon-4, &-icon-5,
        &-icon-6, &-icon-7, &-icon-8,
        &-icon-9, &-icon-10 {
            width: 2rem;
            height: 2rem;
            fill: #2d2f31;
        }
    }

    &__footer {
        padding: 1rem;
        border-top: .1rem solid #A9A6A6;  // Creates visible spearation between header and body
        border-radius: 0 0 .5rem .5rem;  // Applies border radius to bottom-left & bottom-right corners only
        background-color: darken(#FFFFFF, 6%);
    }

    &__text-box {
        // background-color: #FF0000;  // Testing
        width: 90%;
        margin: auto;
        text-align: center;
    }

    &__text {
        font-size: 1.8rem;
    }
}