.review {
    background-color: #FFFFFF;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, .2);
    padding: 1rem;
    position: relative;  // Used to position quotation mark
    overflow: hidden;  // Hides clipped part of quotation mark

    &:hover {
        box-shadow: 0 .4rem 1.6rem 0 rgba(0, 0, 0, .2);
    }

    &__text-box {
        background-color: #FF0000;  // Testing
    }

    &__text-1 {
        font-size: 1.5rem;
    }

    &__photo-box {
        width: 15rem;
        border-radius: 50%;
        overflow: hidden;

        margin: 0 auto;  // Centres photo
    }

    &__photo {
        width: 100%;
        height: auto;
        display: block;
        // border-radius: 50%;
    }

    &__text-2 {
        font-size: 1.2rem;
        font-style: italic;
        display: inline-block;
    }
}