.review {
    background-color: #FFFFFF;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, .2);
    padding: 1rem;
    position: relative;  // Used to position quotation mark
    overflow: hidden;  // Hides clipped part of quotation mark

    &:hover {
        box-shadow: 0 .4rem 1.6rem 0 rgba(0, 0, 0, .2);
    }

    &__text-box {
        background-color: #FF0000;  // Testing
    }

    &__text {
        font-size: 1.5rem;
    }
}