/* Tooltip container */
.popup {
    position: relative;  // Used to position tooltip text
    display: inline-block;
    border-bottom: .1rem dotted #000000;
    
    /* Clickable text */
    &__hover-text {
        font-size: 1.4rem;  // Used to size clickable text
        cursor: pointer;
    }

    &__text {
        visibility: hidden;
        width: 16rem;
        background-color: #555555;
        font-size: 1.4rem;
        color: #FFFFFF;
        text-align: center;
        padding: .8rem 0;
        border-radius: .6rem;

        /* Position the tooltip text */
        position: absolute;
        z-index: 1;
        top: -.8rem;  // Vertically centres tooltip
        left: 115%;  // Puts tooltip on the right of clickable text
    }
    
    /* Tooltip arrow */
    &__text::after {
        content: '';
        position: absolute;
        top: 50%;  // Vertically centres arrow
        right: 100%;  // Puts arrow on the left
        margin-top: -.5rem;
        border-width: .5rem;
        border-style: solid;
        border-color: transparent #555555 transparent transparent;
    }
    
    /* Toggle this class when clicking on the popup container (hide and show the popup) */
    .show {
        visibility: visible;
        // animation-name: fadeIn;
        // animation-duration: 1s; 
        animation: fadeIn 1s;
    }
}