.btn {
    // TECHNIQUE #1
    // font-size: 1.6rem;
    // display: inline-block;
    // padding: 1.5rem 2rem;
    // border: none;  // Removes default button border
    // outline: none;  // Removes outline
    // cursor: pointer;


    // TECHNIQUE #2 (preferred)
    font-size: 1.6rem;
    display: inline-block;
    // padding: 0 1.2rem;
    padding: 1.25rem 1.2rem;
    min-width: 8rem;
    border: none;  // Removes default button border
    outline: none;  // Removes outline
    cursor: pointer;
       
    
    // Size Modifiers
    &--lg {
        // font-size: 1.8rem;
        // padding: 1.5rem 4rem;
        padding: 1.5rem 1.2rem;
    }

    &--sm {
        // font-size: 1.5rem;
        // padding: 1.2rem 1.4rem;
        padding: .85rem 1.2rem;
    }

    &--block {  // Creates full-width 'block' button
        width: 100%;
        display: block;
    }

    // Link Modifier
    &--link {
        // padding: 1.2rem 1.7rem;  // Less padding for links
        padding: 1rem 1.2rem;  // Less padding for links
        text-decoration: none;
    }

    // Link Size Modifiers
    &--link-sm {
        // font-size: 1.5rem;
        // padding: 1.1rem 1.25rem;
        padding: .65rem 1.2rem;
    }

    &--link-lg {
        // font-size: 1.8rem;
        // padding: 1.3rem 3.8rem;
        // padding: 1.5rem 1.2rem;
        padding: 1.4rem 1.2rem;
    }

    // Colour Modifiers
    &--primary {
        background-color: #0E49B5;
        color: #FFFFFF;

        &:hover {
            background-color: darken(#0E49B5, 5%);
        }
    }

    &--secondary {
        background-color: #808080;
        color: #050505;

        &:hover {
            background-color: darken(#808080, 5%);
        }
    }

    &--danger {
        background-color: #F44336;
        color: #050505;

        &:hover {
            background-color: lighten(#F44336, 5%);
        }
    }

    &--success {
        background-color: #04AA6D;
        color: #050505;

        &:hover {
            background-color: lighten(#04AA6D, 5%);
        }
    }

    &--info {
        background-color: #2196F3;
        color: #050505;

        &:hover {
            background-color: darken(#2196F3, 5%);
        }
    }

    &--warning {
        background-color: #FF9800;
        color: #050505;
        
        &:hover {
            background-color: lighten(#FF9800, 5%);
        }
    }

    &--dark {
        background-color: #050505;
        color: #FFFFFF;

        &:hover {
            color: darken(#FFFFFF, 5%);            
        }
    }

    &--royal {
        background-color: #BD00AA;
        color: #FFFFFF;

        &:hover {
            background-color: darken(#BD00AA, 5%);
        }
    }


    // Outline Colour Modifiers
    &--outline-primary {
        background-color: transparent;
        border: .15rem solid #0E49B5;

        &:hover {
            background-color: #0E49B5;
            color: #FFFFFF;
        }
    }

    &--outline-secondary {
        background-color: transparent;
        border: .15rem solid #808080;

        &:hover {
            background-color: #808080;
            color: #050505;
        }
    }

    &--outline-danger {
        background-color: transparent;
        border: .15rem solid #F44336;

        &:hover {
            background-color: #F44336;
            color: #050505;
        }
    }

    &--outline-success {
        background-color: transparent;
        border: .15rem solid #04AA6D;

        &:hover {
            background-color: #04AA6D;
            color: #050505;
        }
    }

    &--outline-info {
        background-color: transparent;
        border: .15rem solid #2196F3;
        color: #050505;

        &:hover {
            background-color: #2196F3;
            color: #050505;
        }
    }

    &--outline-warning {
        background-color: transparent;
        border: .15rem solid #FF9800;
        color: #050505;

        &:hover {
            background-color: #FF9800;
            color: #050505;
        }
    }

    &--outline-dark {
        background-color: transparent;
        border: .15rem solid #050505;
        color: #050505;

        &:hover {
            background-color: #050505;
            color: #FFFFFF;
        }
    }

    &--outline-royal {
        background-color: transparent;
        border: .15rem solid #BD00AA;
        color: #050505;

        &:hover {
            background-color: #BD00AA;
            color: #FFFFFF;
        }
    }
}