*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.carousel {
  background-color: grey;
  width: 60%;
  margin: auto;
  padding: 13rem 0;
  /* Next & previous controls */
  /* On hover, add a black background color with a little bit see-through */
  /* On hover, add a black background color with a little bit see-through */
}
.carousel__content {
  background-color: #EEEEEE;
  display: grid;
  grid-template-rows: repeat(5, 5vw);
  grid-template-columns: max-content repeat(6, 1fr) max-content;
}
.carousel__content > * {
  font-size: 2.6rem;
  color: #FFFFFF;
  padding: 0.5rem;
}
.carousel__prev, .carousel__next {
  /* For styling icons alone with buttons */
  /* For styling buttons with icons inside */
  transition: 0.6s ease;
  display: inline-block;
  padding: 0.4rem;
  border: none;
  border-radius: 0 0.3rem 0.3rem 0;
  cursor: pointer;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__prev:hover, .carousel__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.carousel__prev {
  background-color: #F1425D;
  grid-column: 1/2;
  grid-row: 3/4;
  align-self: center;
  z-index: 3;
}
.carousel__next {
  background-color: #0000FF;
  grid-column: 8/9;
  grid-row: 3/4;
  align-self: center;
  z-index: 3;
}
.carousel__next-icon, .carousel__prev-icon {
  width: 6rem;
  height: 6rem;
  fill: #D8D2D2;
}
.carousel__slides {
  background-color: #00FF00;
  grid-column: 1/-1;
  grid-row: 1/-1;
  overflow: hidden;
}
.carousel__slide-gallery {
  width: 160%;
  height: 100%;
  display: flex;
  column-gap: 0.7rem;
}
.carousel__slide {
  background-color: grey;
  width: 100%;
  height: 100%;
  position: relative;
}
.carousel__text-photo-box-1 {
  background-color: #0000FF;
}
.carousel__text-box-1 {
  background-color: #FF0000;
}
.carousel__text-1 {
  font-size: 2.8rem;
}
.carousel__text-2 {
  font-size: 2.5rem;
}
.carousel__text-3 {
  font-size: 2.2rem;
}
.carousel__photo-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.carousel__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.carousel__text-box-2 {
  background-color: #FF0000;
}
.carousel__icon-1 {
  width: 1.4rem;
  height: 1.4rem;
}
.carousel__text-4 {
  font-size: 1.6rem;
}
.carousel__info-section {
  background-color: #808080;
}
.carousel__indicators {
  background-color: #333333;
  z-index: 5;
  grid-column: 4/6;
  grid-row: 5/6;
  display: flex;
  justify-content: flex-start;
  column-gap: 0.7rem;
  text-align: center;
}

.top-section {
  background-color: #BD00AA;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #FFFCDC;
  width: 100vw;
}

/*# sourceMappingURL=styles.css.map */
