/* ANIMATION STYLES */

[data-animation] > .modal__dialog {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
  
[data-animation].modal__visible > .modal__dialog {
    opacity: 1;
    transition-delay: 0.2s;
}
  
[data-animation='slideInOutDown'] > .modal__dialog {
    transform: translateY(100%);
}
  
[data-animation='slideInOutTop'] > .modal__dialog {
    transform: translateY(-100%);
}
  
  [data-animation='slideInOutLeft'] > .modal__dialog {
    transform: translateX(-100%);
  }
  
  [data-animation='slideInOutRight'] > .modal__dialog {
    transform: translateX(100%);
  }
  
  [data-animation='zoomInOut'] > .modal__dialog {
    transform: scale(0.2);
  }
  
  [data-animation='rotateInOutDown'] > .modal__dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
  }
  
  [data-animation='mixInAnimations'].modal__visible > .modal__dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
  }
  
  [data-animation='slideInOutDown'].modal__visible > .modal__dialog,
  [data-animation='slideInOutTop'].modal__visible > .modal__dialog,
  [data-animation='slideInOutLeft'].modal__visible > .modal__dialog,
  [data-animation='slideInOutRight'].modal__visible > .modal__dialog,
  [data-animation='zoomInOut'].modal__visible > .modal__dialog,
  [data-animation='rotateInOutDown'].modal__visible > .modal__dialog {
    transform: none;
  }
  
@keyframes mixInAnimations {
    0% {
        transform: translateX(-100%);
    }
  
    10% {
        transform: translateX(0);
    }
  
    20% {
        transform: rotate(20deg);
    }
  
    30% {
        transform: rotate(-20deg);
    }
  
    40% {
        transform: rotate(15deg);
    }
  
    50% {
        transform: rotate(-15deg);
    }
  
    60% {
        transform: rotate(10deg);
    }
  
    70% {
        transform: rotate(-10deg);
    }
  
    80% {
        transform: rotate(5deg);
    }
  
    90% {
        transform: rotate(-5deg);
    }
  
    100% {
        transform: rotate(0deg);
    }
}