*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.column-dropdown {
  position: relative;
  display: inline-block;
  /* Dropdown Button */
  /* Dropdown Content (Hidden by Default) */
  /* Style the links inside the dropdown */
}
.column-dropdown__btn {
  background-color: #A71198;
  font-size: 1.55rem;
  color: #FFFFFF;
  display: inline-block;
  padding: 1rem 1.2rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.column-dropdown__btn:hover {
  color: #f2f2f2;
}
.column-dropdown__icon {
  width: 2.8rem;
  height: 2.8rem;
  fill: #FFFFFF;
}
.column-dropdown__content-1 {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 18rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.column-dropdown__content-2 {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 18rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.column-dropdown__content-3 {
  position: absolute;
  top: 100%;
  min-width: 18rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.column-dropdown:hover > .column-dropdown__content-3 {
  display: block;
}
.column-dropdown__link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  /* Add a black background to dropdown links on hover */
}
.column-dropdown__link--1, .column-dropdown__link--2, .column-dropdown__link--3 {
  display: block;
  display: flex;
  justify-content: space-between;
}
.column-dropdown__link--4, .column-dropdown__link--5, .column-dropdown__link--6 {
  display: block;
  display: flex;
  justify-content: space-between;
}
.column-dropdown__link--7, .column-dropdown__link--8, .column-dropdown__link--9 {
  display: block;
  display: flex;
  justify-content: space-between;
}
.column-dropdown__link--1::after, .column-dropdown__link--2::after, .column-dropdown__link--3::after, .column-dropdown__link--4::after, .column-dropdown__link--5::after, .column-dropdown__link--6::after, .column-dropdown__link--7::after, .column-dropdown__link--8::after, .column-dropdown__link--9::after {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-image: url("../images/SVG/keyboard_arrow_right.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .column-dropdown__link--1::after, .column-dropdown__link--2::after, .column-dropdown__link--3::after, .column-dropdown__link--4::after, .column-dropdown__link--5::after, .column-dropdown__link--6::after, .column-dropdown__link--7::after, .column-dropdown__link--8::after, .column-dropdown__link--9::after {
    background-color: #000000;
    -webkit-mask-image: url("../images/SVG/keyboard_arrow_right.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/keyboard_arrow_right.svg");
    mask-size: cover;
    background-image: none;
  }
}
.column-dropdown__link:hover {
  color: #3475ED;
}
.column-dropdown__content-4, .column-dropdown__content-5, .column-dropdown__content-6, .column-dropdown__content-7 {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 18rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-section {
  background-color: #0E49B5;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #EEEEEE;
}
.middle-section .content {
  background-color: grey;
  width: 90%;
  margin: auto;
  padding: 13rem 0 15rem 0;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
