*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}
@media only screen and (max-width: 65.375em) {
  html {
    font-size: 56.25%;
  }
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.topnav-1 {
  /* Add a black background color to the top navigation */
  background-color: #333333;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10%;
  /* Style the links inside the navigation bar */
  /* Dropdown container - needed to position the dropdown content */
  /* Dropdown button */
  /* Style the dropdown content (hidden by default) */
  /* Style the links inside the dropdown */
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  /* Mobile Navbar */
}
@media only screen and (max-width: 65.9375em) {
  .topnav-1 {
    column-gap: 8%;
  }
}
@media only screen and (max-width: 61.375em) {
  .topnav-1 {
    column-gap: 7%;
  }
}
.topnav-1__logo-link {
  display: inline-block;
}
.topnav-1__logo {
  max-width: 3rem;
  height: auto;
  width: 100%;
  display: block;
}
.topnav-1__icon {
  display: none;
  margin-right: 0.8rem;
  cursor: pointer;
}
.topnav-1__icon-line {
  background-color: #FFFFFF;
  width: 3rem;
  height: 0.3rem;
}
.topnav-1__icon-line:first-child {
  margin-bottom: 0.6rem;
}
.topnav-1__icon-line:last-child {
  margin-top: 0.6rem;
}
.topnav-1__link-box {
  flex: 0 0 80%;
  display: flex;
  align-items: center;
}
.topnav-1__link {
  font-size: 1.55rem;
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  padding: 1.3rem 1.5rem;
  display: inline-block;
  /* Add an active class to highlight the current page */
  /* Dropdown Content (Hidden by Default) */
}
.topnav-1__link:hover {
  color: #FFFFFF;
  background-color: #555555;
}
.topnav-1__link--active {
  color: #FFFFFF;
  background-color: #04AA6D;
}
.topnav-1__link-dot-dropdown {
  display: inline-block;
}
.topnav-1__link-dot-icon-box {
  display: none;
}
.topnav-1__link-dot-icon {
  width: 2.1rem;
  height: 2.1rem;
  fill: #F2F2F2;
}
.topnav-1__link-dot-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 14.5rem;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
.topnav-1__link-dot-dropdown-content--show {
  display: block;
}
.topnav-1__link-dot-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: none;
  text-align: left;
  /* Add a black background to dropdown links on hover */
}
.topnav-1__link-dot-link:hover {
  color: #EEEEEE;
  background-color: #333333;
}
.topnav-1__click-dropdown {
  background-color: #333333;
}
.topnav-1__click-dropdown:hover {
  color: #FFFFFF;
  background-color: #555555;
}
.topnav-1__click-dropdown-btn {
  background-color: inherit;
  font-size: 1.55rem;
  border: none;
  outline: none;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0.8rem 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav-1__click-dropdown-btn:hover {
  color: #FFFFFF;
  background-color: #555555;
}
.topnav-1__click-dropdown-btn:focus {
  color: #f2f2f2;
}
.topnav-1__click-dropdown-icon {
  width: 3.15rem;
  height: 3.15rem;
  fill: #FFFFFF;
}
.topnav-1__click-dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 18rem;
  padding: 1rem;
  background-color: #F9F9F9;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  /* This class will be added by JavaScript to display the dropdown menu when the 
     user clicks */
}
.topnav-1__click-dropdown-content--show {
  display: block;
}
.topnav-1__click-dropdown-link {
  font-size: 1.5rem;
  color: #000000;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  text-align: left;
  /* Add a grey background to dropdown links on hover */
}
.topnav-1__click-dropdown-link:hover {
  color: #000000;
  background-color: #DDDDDD;
}
.topnav-1__search {
  font-size: 1.5rem;
  position: relative;
  flex: 0 0 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Dropdown Content (Hidden by Default) */
  /* Style the links inside the dropdown */
}
.topnav-1__search-input-dropdown-box {
  background-color: grey;
  transition: all 0.6s;
  flex: 0 0 70%;
}
.topnav-1__search-input-box {
  position: relative;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}
.topnav-1__search-icon-box {
  background-color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: not-allowed;
  display: flex;
  position: absolute;
  left: 0.7rem;
}
.topnav-1__search-icon {
  width: 2rem;
  height: 2rem;
  fill: #000000;
}
.topnav-1__search-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0.8rem 0.5rem 0.8rem 3.1rem;
  background-color: #FFFFFF;
  flex: 0 0 100%;
}
.topnav-1__search-input::-webkit-input-placeholder {
  color: #948F8F;
}
.topnav-1__search-input:focus {
  outline: none;
}
.topnav-1__search-clear-input {
  transition: right 0.6s;
  position: absolute;
  right: 1%;
  font-size: 2.2rem;
  font-weight: 300;
  color: #BD00AA;
  cursor: pointer;
}
.topnav-1__search-clear-input--hide {
  display: none;
}
.topnav-1__search-input:focus + .topnav-1__search-clear-input {
  right: 1%;
}
.topnav-1__search-input:focus ~ .topnav-1__search-list {
  width: 75%;
  left: 7%;
}
.topnav-1__search-dropdown-content {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 100%;
  min-width: 48.8rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.topnav-1__search-dropdown-link {
  font-size: 1.35rem;
  font-weight: 400;
  color: #000000;
  padding: 1.2rem 1.6rem 1.2rem 0.8rem;
  text-decoration: none;
  display: block;
  text-align: left;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  /* Add a black background to dropdown links on hover */
}
.topnav-1__search-dropdown-link:hover {
  background-color: #fafafa;
}
.topnav-1__search-dropdown-link::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -0.6rem;
  background-image: url("../images/SVG/magnifying-glass.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .topnav-1__search-dropdown-link::before {
    background-color: #000000;
    -webkit-mask-image: url("../images/SVG/magnifying-glass.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/magnifying-glass.svg");
    mask-size: cover;
    background-image: none;
  }
}
.topnav-1__search-dropdown-no-results {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 100%;
  min-width: 44rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  padding: 0.8rem 0;
}
.topnav-1__search-dropdown-no-results-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  display: inline-block;
}
.topnav-1__search-button {
  border: none;
  font-size: inherit;
  color: #FFFFFF;
  padding: 0 1.5rem;
  background-color: #000000;
  cursor: pointer;
  align-self: stretch;
}
.topnav-1-mobilenav {
  /* Add a black background color to the top navigation */
  background-color: #333333;
  overflow: hidden;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  /* Hamburger menu icon */
  /* Menu links */
  /* The container <div> - needed to position the dropdown content */
  /* Dropdown button */
  /* Dropdown Content (Hidden by Default) */
  /* Style the links inside the dropdown */
}
.topnav-1-mobilenav__logo-link {
  margin-left: 0.5rem;
}
.topnav-1-mobilenav__logo {
  max-width: 4.5rem;
  height: auto;
  width: 100%;
  display: block;
}
.topnav-1-mobilenav__icon {
  margin-right: 0.8rem;
  cursor: pointer;
}
.topnav-1-mobilenav__icon-line {
  background-color: #FFFFFF;
  width: 3rem;
  height: 0.3rem;
}
.topnav-1-mobilenav__icon-line:first-child {
  margin-bottom: 0.6rem;
}
.topnav-1-mobilenav__icon-line:last-child {
  margin-top: 0.6rem;
}
.topnav-1-mobilenav__mobile-menu {
  background-color: #555555;
  display: none;
  padding: 1.5rem;
}
.topnav-1-mobilenav__link-box {
  display: none;
}
.topnav-1-mobilenav__link {
  font-size: 1.5rem;
  color: #F2F2F2;
  text-decoration: none;
  padding: 1.4rem 1.6rem 1.4rem 0.48rem;
  display: block;
}
.topnav-1-mobilenav__hover-dropdown {
  display: block;
  margin-left: 0.4rem;
  margin-bottom: 0.5rem;
}
.topnav-1-mobilenav__hover-dropbtn {
  background-color: #333333;
  font-size: 1.5rem;
  color: #FFFFFF;
  padding: 0.3rem 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topnav-1-mobilenav__caret-icon {
  width: 3rem;
  height: 3rem;
  fill: #FFFFFF;
}
.topnav-1-mobilenav__hover-dropdown-content {
  display: none;
  position: initial;
  padding: 1rem;
  width: 98%;
  background-color: #F1F1F1;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  /* This class will be added by JavaScript to display the dropdown menu when the
     user clicks */
}
.topnav-1-mobilenav__hover-dropdown-content--show {
  display: block;
}
.topnav-1-mobilenav__hover-dropdown-link {
  font-size: 1.35rem;
  color: #000000;
  padding: 1.2rem 1.4rem 1.2rem 1rem;
  text-decoration: none;
  display: block;
  text-align: left;
  /* Add a black background to dropdown links on hover */
}
.topnav-1-mobilenav__hover-dropdown-link:hover {
  color: #F2F2F2;
  background-color: #333333;
}
.topnav-1-mobilenav__search {
  font-size: 1.5rem;
  position: relative;
  margin-left: 0.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* Dropdown Content (Hidden by Default) */
  /* Style the links inside the dropdown */
}
.topnav-1-mobilenav__search-input-dropdown-box {
  background-color: grey;
  transition: all 0.6s;
  flex: 0 0 70%;
}
.topnav-1-mobilenav__search-input-box {
  position: relative;
  font-size: 1.5rem;
  color: #000000;
  display: flex;
  align-items: center;
}
.topnav-1-mobilenav__search-icon-box {
  background-color: #FFFFFF;
  display: inline-block;
  border: none;
  cursor: not-allowed;
  display: flex;
  position: absolute;
  left: 0.7rem;
}
.topnav-1-mobilenav__search-icon {
  width: 2rem;
  height: 2rem;
  fill: #000000;
}
.topnav-1-mobilenav__search-input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0.8rem 0.5rem 0.8rem 3.1rem;
  background-color: #FFFFFF;
  flex: 0 0 100%;
}
.topnav-1-mobilenav__search-input::-webkit-input-placeholder {
  color: #948F8F;
}
.topnav-1-mobilenav__search-input:focus {
  outline: none;
}
.topnav-1-mobilenav__search-clear-input {
  transition: right 0.6s;
  position: absolute;
  right: 1%;
  font-size: 2.2rem;
  font-weight: 300;
  color: #BD00AA;
  cursor: pointer;
}
.topnav-1-mobilenav__search-clear-input--hide {
  display: none;
}
.topnav-1-mobilenav__search-input:focus + .topnav-1-mobilenav__search-clear-input {
  right: 1%;
}
.topnav-1-mobilenav__search-input:focus ~ .topnav-1-mobilenav__search-list {
  width: 75%;
  left: 7%;
}
.topnav-1-mobilenav__search-dropdown-content {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 100%;
  min-width: 33.3rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.topnav-1-mobilenav__search-dropdown-link {
  font-size: 1.35rem;
  font-weight: 400;
  color: #000000;
  padding: 1.2rem 1.6rem 1.2rem 0.8rem;
  text-decoration: none;
  display: block;
  text-align: left;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  /* Add a black background to dropdown links on hover */
}
.topnav-1-mobilenav__search-dropdown-link:hover {
  background-color: #fafafa;
}
.topnav-1-mobilenav__search-dropdown-link::before {
  content: "";
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: -0.6rem;
  background-image: url("../images/SVG/magnifying-glass.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .topnav-1-mobilenav__search-dropdown-link::before {
    background-color: #000000;
    -webkit-mask-image: url("../images/SVG/magnifying-glass.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/magnifying-glass.svg");
    mask-size: cover;
    background-image: none;
  }
}
.topnav-1-mobilenav__search-dropdown-no-results {
  background-color: #FFFFFF;
  transition: all 0.6s;
  display: none;
  position: absolute;
  top: 100%;
  min-width: 33.3rem;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  padding: 0.8rem 0;
}
.topnav-1-mobilenav__search-dropdown-no-results-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  display: inline-block;
}
.topnav-1-mobilenav__search-button {
  border: none;
  font-size: inherit;
  color: #FFFFFF;
  padding: 0 1.5rem;
  background-color: #000000;
  cursor: pointer;
  align-self: stretch;
}

.top-section {
  width: 100vw;
}

/*# sourceMappingURL=styles.css.map */
