.footer {
    background-color: #444444;
    padding: .8rem;  // Creates space inside the footer (optional, but recommended!)

    &__box {
        background-color: grey;  // Testing
        width: 90%;
        margin: 0 auto;
    }

    &__link-box {
        background-color: #00FF00;  // Testing

        display: flex;
        justify-content: center;

        column-gap: .4rem;  // Creates space between links
    }

    &__link {
        font-size: 1.8rem;
        color: #FFFFFF;
        padding: .8rem;
        text-decoration: none;
        display: inline-block;

        // background-color: #050505;  // Testing

        &:hover {
            background-color: #050505;
        }
    }

    &__icon-box {
        // background-color: #0000FF;  // Testing
    }

    &__icon-link {
        display: inline-block;
        text-decoration: none;
    }

    &__social-icon-1, &__social-icon-2, &__social-icon-3, &__social-icon-4 {
        width: 2.2rem;
        height: 2.2rem;
    }

    &__social-icon-1 {
        fill: #0000FF;
    }

    &__social-icon-2 {
        fill: #0404f1;
    }

    &__social-icon-3 {
        fill: #7E0FC5;
    }

    &__social-icon-4 {
        fill: #FFFFFF;
    }
}