.top-section {
    background-color: #0E49B5;
    height: 15vh;
    width: 100vw;
}

.middle-section {
    background-color: #F1F1F1;
    width: 100vw;
}

.content {
    // background-color: grey;  // Testing
    width: 60%;
    margin: auto;
}

.text-box-2 {
    // background-color: #FF0000;  // Testing
    width: 90%;
    margin: auto;
    padding-top: 14rem;
    text-align: center;
}

.text-2 {
    font-size: 3.4rem;
}

.text-box-3 {
    // background-color: #FF0000;  // Testing
    width: 90%;
    margin: auto;
    padding-top: 3rem;
}

.text-3 {
    font-size: 1.6rem;
}