.action-dropdown {
    position: relative;  // Needed to position dropdown content (.dropdown__content)
    display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)

    /* Dropdown Button */
    &__btn {
        background-color: #A71198;
        font-size: 1.55rem;
        color: #FFFFFF;
        display: inline-block;
        padding: 1rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default border
        outline: none;  // Removes outline
        cursor: pointer;
       

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text

        &:hover {  // Darken text a tiny bit when button is hovered on
            color: darken(#FFFFFF, 5%);
        }
    }

    &__icon-1 {
        width: 2.8rem;
        height: 2.8rem;
        fill: #FFFFFF;
    }

    /* Dropdown Content (Hidden by Default) */
    &__content {
        // display: none;
        position: absolute;  // Positions content outside dropdown (required)
        // top: 100%;  // Puts content directly beneath dropdown
        top: 103%;  // Places dropdown beneath button with a tiny gap
        // min-width: 14.5rem;  // Controls width of dropdown content
        min-width: 18rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        z-index: 1;  // Puts dropdown in front of other elements


        &-box-1 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-text-box-1 {
            background-color: #FF0000;  // Testing
        }
    
        &-text-1 {
            font-size: 1.6rem;
            color: #6A6F73;
        }
    
        &-text-2 {
            font-size: 1.4rem;
            display: inline-block;
        }

        &-list-text-box {
            background-color: #0000FF;  // Testing
        }

        &-text-box-2 {
            background-color: #FF0000;  // Testing
        }

        &-text-3 {
            font-size: 1.6rem;
            color: #6A6F73;
        }

        &-list-box {
            background-color: #FFFF00;  // Testing
        }

        &-list-item {}

        &-box-2 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-icon-2, &-icon-3, &-icon-4, &-icon-5 {
            // width: 2.8rem;
            // height: 2.8rem;
            width: 2.2rem;
            height: 2.2rem;
            // fill: #FFFFFF;
            // fill: #000000;
            fill: currentColor;
        }
    }

    &:hover > &__content {  // Shows dropdown when user hovers over dropdown button
        display: block;
    }

    // &__content-box-2 {
    //     // background-color: #FFFF00;  // Testing
    //     border-bottom: .1rem solid #A9A6A6;
    // }

    &__button {
        // background-color: #A71198;
        background-color: #F1F1F1;  // Same background colour as .action-dropdown__content (above)
        font-size: 1.55rem;
        // color: #FFFFFF;
        color: #000000;
        width: 100%; 
        // display: inline-block;
        display: block; 
        padding: 1rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default border
        outline: none;  // Removes outline
        cursor: pointer;

        display: flex;  // NB: Must come after display: block (above)!
        justify-content: flex-start;
        // justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text

        // column-gap: .8rem;  // Creates space between text & icon

        &:hover {
            color: #3475ED;
        }

        &:focus {  // Darken text a tiny bit when button is clicked
            color: darken(#FFFFFF, 5%);
        }
    }

    // &__icon-2, &__icon-3, &__icon-4, &__icon-5 {
    //     // width: 2.8rem;
    //     // height: 2.8rem;
    //     width: 2.2rem;
    //     height: 2.2rem;
    //     // fill: #FFFFFF;
    //     // fill: #000000;
    //     fill: currentColor;
    // }
}