.side-overlay-navbar {
    transition: 0.5s;
    height: 100%;  // Makes it FULL height 
    width: 0;  // Changed with JavaScript 
    position: fixed;  // Keeps sidenav in fixed position 
    top: 0;
    left: 0;
    z-index: 1;  // Keeps sidenav on top
    // padding-top: 15px;  // Small-screen 
    overflow-x: hidden;  // This MUST be present! 
    background-color: #111111;

    &__account-user-name {
        font-size: 1.4rem;
        color: #FFFF00;
        display: inline-block;  // Allows vertical margin to be applied
        padding-left: 3.2rem;  // SAME as left padding applied to <a></a> tags below 
        padding-bottom: 20px;
        // background-color: #FF0000; 
    }

    &__closebtn  {
        transition: right .6s;  // Transition duration should match input transition above
        position: absolute;
        right: 1%;  // Sets position of close icon (x)
        font-size: 2.2rem;
        font-weight: 300;
        color: #BD00AA;
        cursor: pointer;

        &--hide {
            display: none;
        }
    }
}