.side-overlay-navbar {
    transition: 0.5s;
    height: 100%;  // Makes it FULL height 
    width: 0;  // Changed with JavaScript 
    position: fixed;  // Keeps sidenav in fixed position 
    top: 0;
    left: 0;
    // z-index: 1;  // Keeps sidenav on top
    z-index: 1050;  // Places sidenav above everything else
    overflow-x: hidden;  // This MUST be present! 
    background-color: #111111;

    width: 25rem;  // Testing

    // display: flex;  // Testing
    // justify-content: flex-start;

    // flex-direction: column;


    &__text-box {
        // background-color: #FF0000;  // Testing
        margin-top: 4.5rem;  // Creates distance from top
    }

    &__account-user-name {
        // font-size: 1.4rem;
        font-size: 2rem;
        color: #FFFF00;
        display: inline-block;  // Allows vertical margin to be applied
        padding: .8rem;  // SAME as padding applied to links below
        // margin-left: 3rem;  // Puts user name at roughly the same level as links below
    }

    &__closebtn  {
        transition: 0.3s;
        position: absolute;
        // top: 5rem;
        // right: 4.5rem;
        top: 2.8rem;
        // right: 2.3rem;
        right: 1.8rem;
        display: inline-block;
        font-size: 4.2rem; 
        font-weight: 300;
        // color: #EEEEEE;
        color: #818181;
        cursor: pointer;

        line-height: 0;  // Controls vertical height of HTML entity

        &:hover {
            // color: #000000;
            color: #F1F1F1;
        }

        // background-color: grey;  // Testing
    }

    &__link-box {
        // background-color: #00FF00;  // Testing
        margin-top: 1.2rem;  // Creates space between user's name & links
    }
    
    /* The navigation menu links */
    &__link {
        // padding: 8px 8px 8px 32px;
        // font-size: 1.4rem;  
        // color: #EEEEEE;
        // line-height: 1.1;
        // text-decoration: none;  // Removes underline 
        // display: block;  // Lines up menu items vertically

        transition: 0.3s;
        // font-size: 2.25rem;
        // font-size: 3.6rem;
        // font-size: 3.2rem;  // Testing
        font-size: 2.5rem;  // Testing
        color: #818181;
        line-height: 1.3;
        padding: .8rem;
        display: block;  // Makes links occupy full width
        text-decoration: none;

        display: flex;
        align-items: center;

        column-gap: .5rem;  // Creates space between icon & text

        &:hover,
        &:focus {
            color: #F1F1F1;
        }
    }

    &__icon-1, &__icon-2, &__icon-3, &__icon-4 {
        width: 2.4rem;
        height: 2.4rem;
        fill: currentColor;
    }
}