.top-section {
    background-color: #E2DCC8;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    // background-color: #F1F1F1;
    // background-color: #ADD8E6;
    background-color: #FFFFFF;
    width: 100vw;

    .content {
        // background-color: grey;  // Testing
        width: 90%;
        margin: auto;
        padding: 14rem 0;
    }

    .button-text-box {
        // background-color: #FFFF00;  // Testing
        background-color: #F2F2F2;
        width: 60%;  // Controls size of form
        margin: auto;
        padding: 2rem;
        border-radius: .5rem;
    }

    .text-box {
        background-color: #FF0000;  // Testing
    }

    .text {
        font-size: 1.8rem;
    }
    
    /* Tooltip container */
    .tooltip {
        position: relative;  // Used to position tooltip text
        display: inline-block;
        border-bottom: .1rem dotted #000000;

        &__text {
            // transition: opacity 1s;  // Slowly fades in tooltip text (optional)
            transition: opacity .3s;
            visibility: hidden;
            display: inline-block;  // Makes Box Model work normally
            // width: 12rem;  // Sets size of tooltip contents
            width: 16rem;  // Sets size of tooltip contents
            background-color: #555555;
            font-size: 1.4rem;
            color: #FFFFFF;
            text-align: center;
            padding: .5rem 0;
            border-radius: .6rem;
        
        /* Position the tooltip text */
        position: absolute;
        left: 50%;
        bottom: 125%;  // Puts tooltip above hoverable text
        z-index: 1;
        // margin-left: -6rem;  // Use half of the width (12rem/2 = 6rem), to center the tooltip
        margin-left: -8rem;  // Use half of the width (16rem/2 = 8rem), to center the tooltip

        /* Fade in tooltip */
        opacity: 0;
        
        /* Tooltip arrow */
        &::after {
            content: '';
            position: absolute;
            top: 100%;  // Places arrow at the bottom of tooltip
            left: 50%;  // Centres the arrow
            margin-left: -.5rem;  // Should be the same value as border width (below)
            border-width: .5rem;  // Specifies arrow size
            border-style: solid;
            border-color: #555555 transparent transparent transparent;
        }
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        &:hover {

            .tooltip__text {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .copy-text {
        font-size: 1.6rem;
        display: inline-block;
        // padding: 0 1.2rem;
        padding: 1.25rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default button border
        outline: none;  // Removes outline
        cursor: pointer;
    }
}