.top-section {
    background-color: #E2DCC8;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    // background-color: #F1F1F1;
    // background-color: #ADD8E6;
    background-color: #FFFFFF;
    width: 100vw;

    .content {
        // background-color: grey;  // Testing
        width: 90%;
        margin: auto;
        padding: 14rem 0;
    }

    .button-text-box {
        // background-color: #FFFF00;  // Testing
        background-color: #F2F2F2;
        width: 60%;  // Controls size of form
        margin: auto;
        padding: 2rem;
        border-radius: .5rem;
    }

    .text-box {
        background-color: #FF0000;  // Testing
    }

    .text {
        font-size: 1.8rem;
    }
    
    /* Tooltip container */
    .tooltip {
        position: relative;  // Used to position tooltip text
        display: inline-block;
        border-bottom: .1rem dotted #000000;
    }

    .copy-text {
        font-size: 1.6rem;
        display: inline-block;
        // padding: 0 1.2rem;
        padding: 1.25rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default button border
        outline: none;  // Removes outline
        cursor: pointer;
    }
}