*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.form__group {
  margin-bottom: 1.6rem;
  font-size: 1.45rem;
}
.form__group > label {
  font-size: 1.45rem;
}
.form__control {
  width: 100%;
  padding: 1.2rem;
  margin-top: 0.6rem;
  border: 0.1rem solid #CCCCCC;
  border-radius: 0.4rem;
  resize: vertical;
  font-size: inherit;
}
.form__control::-webkit-input-placeholder {
  color: #808080;
}
.form__control:focus {
  outline: none;
  box-shadow: 0.2rem -0.2rem 0.48rem 0.15rem #6570EA, -0.2rem 0.2rem 0.48rem 0.15rem #6570EA;
}
.form__icon-box {
  display: inline-block;
  position: absolute;
  visibility: hidden; /* Hides icons by default, but still part of DOM */
}
.form__small-text {
  font-size: 1.35rem;
}
.form__group > textarea {
  height: 28rem;
}
.form__mb-0 {
  margin-bottom: 0;
}
.form__login-prompt-box {
  margin-top: 0.5rem;
  margin-bottom: 1.6rem;
}
.form__login-prompt {
  font-size: 1.35rem;
}
.form__login-link {
  text-decoration: none;
}
.form__btn {
  font-size: 1.6rem;
  display: inline-block;
  padding: 1.25rem 1.2rem;
  min-width: 8rem;
  border: none;
  cursor: pointer;
}
.form__btn--lg {
  padding: 1.5rem 1.2rem;
}
.form__btn--block {
  width: 100%;
  display: block;
}
.form__btn--rounded {
  border-radius: 0.4rem;
}
.form__btn--primary {
  background-color: #0E49B5;
  color: #FFFFFF;
}
.form__btn--primary:hover {
  background-color: #0c3f9d;
}
.form__btn--secondary {
  background-color: #808080;
  color: #050505;
}
.form__btn--secondary:hover {
  background-color: #737373;
}
.form__btn--danger {
  background-color: #F44336;
  color: #050505;
}
.form__btn--danger:hover {
  background-color: #f55a4e;
}
.form__btn--success {
  background-color: #04AA6D;
  color: #050505;
}
.form__btn--success:hover {
  background-color: #05c37d;
}
.form__btn--info {
  background-color: #2196F3;
  color: #050505;
}
.form__btn--info:hover {
  background-color: #0d8aee;
}
.form__btn--warning {
  background-color: #FF9800;
  color: #050505;
}
.form__btn--warning:hover {
  background-color: #ffa21a;
}
.form__btn--dark {
  background-color: #050505;
  color: #FFFFFF;
}
.form__btn--dark:hover {
  color: #f2f2f2;
}
.form__btn--royal {
  background-color: #BD00AA;
  color: #FFFFFF;
}
.form__btn--royal:hover {
  background-color: #a40093;
}
.form__btn--outline-primary {
  background-color: transparent;
  border: 0.15rem solid #0E49B5;
}
.form__btn--outline-primary:hover {
  background-color: #0E49B5;
  color: #FFFFFF;
}
.form__btn--outline-secondary {
  background-color: transparent;
  border: 0.15rem solid #808080;
}
.form__btn--outline-secondary:hover {
  background-color: #808080;
  color: #050505;
}
.form__btn--outline-danger {
  background-color: transparent;
  border: 0.15rem solid #F44336;
}
.form__btn--outline-danger:hover {
  background-color: #F44336;
  color: #050505;
}
.form__btn--outline-success {
  background-color: transparent;
  border: 0.15rem solid #04AA6D;
}
.form__btn--outline-success:hover {
  background-color: #04AA6D;
  color: #050505;
}
.form__btn--outline-info {
  background-color: transparent;
  border: 0.15rem solid #2196F3;
  color: #050505;
}
.form__btn--outline-info:hover {
  background-color: #2196F3;
  color: #050505;
}
.form__btn--outline-warning {
  background-color: transparent;
  border: 0.15rem solid #FF9800;
  color: #050505;
}
.form__btn--outline-warning:hover {
  background-color: #FF9800;
  color: #050505;
}
.form__btn--outline-dark {
  background-color: transparent;
  border: 0.15rem solid #050505;
  color: #050505;
}
.form__btn--outline-dark:hover {
  background-color: #050505;
  color: #FFFFFF;
}
.form__btn--outline-royal {
  background-color: transparent;
  border: 0.15rem solid #BD00AA;
  color: #050505;
}
.form__btn--outline-royal:hover {
  background-color: #BD00AA;
  color: #FFFFFF;
}

.top-section {
  background-color: #E2DCC8;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #FFFFFF;
  width: 100vw;
}
.middle-section .content {
  width: 90%;
  margin: auto;
  padding: 14rem 0;
}
.middle-section .form-box {
  background-color: #F2F2F2;
  width: 60%;
  margin: auto;
  padding: 2rem;
  border-radius: 0.5rem;
}

/*# sourceMappingURL=styles.css.map */
