*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.full-screen-overlay-navbar {
  transition: 0.5s;
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
}
.full-screen-overlay-navbar__closebtn {
  transition: 0.3s;
  position: absolute;
  top: 5rem;
  right: 4.5rem;
  font-size: 4.2rem;
  font-weight: 300;
  color: #818181;
  cursor: pointer;
  line-height: 0;
  background-color: grey;
}
.full-screen-overlay-navbar__closebtn:hover {
  color: #F1F1F1;
}
.full-screen-overlay-navbar__content {
  background-color: #808080;
  position: relative;
  top: 25%;
}
.full-screen-overlay-navbar__menu {
  background-color: #FFFF00;
  list-style-type: none;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: repeat(4, 1fr);
}
.full-screen-overlay-navbar__menu-item {
  border: 0.25rem solid #050505;
}
.full-screen-overlay-navbar__menu-item-link {
  transition: 0.3s;
  font-size: 3.6rem;
  color: #818181;
  padding: 0.8rem;
  display: inline-block;
  text-decoration: none;
}
@media only screen and (max-width: 71.875em) {
  .full-screen-overlay-navbar__menu-item-link {
    font-size: 3rem;
  }
}
.full-screen-overlay-navbar__menu-item-link:hover, .full-screen-overlay-navbar__menu-item-link:focus {
  color: #F1F1F1;
}
.full-screen-overlay-navbar__social-media-link-box {
  background-color: #00FF00;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}
.full-screen-overlay-navbar__social-media-link {
  display: inline-block;
  text-decoration: none;
}
.full-screen-overlay-navbar__social-media-link-icon-1, .full-screen-overlay-navbar__social-media-link-icon-2, .full-screen-overlay-navbar__social-media-link-icon-3, .full-screen-overlay-navbar__social-media-link-icon-4 {
  width: 8rem;
  height: 8rem;
}
@media only screen and (max-width: 71.875em) {
  .full-screen-overlay-navbar__social-media-link-icon-1, .full-screen-overlay-navbar__social-media-link-icon-2, .full-screen-overlay-navbar__social-media-link-icon-3, .full-screen-overlay-navbar__social-media-link-icon-4 {
    width: 6rem;
    height: 6rem;
  }
}
.full-screen-overlay-navbar__social-media-link-icon-1 {
  fill: #0000FF;
}
.full-screen-overlay-navbar__social-media-link-icon-2 {
  fill: #0404f1;
}
.full-screen-overlay-navbar__social-media-link-icon-3 {
  fill: #7E0FC5;
}
.full-screen-overlay-navbar__social-media-link-icon-4 {
  fill: #FFFFFF;
}

.top-section {
  background-color: #0E49B5;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #EEEEEE;
  width: 100vw;
  padding: 13rem 0;
  display: flex;
  justify-content: center;
}
.middle-section .btn {
  font-size: 1.8rem;
  display: inline-block;
  padding: 1.5rem 2rem;
  border: none;
  cursor: pointer;
}
.middle-section .btn--dark {
  background-color: #050505;
  color: #FFFFFF;
}
.middle-section .btn--dark:hover {
  color: #f2f2f2;
}

/*# sourceMappingURL=styles.css.map */
