.copy-text {

    &__readonly {

        &-input-box {  // Contains readonly input & button
            background-color: #808080;  // Testing
            font-size: 1.5rem;  // Inherited by input
            color: #000000;  // Inherited by input (required)
    
            display: flex;
            align-items: center;  // Vertically centres input & button
        }

        &-input {
            // transition: all .6s;
            font-family: inherit;  // From global document
            font-size: inherit;  // From parent element
            color: inherit;  // From parent element
            border: none;
            border-radius: 0;  // Removes rounded corners
            // padding: .8rem .5rem .8rem 3.1rem;  // Left padding prevents input text from overlapping icon!
            // padding: .8rem .5rem;  // Testing
            // padding: .5rem .25rem;  // Testing
            padding: 1.2rem;
            background-color: #FFFFFF;
    
            // // flex: 0 0 70%;  // Relative to width of search bar
            // flex: 0 0 100%;
            // flex: 0 0 60%;  // Relative to width of parent (.copy-text__readonly-input-box)
    
            flex: 1;  // Makes input & button exactly fit parent (.copy-text__readonly-input-box)
    
            // &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
            //     color: #948F8F;
            // }
    
            &:focus {
                outline: none;
                // flex: 0 0 75%;
            }
        }
        
        /* Tooltip container */
        &-tooltip {
            position: relative;  // Used to position tooltip text
            display: inline-block;
            border-bottom: .1rem dotted #000000;

            &-button {
                // font-size: inherit;  // Same font size as input text
                // color: #FFFFFF;
                // display: inline-block;
                // padding: 0 1.5rem;  // Left & right padding controls button width
                // min-width: 8rem;
                // border: none;  // Removes default button border
                // outline: none;  // Removes outline
                // cursor: pointer;
                // background-color: #000000;
    
                font-size: 1.6rem;
                color: #FFFFFF;
                display: inline-block;
                // padding: 0 1.2rem;
                padding: 1.25rem 1.2rem;
                // padding: 1.5rem 1.2rem;  // Large button
                // padding: .85rem 1.2rem;  // Small button
                min-width: 8rem;
                border: none;  // Removes default button border
                outline: none;  // Removes outline
                cursor: pointer;
                background-color: #000000;
            }

            &-text {
                // transition: opacity 1s;  // Slowly fades in tooltip text (optional)
                transition: opacity .3s;
                visibility: hidden;
                display: inline-block;  // Makes Box Model work normally
                width: 12rem;  // Sets size of tooltip contents
                background-color: #555555;
                font-size: 1.4rem;
                color: #FFFFFF;
                text-align: center;
                padding: .5rem 0;
                border-radius: .6rem;
            
                /* Position the tooltip text */
                position: absolute;
                left: 50%;
                bottom: 125%;  // Puts tooltip above hoverable text
                z-index: 1;
                margin-left: -6rem;  // Use half of the width (12rem/2 = 6rem), to center the tooltip
    
                /* Fade in tooltip */
                opacity: 0;
            
                /* Tooltip arrow */
                &::after {
                    content: '';
                    position: absolute;
                    top: 100%;  // Places arrow at the bottom of tooltip
                    left: 50%;  // Centres the arrow
                    margin-left: -.5rem;  // Should be the same value as border width (below)
                    border-width: .5rem;  // Specifies arrow size
                    border-style: solid;
                    border-color: #555555 transparent transparent transparent;
                }
            }

            /* Show the tooltip text when you mouse over the tooltip container */
            // &:hover {

            //     .copy-text__readonly-tooltip-text {
            //         visibility: visible;
            //         opacity: 1;
            //     }
            // }

            /* Show the tooltip when you mouse over the tooltip container */
            &:hover > .copy-text__readonly-tooltip-text {
                visibility: visible;
                opacity: 1;
            } 
        }
    }
}