.mobilenav {
    /* Add a black background color to the top navigation */
    background-color: #333333;
    // overflow: hidden;  // Hides overflow (required)

    // padding: .3rem 0;  // Top and bottom padding increases height (optional)

    padding: 1.5rem;  // Puts logo & hamburger icon in the same position as they are in the overlay!

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-link {
        background-color: grey;  // Testing
        // margin-left: .5rem;
        display: inline-block;
    }

    &__logo {
        max-width: 4.5rem;
        height: auto;
        width: 100%;
        display: block;  // Prevents whitespace appearing
    }

    &__icon-box {
        // background-color: #00FF00;  // Testing

        display: flex;
        align-items: center;  // Vertically centres icons

        column-gap: .5rem;
    }

    &__search-icon-1 {
        width: 2.3rem;
        height: 2.3rem;
        fill: #FFFFFF;
        cursor: pointer;
    }
    
    /* Hamburger menu icon */
    &__bars-icon {
        // STYLING TECHNIQUE #1
        // // display: none;
        // margin-right: .8rem;
        // cursor: pointer;

        // &-line {
        //     background-color: #FFFFFF;
        //     width: 3rem;
        //     height: .3rem;
        //     // margin-bottom: .4rem;
        //     // margin-right: 1.5rem;

        //     &:first-child {
        //         margin-bottom: .6rem;  // Creates space below first bar
        //     }

        //     &:last-child {
        //         margin-top: .6rem;  // Creates space above third bar
        //     }
        // }

        
        // STYLING TECHNIQUE #2
        // background-color: #0000FF;  // Testing
        height: 2.4rem;  // Height needed to use flexbox (below)
        // display: none;
        margin-right: .8rem;
        cursor: pointer;

        display: flex;
        justify-content: space-between;  // Spaces out the bars (required)

        flex-direction: column;

        &-line {
            background-color: #FFFFFF;
            width: 3rem;
            height: .3rem;
            // margin-bottom: .4rem;
            // margin-right: 1.5rem;
        }
    }
    
    /* First Overlay */
    &__overlay-1 {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */
        transition: 0.5s; 
        height: 100%;
        width: 0;
        
        // Use if you want overlay to slide down from top (not recommended)
        // height: 0%;
        // width: 100%;

        // Use if you want to show overlay without animation
        // width: 100%;
        // height: 100%;
        // display: none;

        // position: fixed;  // Stay in place 
        position: absolute;  // Testing
        top: 0;
        left: 0;
        z-index: 1;  // Sit on top
        // background-color: rgba(0, 0, 0, .9);
        background-color: #000000;  // Full black prevents contents been seen behind!
        overflow-x: hidden;  // Disables horizontal scroll
        transition: 0.5s;  // 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal)
        
        // width: 100%;  // Testing
    }

    &__form-closebtn-box {
        // background-color: #FFFF00;  // Testing

        // padding: .3rem 0;  // Top and bottom padding increases height (optional)

        padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search {
        // background-color: #FFFF00;  // Testing
        font-size: 1.5rem;  // Inherited by button
        position: relative;  // Used to position search bar dropdown

        flex: 0 0 90%;  // Relative to width of parent

        display: flex;
        // justify-content: center;
        align-items: center;

        &-input-dropdown-box {  // Wrapper that holds input box & dropdown box
            background-color: grey;  // Testing
            transition: all .6s;  // Controls rate at which flex basis changes

            flex: 0 0 70%;  // Relative to width of search bar

            // flex: 0 0 100%;
        }

        &-input-box {  // Contains input, SVG icon & close icon (x)
            // background-color: #0000FF;  // Testing
            position: relative;  // Used to position close icon (x) & icon button (required)
            font-size: 1.5rem;  // Inherited by input
            color: #000000;  // Inherited by input (required)

            display: flex;
            align-items: center;  // Vertically centres icon button & close icon (x)
        }

        &-icon-box {
            background-color: #FFFFFF;  // Makes button look like it's part of input
            display: inline-block;
            // padding: 1.5rem 2rem;
            border: none;  // Removes default button border
            // cursor: pointer;
            cursor: not-allowed;  // Prevents user from clicking button

            display: flex;  // Vertically centres icon

            position: absolute;  // Used to position icon button without creating space on the left
            left: .7rem;
        }

        &-icon-2 {
            width: 2rem;
            height: 2rem;
            fill: #000000;
            // z-index: 5;  // Puts icon on top of input
        }

        &-input {
            // transition: all .6s;
            font-family: inherit;  // From global document
            font-size: inherit;  // From parent element
            color: inherit;  // From parent element
            border: none;
            border-radius: 0;  // Removes rounded corners
            padding: .8rem .5rem .8rem 3.1rem;  // Left padding prevents input text from overlapping icon!
            background-color: #FFFFFF;

            // flex: 0 0 70%;  // Relative to width of search bar
            flex: 0 0 100%;

            &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
                color: #948F8F;
            }

            &:focus {
                outline: none;
                // flex: 0 0 75%;
            }
        }

        &-clear-input {
            transition: right .6s;  // Transition duration should match input transition above
            position: absolute;
            right: 1%;  // Sets position of close icon (x) 
            font-size: 2.2rem;
            font-weight: 300;
            color: #BD00AA;
            cursor: pointer;

            &--hide {
                display: none;
            }
        }

        &-input:focus + &-clear-input {
            right: 1%;
        }

        /* Dropdown Content (Hidden by Default) */
        &-dropdown-content {
            // background-color: grey;  // Testing
            background-color: #FFFFFF;  // Same background colour as input (above)
            transition: all .6s;  // Controls rate at which min-width changes
            display: none;  // Should change when user starts typing
            position: absolute;
            // top: 100%;  // Positions dropdown directly beneath search bar (.mobilenav__search) 
            top: 103%;  // Places dropdown beneath search bar (.mobilenav__search) with a tiny gap

            // min-width: 41rem;  // Controls width of dropdown content
            min-width: 28.3rem;  // Controls width of dropdown content
            // background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements
        }

        /* Style the links inside the dropdown */
        &-dropdown-link {
            // font-size: 1.5rem; 
            font-size: 1.35rem;
            font-weight: 400;  // Bolder font makes link text stand out
            color: #000000;
            // padding: 1.2rem 1.6rem;
            padding: 1.2rem 1.6rem 1.2rem .8rem;  // Reduced left padding makes dropdown icon align with search bar icon
            text-decoration: none;
            display: block;  // Allows vertical padding & makes links occupy container

            display: flex;
            align-items: center;  // Vertically centres icon & links

            column-gap: .8rem;  // Creates space between icon & links
        
            /* Add a black background to dropdown links on hover */
            &:hover {
                // color: #EEEEEE;
                // background-color: #333333;
                background-color: darken(#FFFFFF, 2%);
            }

            &::before {
                content: '';
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
                margin-right: -.6rem;  // Brings text closer to icon

                // Older browsers
                background-image: url('../images/SVG/magnifying-glass.svg');
                background-size: cover;


                // Newer browsers
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: #000000;
                    -webkit-mask-image: url('../images/SVG/magnifying-glass.svg');
                    -webkit-mask-size: cover;  // Makes icon cover entire element
                    mask-image: url('../images/SVG/magnifying-glass.svg');
                    mask-size: cover;
                    background-image: none;  // Prevents background image (above) from being used
                }
            }
        }

        &-dropdown-no-results {
            // background-color: grey;  // Testing
            background-color: #FFFFFF;  // Same background colour as input (above)
            transition: all .6s;  // Controls rate at which min-width changes
            display: none;  // Should change when user starts typing
            position: absolute;
            // top: 100%;  // Positions dropdown directly beneath search bar (.mobilenav__search) 
            top: 103%;  // Places dropdown beneath search bar (.mobilenav__search) with a tiny gap

            // min-width: 48.8rem;  // Controls width of dropdown content
            min-width: 28.3rem;  // Controls width of dropdown content
            // background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements

            text-align: center;  // Centres text below
            padding: .8rem 0;

            &-text {
                font-size: 1.5rem;  // Samefont size as input text
                // font-size: 1.35rem;
                font-weight: 500;  // Bolder font makes text stand out
                color: #000000;
                display: inline-block;
            }
        }

        &-button {
            font-size: inherit;  // Same font size as input text
            color: #FFFFFF;
            display: inline-block;
            padding: 0 1.5rem;  // Left & right padding controls button width
            min-width: 8rem;
            // background-color: #000000;
            background-color: #948F8F;
            border: none;  // Removes default button border
            outline: none;  // Removes outline
            cursor: pointer;

            align-self: stretch;  // Makes button occupy the full height of search bar (Flex container)
        }
    }

    /* Position the close button (top right corner) */
    &__closebtn {
        transition: 0.3s;  // Transition effects on hover (color) 
        margin-right: .5rem;  // Same as left margin set on logo
        width: 2.4rem;
        height: 2.4rem;
        fill: #FFFFFF;
        cursor: pointer;

        // background-color: grey;  // Testing
    }

    /* Second overlay */
    &__overlay-2 {
        /* Height & width depends on how you want to reveal the overlay (see JS below) */
        transition: 0.5s; 
        height: 100%;
        width: 0;
        
        // Use if you want overlay to slide down from top (not recommended)
        // height: 0%;
        // width: 100%;

        // Use if you want to show overlay without animation
        // width: 100%;
        // height: 100%;
        // display: none;

        // position: fixed;  // Stay in place
        position: absolute;  // Testing
        top: 0;
        left: 0;
        z-index: 1;  // Sit on top
        // background-color: rgba(0, 0, 0, .9);
        background-color: #000000;  // Full black prevents contents been seen behind!
        overflow-x: hidden;  // Disables horizontal scroll
        transition: 0.5s;  // 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal)
        
        // width: 100%;  // Testing
    }

    &__logo-closebtn-box {
        // background-color: #FFFF00;  // Testing

        // padding: .3rem 0;  // Top and bottom padding increases height (optional)

        padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {
        background-color: grey;  // Testing
        display: inline-block;
        // margin-left: .5rem;
    }

    &__logo {
        max-width: 4.5rem;
        height: auto;
        width: 100%;
        display: block;  // Prevents whitespace appearing
    }
    
    /* Hamburger menu icon */
    // &__icon {
    //     // STYLING TECHNIQUE #1
    //     // // display: none;
    //     // margin-right: .8rem;
    //     // cursor: pointer;

    //     // &-line {
    //     //     background-color: #FFFFFF;
    //     //     width: 3rem;
    //     //     height: .3rem;
    //     //     // margin-bottom: .4rem;
    //     //     // margin-right: 1.5rem;

    //     //     &:first-child {
    //     //         margin-bottom: .6rem;  // Creates space below first bar
    //     //     }

    //     //     &:last-child {
    //     //         margin-top: .6rem;  // Creates space above third bar
    //     //     }
    //     // }

        
    //     // STYLING TECHNIQUE #2
    //     // background-color: #0000FF;  // Testing
    //     height: 2.4rem;  // Height needed to use flexbox (below)
    //     // display: none;
    //     margin-right: .8rem;
    //     cursor: pointer;

    //     display: flex;
    //     justify-content: space-between;  // Spaces out the bars (required)

    //     flex-direction: column;

    //     &-line {
    //         background-color: #FFFFFF;
    //         width: 3rem;
    //         height: .3rem;
    //         // margin-bottom: .4rem;
    //         // margin-right: 1.5rem;
    //     }
    // }
    
    /* Position the close button (top right corner) */
    &__closebtn {
        // transition: 0.3s;  // Transition effects on hover (color) 
        // margin-right: .5rem;  // Same as left margin set on logo
        // width: 2.4rem;
        // height: 2.4rem;
        // fill: #FFFFFF;
        // cursor: pointer;

        // // background-color: grey;  // Testing


        transition: 0.3s;
        display: inline-block;
        position: absolute;
        // top: 5rem;
        // right: 4.5rem;
        top: 3rem;
        right: 1.5rem;

        font-size: 4.2rem; 
        font-weight: 300;
        color: #EEEEEE;
        // color: #818181;
        cursor: pointer;

        line-height: 0;  // Controls vertical height of HTML entity

        &:hover {
            // color: #000000;
            color: #F1F1F1;
        }

        // background-color: grey;  // Testing
    }

    &__accordion-box {
        // background-color: #0000FF;  // Testing
        // text-align: center;  // Centres buttons
        margin-top: 2.4rem;  // Creates space between accordion & logo/close icon

        padding: 1.5rem;  // Prevents accordion touching the edge of viewport
    }

    &__accordion {
        /* Style the buttons that are used to open and close the accordion panel */
        // background-color: #EEEEEE;
        background-color: rgba(0, 0, 0, .9);
        // background-color: #000000;
        font-size: 1.5rem;
        // color: #444444;
        color: #FFFFFF;
        // border: none;  // Removes default button border
        outline: none;  // Removes outline
        padding: 1.8rem;
        width: 100%;  // Makes button occupy full width of accordion
        transition: all .4s;
        cursor: pointer;

        &:not(:last-child) {  // Applies top border to all buttons, except the last
            border-top-style: solid;
            border-top-width: .05rem;
            border-top-color: #FFFFFF;
        }

        // Use Flexbox to position icon (preferred)
        display: flex;
        justify-content: space-between;  // Puts button text & icon on opposite sides


        // TECHNIQUE #1: Use HTML Entities (?)    
        // &::after {
        //     content: '\02795';  // Unicode character for "plus" sign (+)
        //     font-size: 1.3rem;
        //     color: #777777;

        //     // Use float property to position icon
        //     float: right;
        //     // margin-left: .5rem;
        // }
    
        // /* The .active class will be added by JavaScript */
        // &.active, &:hover {
        //     background-color: #CCCCCC;
        // }

        // &.active::after {
        //     content: '\2796';  // Unicode character for "minus" sign (-)
        // }

        // TECHNIQUE #2: Include the SVG in CSS (preferred)
        &::after {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;

            // Older browsers
            background-image: url('../images/SVG/add.svg');
            background-size: cover;


            // Newer browsers
            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                background-color: #FFFF00;
                -webkit-mask-image: url('../images/SVG/add.svg');
                -webkit-mask-size: cover;  // Makes icon cover entire element
                mask-image: url('../images/SVG/add.svg');
                mask-size: cover;
                background-image: none;  // Prevents background image (above) from being used
            }
        }

        /* The .active class will be added by JavaScript */
        // &.active, &:hover {
        //     background-color: #CCCCCC;
        // }

        &.active::after {
            content: '';
            display: inline-block;
            width: 2rem;
            height: 2rem;
            // margin-right: .15rem;  // Moves icon to left slightly

            // Older browsers
            background-image: url('../images/SVG/remove.svg');
            background-size: cover;


            // Newer browsers
            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                background-color: #FFFF00;
                -webkit-mask-image: url('../images/SVG/remove.svg');
                -webkit-mask-size: cover;  // Makes icon cover entire element
                mask-image: url('../images/SVG/remove.svg');
                mask-size: cover;
                background-image: none;  // Prevents background image (above) from being used
            }
        }
        
        /* The accordion panel */
        &-panel {
            // background-color: #FFFFFF;
            background-color: rgba(0, 0, 0, .9);
            padding: 0 1.8rem;
            display: none;  // Hides content by default (remove if using code below!)
            overflow: hidden;
        
            // For animated accordion
            // max-height: 0;
            // transition: max-height .2s ease-out;
        }

        &-text-icon-box {  // Used to position text & icon
            // background-color: #0000FF;  // Testing
            padding-top: .8rem;  // Creates space between sub-items & top border (see below)
            padding-bottom: .8rem;  // Creates equal space underneath each sub-item

            display: flex;
            justify-content: space-between;
            align-items: center;

            &:not(:last-child) {  // Applies top border to all sub-items, except the last
                border-top-style: solid;
                border-top-width: .05rem;
                border-top-color: #FFFFFF;
            }
        }
        
        &-text-box {
            // background-color: #FF0000;  // Testing
            flex: 0 0 18%;  // Allows text & icon to be visible
        }

        &-text {
            font-size: 1.5rem;
            color: #FFFFFF;
            margin-left: -.8rem;  // Moves text left (Alternative below)
            // transform: translateX(-.8rem);

            display: flex;
            align-items: center;  // Vertically centres icon & text!

            &::before {
                content: '';
                display: inline-block;
                width: 3rem;
                height: 3rem;
                margin-right: -.6rem;  // Brings text closer to icon

                // Older browsers
                background-image: url('../images/SVG/arrow_right.svg');
                background-size: cover;


                // Newer browsers
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: #FFFF00;
                    -webkit-mask-image: url('../images/SVG/arrow_right.svg');
                    -webkit-mask-size: cover;  // Makes icon cover entire element
                    mask-image: url('../images/SVG/arrow_right.svg');
                    mask-size: cover;
                    background-image: none;  // Prevents background image (above) from being used
                }
            }
        }

        &-icon-box-1,
        &-icon-box-2,
        &-icon-box-3,
        &-icon-box-4,
        &-icon-box-5,
        &-icon-box-6,
        &-icon-box-7,
        &-icon-box-8,
        &-icon-box-9,
        &-icon-box-10,
        &-icon-box-11,
        &-icon-box-12,
        &-icon-box-13,
        &-icon-box-14 {
            // background-color: #00FF00;  // Testing
            cursor: pointer;

            // &::after {
            //     content: '\02795';  // Unicode character for "plus" sign (+)
            //     font-size: 1.3rem;
            //     color: #777777;

            //     // Use float property to position icon
            //     // float: right;
            //     // margin-left: .5rem;
            // }

            // /* The .active class will be added by JavaScript */
            // // &.active, &:hover {
            // //     background-color: #CCCCCC;
            // // }

            // &.active::after {
            //     content: '\2796';  // Unicode character for "minus" sign (-)
            // }


            // TEST START

            // TECHNIQUE #1: Use HTML Entities (?)    
            // &::after {
            //     content: '\02795';  // Unicode character for "plus" sign (+)
            //     font-size: 1.3rem;
            //     color: #777777;

            //     // Use float property to position icon
            //     float: right;
            //     // margin-left: .5rem;
            // }
    
            // /* The .active class will be added by JavaScript */
            // &.active, &:hover {
            //     background-color: #CCCCCC;
            // }

            // &.active::after {
            //     content: '\2796';  // Unicode character for "minus" sign (-)
            // }

            // TECHNIQUE #2: Include the SVG in CSS (preferred)
            &::after {
                content: '';
                display: inline-block;
                width: 2rem;
                height: 2rem;

                // Older browsers
                background-image: url('../images/SVG/add.svg');
                background-size: cover;


                // Newer browsers
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: #FFFF00;
                    -webkit-mask-image: url('../images/SVG/add.svg');
                    -webkit-mask-size: cover;  // Makes icon cover entire element
                    mask-image: url('../images/SVG/add.svg');
                    mask-size: cover;
                    background-image: none;  // Prevents background image (above) from being used
                }
            }

            /* The .active class will be added by JavaScript */
            // &.active, &:hover {
            //     background-color: #CCCCCC;
            // }

            &.active::after {
                content: '';
                display: inline-block;
                width: 2rem;
                height: 2rem;
                // margin-right: .15rem;  // Moves icon to left slightly

                // Older browsers
                background-image: url('../images/SVG/remove.svg');
                background-size: cover;


                // Newer browsers
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: #FFFF00;
                    -webkit-mask-image: url('../images/SVG/remove.svg');
                    -webkit-mask-size: cover;  // Makes icon cover entire element
                    mask-image: url('../images/SVG/remove.svg');
                    mask-size: cover;
                    background-image: none;  // Prevents background image (above) from being used
                }
            }

            // TEST END
    }

        &-list-1,
        &-list-2,
        &-list-3,
        &-list-4,
        &-list-5,
        &-list-6,
        &-list-7,
        &-list-8,
        &-list-9,
        &-list-10,
        &-list-11,
        &-list-12,
        &-list-13,
        &-list-14 {
            // background-color: grey;  // Testing
            display: none;  // Hides content by default
            list-style-type: none;
            margin-bottom: 1.2rem;  // Creates space between link list & sub-item
        }

        &-list-item {
            font-size: 1.4rem;
            line-height: 2.4;  // Creates suitable space between list links
            // border-bottom-style: solid;
            // border-bottom-width: .05rem;
            // border-bottom-color: #FFFFFF;

            &:not(:last-child) {  // Applies bottom border to all list items, except the last
                border-bottom-style: solid;
                border-bottom-width: .05rem;
                border-bottom-color: #FFFFFF;
            }

            display: flex;
            align-items: center;  // Vertically centres icon & link

            // &-link {
            //     display: inline-block;
            //     text-decoration: none;
            // }

            &::before {
                content: '';
                display: inline-block;
                width: 2.5rem;
                height: 2.5rem;
                // margin-right: -.6rem;  // Brings text closer to icon

                // Older browsers
                background-image: url('../images/SVG/remove.svg');
                background-size: cover;


                // Newer browsers
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: #FFFF00;
                    -webkit-mask-image: url('../images/SVG/remove.svg');
                    -webkit-mask-size: cover;  // Makes icon cover entire element
                    mask-image: url('../images/SVG/remove.svg');
                    mask-size: cover;
                    background-image: none;  // Prevents background image (above) from being used
                }
            }

            &-link {
                display: inline-block;
                text-decoration: none;
                // color: #FFFFFF;
            }
        }
    }
}