.product-tooltip {

    &__form-btn {
        font-size: 1.6rem;
        display: inline-block;
        padding: 1.5rem 2rem;
        border: none;  // Removes default button border
        border-radius: .4rem;  // Same border radius as input, select and textarea
        cursor: pointer;

        &:hover {
            color: #DDDDDD;
        }
    }
}