.product-tooltip {

    &__form-btn {
        font-size: 1.6rem;
        display: inline-block;
        padding: 1.5rem 2rem;
        border: none;  // Removes default button border
        border-radius: .4rem;  // Same border radius as input, select and textarea
        cursor: pointer;

        // &:hover {
        //     color: #DDDDDD;
        // }

        // Size Modifiers
        &--lg {
            font-size: 1.8rem;
            padding: 1.5rem 4rem;
        }

        &--sm {
            font-size: 1.5rem;
            padding: 1.2rem 1.4rem;
        }

        &--block {  // Creates full-width 'block' button
            width: 100%;
            display: block;
        } 

        // Link Modifier
        &--link {
            padding: 1.2rem 1.7rem;  // Less padding for links
            text-decoration: none;
        }

        // Link Size Modifiers
        &--link-sm {
            font-size: 1.5rem;
            padding: 1.1rem 1.25rem;
        }

        &--link-lg {
            font-size: 1.8rem;
            padding: 1.3rem 3.8rem;
        }

        // Colour Modifiers
        &--primary {
            background-color: #0E49B5;
            color: #FFFFFF;

            &:hover {
                background-color: darken(#0E49B5, 5%);
            }
        }

        &--secondary {
            background-color: #808080;
            color: #050505;

            &:hover {
                background-color: darken(#808080, 5%);
            }
        }
    }
}