.blog-post {

    &__header {
        background-color: #00FFFF;
        grid-column: full-start / full-end;
    }

    &__content {
        background-color: #808080;
        grid-column: centre-start / centre-end;
    }

    &__footer {
        background-color: #7E0FC5;
        grid-column: full-start / full-end;
    }
}