.blog-post {

    &__header {
        background-color: #00FFFF;
        grid-column: full-start / full-end;
    }

    &__content {
        background-color: #808080;
        // grid-column: centre-start / centre-end;
        grid-column: col-start 3 / col-end 10;

        &-text-box-1 {
            background-color: #FF0000;  // Testing
        }

        &-text-1 {
            font-size: 3.7rem;
        }
    }

    &__footer {
        background-color: #7E0FC5;
        grid-column: full-start / full-end;
    }
}