.blog-post {

    &__header {
        background-color: #00FFFF;
        grid-column: full-start / full-end;
    }

    &__content {
        background-color: #808080;
        // grid-column: centre-start / centre-end;
        grid-column: col-start 3 / col-end 10;

        &-text-box-1 {
            background-color: #FF0000;  // Testing
            width: 85%;
        }

        &-text-1 {
            font-size: 3.7rem;
        }

        &-author-profile {
            background-color: #FFFF00;  // Testing
        }

        &-author-photo-box {
            // width: 30rem;
            // height: 30rem;
            width: 8rem;
            height: 8rem;
            border-radius: 50%;  // Creates perfect circle
            position: relative;
            overflow: hidden;
        }

        &-author-photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;  // Fills parent element & preserves aspect ratio
        }

        &-author-text-box {
            background-color: #FF0000;  // Testing
        }

        &-author-text-1 {
            font-size: 2.2rem;

            & > a {
                color: #000000;
            }
        }

        &-author-text-2 {
            font-size: 1.4rem;
        }
    }

    &__footer {
        background-color: #7E0FC5;
        grid-column: full-start / full-end;
    }
}