.course-accordion {

    &__header {
        background-color: #0E49B5;  // Testing
        grid-column: full-start / full-end;

        display: flex;
        justify-content: space-between;
        
        /* Contains Links */
        &-link-box {
            background-color: #00FF00;  // Testing
        }

        &-logo-link {
            // background-color: grey;  // Testing
            display: inline-block;
            margin-left: .6rem;  // Creates space on the left
        }

        &-logo {
            max-width: 4.5rem;
            height: auto;
            width: 100%;
            display: block;  // Prevents whitespace appearing underneath
        }

        &-vertical-bar {
            // Come back later
        }

        &-link {
            font-size: 1.8rem;
            // color: #F5F5DC;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;
        }
        
        /* Contains action buttons (eg. modal popups, dropdown, tooltip) */
        &-action-box {
            background-color: #0000FF;  // Testing
        }

        &-rating-button {
            background-color: #A71198;
            font-size: 1.55rem;
            color: #FFFFFF;
            display: inline-block;
            padding: 1rem 1.2rem;
            min-width: 8rem;
            border: none;  // Removes default border
            outline: none;  // Removes outline
            cursor: pointer;
       

            display: flex;
            justify-content: center;
            align-items: center;  // Vertically centres dropdown icon & text

            &:hover {  // Darken text a tiny bit when button is hovered on
                color: darken(#FFFFFF, 5%);
            }
        }

        &-icon-1 {
            width: 1.8rem;
            height: 1.8rem;
            // fill: #FFFFFF;
            fill: #6A6F73;
        }

        &-progress-button {
            background-color: #A71198;
            font-size: 1.55rem;
            color: #FFFFFF;
            display: inline-block;
            padding: 1rem 1.2rem;
            min-width: 8rem;
            border: none;  // Removes default border
            outline: none;  // Removes outline
            cursor: pointer;
       

            display: flex;
            justify-content: center;
            align-items: center;  // Vertically centres dropdown icon & text

            &:hover {  // Darken text a tiny bit when button is hovered on
                color: darken(#FFFFFF, 5%);
            }
        }

        &-progress-circle {}

        &-icon-box-1 {}

        &-icon-2 {
            width: 1.8rem;
            height: 1.8rem;
            fill: #FFFFFF;
            // fill: #6A6F73;
        }

        &-icon-3 {
            width: 2rem;
            height: 2rem;
            fill: #FFFFFF;
            // fill: #6A6F73;
        }
    }
    
    &__video {
        background-color: #808080;
        grid-column: full-start / full-end;

        // VIDEO GRID STRUCTURE HERE
        display: grid;
        grid-template-rows: repeat(7, 5vw);  // Number of rows determines height of grid!
        // grid-template-columns: max-content repeat(6, 1fr) max-content;
        grid-template-columns: max-content repeat(7, 1fr) max-content;  // 



        &-lesson-title-box {
            background-color: #FF0000;  // Testing
            grid-column: 1 / 2;
            grid-row: 1 / 1;
        }

        &-change-layout {
            background-color: #00FF00;  // Testing
            grid-column: 7 / -1;
            grid-row: 2 / 3;
        }

        &-icon-box-1 {
            background-color: #FFFF00;  // Testing
            grid-column: 4 / 5;
            grid-row: 4 / 5;
        }


        &-lesson-content {
            background-color: #050505;  // Testing
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }

        &-lesson-user-activity-bar {
            background-color: #FFA500;  // Testing
            grid-column: 1 / -1;
            grid-row: 7 / -1;
        }
    }
    
    &__modules {
        background-color: #F5F5DC;
        grid-column: full-start / full-end;
    }
    
    &__footer {
        background-color: #333333;
        grid-column: full-start / full-end;
    }
}