.course-accordion {

    &__header {
        background-color: #0E49B5;  // Testing
        grid-column: full-start / full-end;

        display: flex;
        justify-content: space-between;
        
        /* Contains Links */
        &-link-box {
            background-color: #00FF00;  // Testing
        }

        &-logo-link {
            // background-color: grey;  // Testing
            display: inline-block;
            margin-left: .6rem;  // Creates space on the left
        }

        &-logo {
            max-width: 4.5rem;
            height: auto;
            width: 100%;
            display: block;  // Prevents whitespace appearing underneath
        }

        &-vertical-bar {
            // Come back later
        }

        &-link {
            font-size: 1.8rem;
            // color: #F5F5DC;
            color: #FFFFFF;
            display: inline-block;
            text-decoration: none;
        }
        
        /* Contains action buttons (eg. modal popups, dropdown, tooltip) */
        &-action-box {
            background-color: #0000FF;  // Testing
        }

        &-rating-button {
            background-color: #A71198;
            font-size: 1.55rem;
            color: #FFFFFF;
            display: inline-block;
            padding: 1rem 1.2rem;
            min-width: 8rem;
            border: none;  // Removes default border
            outline: none;  // Removes outline
            cursor: pointer;
       

            display: flex;
            justify-content: center;
            align-items: center;  // Vertically centres dropdown icon & text

            &:hover {  // Darken text a tiny bit when button is hovered on
                color: darken(#FFFFFF, 5%);
            }
        }

        &-icon-1 {
            width: 1.8rem;
            height: 1.8rem;
            fill: #FFFFFF;
            // fill: #6A6F73;
        }

        &-progress-button {
            background-color: #A71198;
            font-size: 1.55rem;
            color: #FFFFFF;
            display: inline-block;
            padding: 1rem 1.2rem;
            min-width: 8rem;
            border: none;  // Removes default border
            outline: none;  // Removes outline
            cursor: pointer;
       

            display: flex;
            justify-content: center;
            align-items: center;  // Vertically centres dropdown icon & text

            &:hover {  // Darken text a tiny bit when button is hovered on
                color: darken(#FFFFFF, 5%);
            }
        }

        &-progress-circle {}

        &-icon-box-1 {
            background-color: #808080;  // Testing
            padding: .4rem;  // Creates space around icon (below)

            display: flex;  // Vertically centres icon
        }

        &-icon-2 {
            width: 1.8rem;
            height: 1.8rem;
            fill: #FFFFFF;
            // fill: #6A6F73;
        }

        &-icon-3 {
            width: 2rem;
            height: 2rem;
            fill: #FFFFFF;
            // fill: #6A6F73;
        }

        &-share-button {
            background-color: #A71198;
            font-size: 1.55rem;
            color: #FFFFFF;
            display: inline-block;
            padding: 1rem 1.2rem;
            min-width: 8rem;
            // border: none;  // Removes default border
            border: .1rem solid #A9A6A6;  // Testing
            outline: none;  // Removes outline
            cursor: pointer;
       

            display: flex;
            justify-content: center;
            align-items: center;  // Vertically centres dropdown icon & text

            &:hover {  // Darken text a tiny bit when button is hovered on
                color: darken(#FFFFFF, 5%);
            }
        }

        &-icon-4 {
            width: 1.8rem;
            height: 1.8rem;
            fill: #FFFFFF;
            // fill: #6A6F73;
        }

        &-dropdown {
            position: relative;  // Needed to position dropdown content (.dropdown__content)
            display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)

            &-button {
                background-color: #A71198;
                font-size: 1.55rem;
                color: #FFFFFF;
                display: inline-block;
                padding: 1rem 1.2rem;
                min-width: 8rem;
                // border: none;  // Removes default border
                border: .1rem solid #A9A6A6;  // Testing
                outline: none;  // Removes outline
                cursor: pointer;

                display: flex;
                justify-content: center;
                align-items: center;

                &:focus {  // Darken text a tiny bit when button is clicked
                    color: darken(#FFFFFF, 5%);
                }
            }
        }

        &-icon-5 {
            width: 2rem;
            height: 2rem;
            fill: #FFFFFF;
            // fill: #6A6F73;
        }
        
        /* Modal */
        &-modal {
            transition: all 0.35s ease-in;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            // background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
            // visibility: hidden;  // Modal is hidden by default 
            // opacity: 0;

            &.course-accordion__header-modal-visible {  // This class will be added later on with JavaScript
                visibility: visible;  // Makes modal visible 
                opacity: 1;  // restores full opacity 
            }

            &-dialog {
                position: relative;
                // max-width: 80rem;
                max-width: 45vw;  // Using vw for the max-width makes modal responsive 
                max-height: 80vh;
                border-radius: .5rem;
                overflow: auto;  // Adds scroll-bar if content exceeds 80% of viewport height
        
                // & * {
                //     padding: 1rem;
                // }
            }

            &-dialog > &-content {
                padding: 1rem;
            }

            &-content {
                background-color: #E4E4E4;

                // font-size: 1.85rem;  // Testing
            }

            &-text-closebtn-box {
                background-color: #0000FF;  // Testing

                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            &-text-box-2 {
                background-color: #FF0000;  // Testing
            }

            &-text-2 {
                font-size: 1.85rem;
            }

            &-closebtn-box {
                background-color: #808080;  // Testing

                display: flex;  // Vertically centres button
            }

            &-closebtn {
                // font-size: 1.5rem;
                // font-size: 2.3rem;
                // cursor: pointer;

                transition: 0.3s;
                display: inline-block;
                font-size: 2.6rem; 
                font-weight: 500;
                // color: #EEEEEE;
                color: #000000;
                cursor: pointer;

                line-height: 0;  // Controls vertical height of HTML entity

                &:hover {
                    color: lighten(#000000, 15%);
                }
            }

            &-readonly-input-box {  // Contains readonly input & button
                background-color: #808080;  // Testing
                font-size: 1.5rem;  // Inherited by input
                color: #000000;  // Inherited by input (required)

                display: flex;
                align-items: center;  // Vertically centres input & button
            }

            &-search-input {
                // transition: all .6s;
                font-family: inherit;  // From global document
                font-size: inherit;  // From parent element
                color: inherit;  // From parent element
                border: none;
                border-radius: 0;  // Removes rounded corners
                // padding: .8rem .5rem .8rem 3.1rem;  // Left padding prevents input text from overlapping icon!
                // padding: .8rem .5rem;  // Testing
                // padding: .5rem .25rem;  // Testing
                padding: 1.2rem;  // Testing
                background-color: #FFFFFF;

                // // flex: 0 0 70%;  // Relative to width of search bar
                // flex: 0 0 100%;
                // flex: 0 0 60%;  // Relative to width of parent (.course-accordion__header-modal-readonly-input-box)

                flex: 1;  // Makes input & button exactly fit parent (.course-accordion__header-modal-readonly-input-box)

                // &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
                //     color: #948F8F;
                // }

                &:focus {
                    outline: none;
                    // flex: 0 0 75%;
                }
            }

            &-readonly-copy-button {
                font-size: inherit;  // Same font size as input text
                color: #FFFFFF;
                display: inline-block;
                padding: 0 1.5rem;  // Left & right padding controls button width
                min-width: 8rem;
                background-color: #000000;
                border: none;  // Removes default button border
                outline: none;  // Removes outline
                cursor: pointer;

                align-self: stretch;  // Makes button occupy the full height of search bar (Flex container)
            }

            &-social-share-button-box {
                background-color: #00FF00;  // Testing
            }

            &-social-share-button {
                // font-size: 1.6rem;
                display: inline-block;
                // padding: 0 1.2rem;
                // padding: 1.25rem 1.2rem;
                // min-width: 8rem;
                border: none;  // Removes default button border
                outline: none;  // Removes outline
                cursor: pointer;
            }
        }
    }
    
    &__video {
        background-color: #808080;
        grid-column: full-start / full-end;

        // VIDEO GRID STRUCTURE HERE
        display: grid;
        grid-template-rows: repeat(7, 5vw);  // Number of rows determines height of grid!
        // grid-template-columns: max-content repeat(6, 1fr) max-content;
        grid-template-columns: max-content repeat(7, 1fr) max-content;  // 



        &-lesson-title-box {
            background-color: #FF0000;  // Testing
            grid-column: 1 / 2;
            grid-row: 1 / 1;
        }

        &-change-layout {
            background-color: #00FF00;  // Testing
            grid-column: 7 / -1;
            grid-row: 2 / 3;
        }

        &-icon-box-1 {
            background-color: #FFFF00;  // Testing
            grid-column: 4 / 5;
            grid-row: 4 / 5;
        }


        &-lesson-content {
            background-color: #050505;  // Testing
            grid-column: 1 / -1;
            grid-row: 1 / -1;
        }

        &-lesson-user-activity-bar {
            background-color: #FFA500;  // Testing
            grid-column: 1 / -1;
            grid-row: 7 / -1;
        }
    }
    
    &__modules {
        background-color: #F5F5DC;
        grid-column: full-start / full-end;
    }
    
    &__footer {
        background-color: #333333;
        grid-column: full-start / full-end;
    }
}