.page {
    display: grid;
    grid-template-rows: 15vh min-content;
    grid-template-columns: [sidebar-start] max-content [sidebar-end main-start] 1fr [main-end];
}

.page > * {  // Testing
    font-size: 2.6rem;
    padding: 1rem;
}


.section-1 {
    background-color: #808080;  // Testing
    grid-row: 1 / -1;

    position: sticky;  // Fixes navbar as user scrolls
    top: 0; 
    // left: 0;

    height: 100vh;  // Makes sidebar only occupy entire viewport height (required - percentages DON'T work!)
}

.section-2 {
    background-color: #00FFFF;  // Testing
    grid-column: main-start / main-end;
    
    position: -webkit-sticky; // Safari
    position: sticky;  // Fixes navbar as user scrolls
    top: 0;
    z-index: 1000;  // Places navbar above everything else
}

.text {
    font-size: 2.6rem;  // Size of "dummy text"
}

.section-3 {
    background-color: #F5F5DC;  // Testing
    grid-row-start: 2 / -1;
    grid-column: main-start / main-end;
}