.page {
    // display: grid;
    // grid-template-rows: 15vh min-content;
    // grid-template-columns: [sidebar-start] max-content [sidebar-end main-start] 1fr [main-end];
}

// .page > * {  // Testing
//     font-size: 2.6rem;
//     padding: 1rem;
// }

.main {
    display: grid;
    grid-template-rows: 15vh min-content;

    margin-left: 16rem;  // Same as the width of the sidebar 
    padding: 0 1rem;
}

.main > * {  // Testing
    font-size: 2.6rem;
    padding: .5rem;
}

.section-1 {
    background-color: #808080;  // Testing
    display: none;
    // grid-row: 1 / -1;
}

.section-2 {
    background-color: #00FFFF;  // Testing
    grid-column: main-start / main-end;
}

.text {
    font-size: 2.6rem;  // Size of "dummy text"
}

.section-3 {
    background-color: #F5F5DC;  // Testing
    grid-row-start: 2 / -1;
    grid-column: main-start / main-end;
}