.top-section {
    background-color: #7E0FC5;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    background-color: #E4E4E4;
    width: 100vw;

    .content {
        // background-color: grey;
        width: 90%;
        margin: auto;
        padding: 13rem 0;
    }

    .list-box {
        // background-color: #0000FF;
        width: 40%;
        margin: auto;
    }
}