.top-section {
    background-color: #BD00AA;
    width: 100vw;
    height: 15vh;
}

.middle-section {
    background-color: #EEEEEE;
    width: 100vw;

    .content {
        // background-color: grey;  // Testing
        width: 90%;
        margin: auto;
        padding: 14rem 0;
    }

    .alert-box {
        // background-color: #00FF00;  // Testing
        width: 60%;  // Controls width of alerts
        margin: auto;
    }
}