.topnav {
    background-color: inherit;  // Takes background colour set on its parent

    position: relative;  // Used to position responsive dropdowns (required)

    display: flex;
    justify-content: space-between;
    align-items: center;
}