.dropdown {
    position: relative;  // Needed to position dropdown content (.dropdown__content)
    display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)
    
    /* Dropdown Button */
    &__btn {
        background-color: #A71198;
        font-size: 1.55rem;
        color: #FFFFFF;
        display: inline-block;
        padding: 1rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default border
        outline: none;  // Removes outline
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text

        &:focus {  // Darken text a tiny bit when button is clicked
            color: darken(#FFFFFF, 5%);
        }
    }

    &__icon {
        width: 2.8rem;
        height: 2.8rem;
        fill: #FFFFFF;
    }
    
    /* Dropdown Content (Hidden by Default) */
    &__content {
        // display: none;
        position: absolute;  // Positions content outside dropdown (required)
        // top: 100%;  // Places dropdown directly beneath button
        top: 103%;  // Places dropdown beneath button with a tiny gap
        // min-width: 18.5rem;  // Controls width of dropdown content
        // min-width: 22rem;  // Controls width of dropdown content
        min-width: 28rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        // filter: drop-shadow(.15rem .15rem 0 rgba(0, 0, 0, .2));  // Puts shadow on arrow too (required)
        border-radius: .5rem;  // Creates rounded edges (optional)
        border: .025rem solid #A9A6A6;
        z-index: 1;  // Puts dropdown in front of other elements


        &-box-1 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        /* Style the links inside the dropdown */
        &-link {
            // font-size: 1.5rem;
            font-size: 1.45rem; 
            color: #000000;
            padding: .65rem 1.5rem;  // Reduced top and bottom padding brings icons closer together
            text-decoration: none;
            display: block;  // Allows vertical padding & makes links occupy container
        
            /* Add a black background to dropdown links on hover */
            &:hover {
                color: #EEEEEE;
                background-color: #333333;
            }

            &--profile-picture {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                // column-gap: .3rem;
                column-gap: .5rem;  // Creates space between profile picture & text
            }

            // &--custom-1 {
            //     display: flex;
            //     justify-content: flex-start;

            //     column-gap: .1rem;  // Creates space between icon & text
            // }
        }

        &-profile-picture-box {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;  // Creates perfect circle
            position: relative;
            overflow: hidden;

            display: none;  // Testing

            /* This class will be added by JavaScript to hide the profile picture when 
               user clicks */
            &--hide {
                display: none;
            }
        }

        &-profile-picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;  // Fills parent element & preserves aspect ratio

            &-alt {
                background-color: #2D2F31;
                width: 7rem;
                height: 7rem;
                border-radius: 50%;  // Creates perfect circle
                // position: relative;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                &-text {
                    font-size: 1.8rem;
                    color: #FFFFFF;
    
                    // position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                }
            }

            &-text-box {
                background-color: #FF0000;  // Testing
            }

            &-text-1 {
                font-size: 1.4rem;
            }

            &-text-2 {
                font-size: 1.25rem;
            }
        }

        &-box-2 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-box-3 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-link-notification-box {
            background-color: grey;  // Testing

            display: flex;
            justify-content: space-between;
            align-items: center;  // Prevents notification circles (below) from being stretched vertically (required)
        }

        &-link-notification-1 {
            width: 1.5rem;
            text-align: center;  // Horizontally centres text
            line-height: 1.5rem;  // Vertically centres text
            border-radius: 50%;  // Creates perfect circle
            display: inline-block;  // Makes Box Model work properly (required)
            font-size: 1rem;
            color: #FFFFFF;
            background-color: #F1425D;
        }

        &-link-notification-2 {
            width: 1.5rem;
            text-align: center;  // Horizontally centres text
            line-height: 1.5rem;  // Vertically centres text
            border-radius: 50%;  // Creates perfect circle
            display: inline-block;  // Makes Box Model work properly (required)
            font-size: 1rem;
            color: #FFFFFF;
            background-color: #F1425D;
        }

        &-box-4 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-box-5 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        // &::after {  // Creates dropdown arrow
        //     content: '';
        //     position: absolute;  // Positioned relative to dropdown content
        //     bottom: 100%;  // Puts arrow at the top of dropdown
        //     left: 50%;  // Centres arrow
        //     // margin-left: -.7rem;  // MUST be the same value as border-width (below)!
        //     // border-width: .7rem;  // Defines size of arrow
        //     margin-left: -.9rem;  // MUST be the same value as border-width (below)!
        //     border-width: .9rem;  // Defines size of arrow
        //     border-style: solid;
        //     border-color: transparent transparent #F1F1F1 transparent;
        // }

        &-languages-button {
            font-size: 1.6rem;
            width: 100%;
            // display: inline-block;
            display: block;
            // padding: 0 1.2rem;
            // padding: 1.25rem 1.2rem;
            // padding: 1.25rem 4rem 1.25rem 1.2rem;  // Reduced left padding keeps text & icon on left
            padding: 1.25rem 1.2rem 1.25rem 1.2rem;  // Reduced right padding keeps text & icon on right
            min-width: 8rem;
            // border: none;  // Removes default button border
            border: .1rem solid #222222;
            outline: none;  // Removes outline
            cursor: pointer;

            display: flex;
            justify-content: space-between;
            align-items: center;  // Vertically centres icon & text

            & > span:first-child {
                font-size: 1.45rem;
            }

            & > span:nth-child(2) {
                font-size: 1.45rem;

                display: flex;
                align-items: center;

                column-gap: .3rem;  // Creates space between icon & text
            }
        }

        &-icon-1 {
            width: 1.8rem;
            height: 1.8rem;
            fill: #222222;
        }

        &-box-6 {
            // background-color: #FFFF00;  // Testing
            // border-bottom: .1rem solid #A9A6A6;
        }

        &-modal {
            transition: all 0.35s ease-in;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            // background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.8);
            cursor: pointer;
            visibility: hidden;  // Modal is hidden by default 
            opacity: 0;

            &.dropdown__content-modal-visible {  // This class will be added later on with JavaScript
                visibility: visible;  // Makes modal visible 
                opacity: 1;  // restores full opacity 
            }

            &-dialog {
                position: relative;
                width: 60rem;  // Sets modal width
                max-width: 80rem;
                max-height: 80vh;
                // border-radius: .5rem;
                overflow: auto;  // Adds scroll-bar if content exceeds 80% of viewport height
            
                // & * {
                //     padding: 1rem;
                // }
            }

            &-dialog > &-content {
                // padding: 1rem;
                padding: 2rem;  // Testing
            }
    
            &-content {
                // background-color: #E4E4E4;
                background-color: #FFFFFF;
    
                // font-size: 1.85rem;  // Testing
            }

            &-text-closebtn-box {
                // background-color: #0000FF;  // Testing
                margin-bottom: 1.2rem;  // Creates space above .mobilenav__modal-languages-box (below)
    
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
    
            &-text-box {
                // background-color: #FF0000;  // Testing
            }
    
            &-text {
                font-size: 1.85rem;
                color: #222222;
            }
            
            &-closebtn {
                // // font-size: 1.5rem;
                // font-size: 2.3rem;
                // cursor: pointer;
    
                transition: 0.3s;
                display: inline-block;
                font-size: 2.6rem; 
                font-weight: 500;
                // color: #EEEEEE;
                color: #000000;
                cursor: pointer;
    
                line-height: 0;  // Controls vertical height of HTML entity
    
                &:hover {
                    color: lighten(#000000, 15%);
                }
    
                // background-color: grey;  // Testing
            }

            &-languages-box {
                // background-color: #00FF00;  // Testing
    
                display: grid;
                grid-template-rows: repeat(6, min-content);
                grid-template-columns: repeat(3, 1fr);
            }

            /* Style the links inside the modal */
            &-language {
                font-size: 1.5rem;
                // font-size: 1.45rem; 
                color: #000000;
                // padding: .65rem 1.5rem;  // Reduced top and bottom padding brings icons closer together
                padding: 1.2rem 1.6rem;  // Testing
                text-decoration: none;
                display: block;  // Allows vertical padding & makes links occupy container
        
                /* Add a black background to dropdown links on hover */
                &:hover {
                    // color: #EEEEEE;
                    // background-color: #333333;
                    color: #3475ED;  
                }

                &--selected {
                    border: .1rem solid #000000;
                }
            }
        }

        &-box-7 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-box-8 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-box-9 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-text-icon-box {
            background-color: #0000FF;  // Testing

            display: flex;
            justify-content: flex-start;
        }

        &-text-box {
            background-color: #FF0000;  // Testing
            // flex: 0 0 92%;  // Testing
            flex: 0 0 auto;  // Testing

            & > h4 {
                font-size: 1.4rem;
                color: #000000;
            }

            & > span {
                font-size: 1.45rem;
                color: #000000;
                display: inline-block;
            }
        }

        &-icon-2 {
            width: 2.6rem;
            height: 2.6rem;
            fill: #000000;
        }

        // &-profile-picture-alt {
        //     background-color: #2D2F31;
        //     width: 7rem;
        //     height: 7rem;
        //     border-radius: 50%;  // Creates perfect circle
        //     // position: relative;

        //     display: flex;
        //     justify-content: center;
        //     align-items: center;

        //     &-text {
        //         font-size: 1.8rem;
        //         color: #FFFFFF;

        //         // position: absolute;
        //         // top: 50%;
        //         // left: 50%;
        //         // transform: translate(-50%, -50%);
        //     }
        // }
    }
}