.dropdown {
    position: relative;  // Needed to position dropdown content (.dropdown__content)
    display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)
    
    /* Dropdown Button */
    &__btn {
        background-color: #A71198;
        font-size: 1.55rem;
        color: #FFFFFF;
        display: inline-block;
        padding: 1rem 1.2rem;
        min-width: 8rem;
        border: none;  // Removes default border
        outline: none;  // Removes outline
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text

        &:focus {  // Darken text a tiny bit when button is clicked
            color: darken(#FFFFFF, 5%);
        }
    }

    &__icon {
        width: 2.8rem;
        height: 2.8rem;
        fill: #FFFFFF;
    }
    
    /* Dropdown Content (Hidden by Default) */
    &__content {
        // display: none;
        position: absolute;  // Positions content outside dropdown (required)
        // top: 100%;  // Places dropdown directly beneath button
        top: 103%;  // Places dropdown beneath button with a tiny gap
        // min-width: 18.5rem;  // Controls width of dropdown content
        min-width: 22rem;  // Controls width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        // filter: drop-shadow(.15rem .15rem 0 rgba(0, 0, 0, .2));  // Puts shadow on arrow too (required)
        border-radius: .5rem;  // Creates rounded edges (optional)
        border: .025rem solid #A9A6A6;
        z-index: 1;  // Puts dropdown in front of other elements


        &-box-1 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        /* Style the links inside the dropdown */
        &-link {
            // font-size: 1.5rem;
            font-size: 1.45rem; 
            color: #000000;
            padding: .65rem 1.5rem;  // Reduced top and bottom padding brings icons closer together
            text-decoration: none;
            display: block;  // Allows vertical padding & makes links occupy container
        
            /* Add a black background to dropdown links on hover */
            &:hover {
                color: #EEEEEE;
                background-color: #333333;
            }

            &--profile-picture {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                column-gap: .3rem;
            }
        }

        &-profile-picture-box {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;  // Creates perfect circle
            position: relative;
            overflow: hidden;

            display: none;  // Testing

            /* This class will be added by JavaScript to hide the profile picture when 
               user clicks */
            &--hide {
                display: none;
            }
        }

        &-profile-picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;  // Fills parent element & preserves aspect ratio

            &-alt {
                background-color: #2D2F31;
                width: 7rem;
                height: 7rem;
                border-radius: 50%;  // Creates perfect circle
                // position: relative;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                &-text {
                    font-size: 1.8rem;
                    color: #FFFFFF;
    
                    // position: absolute;
                    // top: 50%;
                    // left: 50%;
                    // transform: translate(-50%, -50%);
                }
            }

            &-text-box {
                background-color: #FF0000;  // Testing
            }

            &-text-1 {
                font-size: 1.4rem;
            }

            &-text-2 {
                font-size: 1.25rem;
            }
        }

        &-box-2 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-box-3 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-link-notification-1 {
            width: 1.5rem;
            text-align: center;  // Horizontally centres text
            line-height: 1.5rem;  // Vertically centres text
            border-radius: 50%;  // Creates perfect circle
            display: inline-block;  // Makes Box Model work properly (required)
            font-size: 1rem;
            color: #FFFFFF;
            background-color: #F1425D;
        }

        &-link-notification-2 {
            width: 1.5rem;
            text-align: center;  // Horizontally centres text
            line-height: 1.5rem;  // Vertically centres text
            border-radius: 50%;  // Creates perfect circle
            display: inline-block;  // Makes Box Model work properly (required)
            font-size: 1rem;
            color: #FFFFFF;
            background-color: #F1425D;
        }

        &-box-4 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-box-5 {
            // background-color: #FFFF00;  // Testing
            border-bottom: .1rem solid #A9A6A6;
        }

        &-languages-button {
            font-size: 1.6rem;
            display: inline-block;
            // padding: 0 1.2rem;
            // padding: 1.25rem 1.2rem;
            padding: 1.25rem 4rem 1.25rem 1.2rem;  // Reduced left padding keeps text & icon on left
            min-width: 8rem;
            // border: none;  // Removes default button border
            border: .1rem solid #222222;
            outline: none;  // Removes outline
            cursor: pointer;

            display: flex;
            align-items: center;  // Vertically centres icon & text

            & > span:first-child {
                font-size: 1.45rem;
            }

            & > span:nth-child(2) {
                font-size: 1.45rem;
            }
        }

        &-icon-1 {
            width: 1.8rem;
            height: 1.8rem;
            fill: #222222;
        }

        // &-profile-picture-alt {
        //     background-color: #2D2F31;
        //     width: 7rem;
        //     height: 7rem;
        //     border-radius: 50%;  // Creates perfect circle
        //     // position: relative;

        //     display: flex;
        //     justify-content: center;
        //     align-items: center;

        //     &-text {
        //         font-size: 1.8rem;
        //         color: #FFFFFF;

        //         // position: absolute;
        //         // top: 50%;
        //         // left: 50%;
        //         // transform: translate(-50%, -50%);
        //     }
        // }
    }
}