*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.select-box {
  position: relative;
  display: inline-block;
  display: flex;
  flex-direction: column;
}
.select-box__options {
  background-color: #2F3640;
  position: absolute;
  top: 100%;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  border-radius: 0.8rem;
  overflow: hidden;
  box-shadow: 0 0.8rem 1.6rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.select-box__options::-webkit-scrollbar {
  background-color: #0D141F;
  width: 0.8rem;
  border-radius: 0 0.8rem 0.8rem 0;
}
.select-box__options::-webkit-scrollbar-thumb {
  background-color: #525861;
  border-radius: 0 0.8rem 0.8rem 0;
}
.select-box__options.select-box__active {
  height: 24rem;
  opacity: 1;
  overflow-y: scroll;
}
.select-box__option {
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}
.select-box__option:hover {
  background-color: #414B57;
}
.select-box__option > .select-box__radio {
  display: none;
}
.select-box__option label {
  font-size: 1.4rem;
  color: #F5F6FA;
  cursor: pointer;
}
.select-box__prompt {
  background-color: #2F3640;
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
  padding: 1.2rem 2.4rem;
  position: relative;
  cursor: pointer;
  order: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-box__prompt::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.4s;
  background-image: url("../images/SVG/keyboard_arrow_down.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .select-box__prompt::after {
    background-color: #F5F6FA;
    -webkit-mask-image: url("../images/SVG/keyboard_arrow_down.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/keyboard_arrow_down.svg");
    mask-size: cover;
    background-image: none;
  }
}
.select-box__prompt-text {
  font-size: 1.4rem;
  color: #F5F6FA;
  display: inline-block;
}
.select-box__options.select-box__active + .select-box__prompt::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  transition: all 0.4s;
  background-image: url("../images/SVG/keyboard_arrow_up.svg");
  background-size: cover;
}
@supports (-webkit-mask-image: url()) or (mask-image: url()) {
  .select-box__options.select-box__active + .select-box__prompt::after {
    background-color: #F5F6FA;
    -webkit-mask-image: url("../images/SVG/keyboard_arrow_up.svg");
    -webkit-mask-size: cover;
    mask-image: url("../images/SVG/keyboard_arrow_up.svg");
    mask-size: cover;
    background-image: none;
  }
}

.top-section {
  background-color: #0E49B5;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #EEEEEE;
  width: 100vw;
}
.middle-section .content {
  width: 90%;
  margin: auto;
  padding: 13rem 0;
}
.middle-section .select-box-container {
  width: 25rem;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
