*,
*::before,
*::after { /* CSS Reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  min-height: 100%; /* Ensures HTML page is at least as high as browser viewport */
  font-size: 62.5%; /* Root Font Size (1rem = 10px) */
}

body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh; /* Ensures page body is at least as high as browser viewport */
  box-sizing: border-box; /* Border & Padding included in Width & Height */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000000;
}

.course-tooltip {
  position: relative;
  display: inline-block;
  /* Show the tooltip when you mouse over the tooltip container */
  /* Show the tooltip when you mouse over the tooltip container */
}
.course-tooltip__hover-content {
  width: 30rem;
}
.course-tooltip__hover-content-link:link, .course-tooltip__hover-content-link:visited {
  color: #000000;
  display: inline-block;
  text-decoration: none;
}
.course-tooltip__photo-box {
  width: 100%;
}
.course-tooltip__photo {
  width: 100%;
  height: auto;
  display: block;
}
.course-tooltip__text-box-1 {
  margin-bottom: 0.3rem;
}
.course-tooltip__text-1 {
  font-size: 1.6rem;
}
.course-tooltip__text-2 {
  font-size: 1.5rem;
}
.course-tooltip__text-icon-box-1 {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.7rem;
}
.course-tooltip__text-3 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #F44336;
  display: inline-block;
}
.course-tooltip__icon-box-1, .course-tooltip__icon-box-2, .course-tooltip__icon-box-3, .course-tooltip__icon-box-4, .course-tooltip__icon-box-5, .course-tooltip__icon-box-6, .course-tooltip__icon-box-7, .course-tooltip__icon-box-8, .course-tooltip__icon-box-9 {
  display: flex;
  display: none;
}
.course-tooltip__icon-box-8 {
  display: block;
}
.course-tooltip__icon-1 {
  width: 1.5rem;
  height: 1.5rem;
  fill: #FF9800;
}
.course-tooltip__text-4 {
  font-size: 1.2rem;
}
.course-tooltip__text-box-2 {
  margin-bottom: 0.4rem;
}
.course-tooltip__text-5 {
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
}
.course-tooltip__text-6 {
  font-size: 1.2rem;
  text-decoration-line: line-through;
  display: inline-block;
}
.course-tooltip__text-7 {
  background-color: #ECEB98;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.4rem 0.8rem;
}
.course-tooltip__content {
  background-color: #F2F2F2;
  transition: all 0.3s;
  visibility: hidden;
  width: 35rem;
  border-radius: 0.5rem;
  border: 0.15rem solid #BBB9B9;
  filter: drop-shadow(-0.05rem 0.1rem 0 rgba(0, 0, 0, 0.2));
  padding: 1.8rem;
  /* Position the tooltip contents */
  position: absolute;
  right: 115%;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  /* Fade in tooltip */
  opacity: 0;
  /* Tooltip arrow */
}
.course-tooltip__content:hover {
  filter: drop-shadow(-0.05rem 0.15rem 0 rgba(0, 0, 0, 0.2));
}
.course-tooltip:hover > .course-tooltip__content {
  visibility: visible;
  opacity: 1;
}
.course-tooltip__text-box-4 {
  margin-bottom: 0.8rem;
}
.course-tooltip__text-8 {
  font-size: 1.8rem;
}
.course-tooltip__text-box-5 {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}
.course-tooltip__text-9 {
  background-color: #ECEB98;
  font-size: 1.3rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.4rem 0.8rem;
}
.course-tooltip__text-10 {
  font-size: 1.3rem;
  color: #035803;
}
.course-tooltip__text-10 > span {
  font-weight: 500;
}
.course-tooltip__text-box-6 {
  margin-bottom: 0.7rem;
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}
.course-tooltip__text-11, .course-tooltip__text-12, .course-tooltip__text-13 {
  font-size: 1.2rem;
  display: inline-block;
}
.course-tooltip__dot-divider {
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: #000000;
}
.course-tooltip__text-box-7 {
  margin-bottom: 1.2rem;
}
.course-tooltip__text-14 {
  font-size: 1.4rem;
}
.course-tooltip__text-icon-box-2 {
  margin-bottom: 1.8rem;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: max-content 1fr;
  gap: 1.2rem;
}
.course-tooltip__icon-2, .course-tooltip__icon-3, .course-tooltip__icon-4 {
  width: 2rem;
  height: 2rem;
}
.course-tooltip__text-15, .course-tooltip__text-16, .course-tooltip__text-17 {
  font-size: 1.4rem;
}
.course-tooltip__form-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-tooltip__form {
  background-color: grey;
  flex: 0 0 82%;
}
.course-tooltip__form-button {
  font-size: 1.6rem;
  color: #FFFFFF;
  width: 100%;
  display: block;
  padding: 1.5rem 1.2rem;
  min-width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #BD00AA;
}
.course-tooltip__form-button:hover {
  background-color: #a40093;
}
.course-tooltip__wishlist-button {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid #050505;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-tooltip__wishlist-button:hover {
  background-color: #e5e5e5;
}
.course-tooltip__icon--5 {
  width: 3rem;
  height: 3rem;
}

.top-section {
  background-color: #A71198;
  width: 100vw;
  height: 15vh;
}

.middle-section {
  background-color: #F2F2F2;
}
.middle-section .content {
  width: 90%;
  margin: auto;
  padding: 16rem 0;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
