.mobilenav {
    /* Add a black background color to the top navigation */
    background-color: #333333;
    overflow: hidden;  // Hides overflow (required)

    // padding: .3rem 0;  // Top and bottom padding increases height (optional)

    padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-link {
        // background-color: grey;  // Testing
        display: inline-block;
        text-decoration: none;
        margin-left: .5rem;
    }

    &__logo {
        max-width: 4.5rem;
        height: auto;
        width: 100%;
        display: block;  // Prevents whitespace appearing
    }
    
    /* Hamburger menu icon */
    &__icon {
        // STYLING TECHNIQUE #1
        // // display: none;
        // margin-right: .8rem;
        // cursor: pointer;

        // &-line {
        //     background-color: #FFFFFF;
        //     width: 3rem;
        //     height: .3rem;
        //     // margin-bottom: .4rem;
        //     // margin-right: 1.5rem;

        //     &:first-child {
        //         margin-bottom: .6rem;  // Creates space below first bar
        //     }

        //     &:last-child {
        //         margin-top: .6rem;  // Creates space above third bar
        //     }
        // }

        
        // STYLING TECHNIQUE #2
        // background-color: #0000FF;  // Testing
        height: 2.4rem;  // Height needed to use flexbox (below)
        // display: none;
        margin-right: .8rem;
        cursor: pointer;

        display: flex;
        justify-content: space-between;  // Spaces out the bars (required)

        flex-direction: column;

        &-line {
            background-color: #FFFFFF;
            width: 3rem;
            height: .3rem;
            // margin-bottom: .4rem;
            // margin-right: 1.5rem;
        }
    }

    &__mobile-menu {
        // background-color: #0000FF;  // Testing
        background-color: #555555;

        padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport
    }

    &__link-dropdown-search-box {
        // background-color: #0000FF;  // Testing
        display: none;  // Changed by JavaScript to show navigation links
    }

    &__link-box {
        // background-color: grey;  // Testing
    }
    
    /* Menu links */
    &__link {
        // background-color: #0000FF;  // Testing
        font-size: 1.5rem;
        color: #F2F2F2;
        text-decoration: none;  // Removes default underline
        padding: 1.4rem 1.6rem 1.4rem .48rem;  // Left padding creates space on the left of links
        display: block;  // Makes links occupy as much space as possile (required)
        min-width: 8rem;
    }
    
    /* Clickable dropdown container */
    &__dropdown-box {
        // background-color: grey;  // Testing
    }
    
    /* First Dropdown */
    &__dropdown-1 {
        // background-color: #FFFF00;  // Testing
        display: block;  // Allows links occupy fill width (required)
        margin-left: .4rem;  // Creates space on left
        margin-bottom: .5rem;  // Creates space between the two dropdowns
    }
    
    /* Dropdown button */
    &__dropdown-btn-1 {
        background-color: #333333;
        font-size: 1.5rem;  // Same size as menu links (.mobilenav__link) above
        color: #FFFFFF;
        display: inline-block;
        padding: .3rem .8rem;
        min-width: 8rem;
        border: none;  // Removes default border
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text
    }

    &__dropdown-icon-1 {
        width: 3rem;
        height: 3rem;
        fill: #FFFFFF;
    }
    
    /* Dropdown Content (Hidden by Default) */
    &__dropdown-content-1 {
        display: none;
        position: initial;  // Prevents dropdown from overlapping search bar
        // min-width: 12rem;
        margin-top: .3rem;  // Creates space between dropdown button & dropdown content
        // padding: 1rem;  // Creates space inside dropdown
        width: 98%;  // Sets width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        border-radius: 1rem;  // Creates rounded edges
        // z-index: 1;  // Puts dropdown in front of other elements
        
        overflow: hidden;  // Hides overflown background colour when users hovers!

        /* This class will be added by JavaScript to display the dropdown menu when the 
           user clicks */
        &--show {
            display: block;
        }
    }
    
    /* Style the links inside the dropdown */
    &__dropdown-link-1 {
        font-size: 1.35rem; 
        color: #000000;
        padding: 1.2rem 1.4rem 1.2rem 1rem;  // Reduced left padding keeps text on left
        text-decoration: none;
        display: block;  // Allows vertical padding & makes links occupy container
        min-width: 8rem;
        
        /* Add a black background to dropdown links on hover */
        &:hover {
            color: #F2F2F2;
            background-color: #333333;
        }
    }
    
    /* Second Dropdown */
    &__dropdown-2 {
        // background-color: #FFFF00;  // Testing
        display: block;  // Allows links occupy fill width (required)
        margin-left: .4rem;  // Creates space on left
        margin-bottom: .5rem;  // Creates space between dropdown & search bar
    }
    
    /* Dropdown button */
    &__dropdown-btn-2 {
        background-color: #333333;
        font-size: 1.5rem;  // Same size as menu links (.mobilenav__link) above
        color: #FFFFFF;
        display: inline-block;
        padding: .3rem .8rem;
        min-width: 8rem;
        border: none;  // Removes default border
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text
    }

    &__dropdown-icon-2 {
        width: 3rem;
        height: 3rem;
        fill: #FFFFFF;
    }
    
    /* Dropdown Content (Hidden by Default) */
    &__dropdown-content-2 {
        display: none;
        position: initial;  // Prevents dropdown from overlapping search bar
        // min-width: 12rem;
        margin-top: .3rem;  // Creates space between dropdown button & dropdown content
        // padding: 1rem;  // Creates space inside dropdown
        width: 98%;  // Sets width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        border-radius: 1rem;  // Creates rounded edges
        // z-index: 1;  // Puts dropdown in front of other elements

        overflow: hidden;  // Hides overflown background colour when users hovers!

        /* This class will be added by JavaScript to display the dropdown menu when the 
           user clicks */
        &--show {
            display: block;
        }
    }
    
    /* Style the links inside the dropdown */
    &__dropdown-link-2 {
        font-size: 1.35rem; 
        color: #000000;
        padding: 1.2rem 1.4rem 1.2rem 1rem;  // Reduced left padding keeps text on left
        text-decoration: none;
        display: block;  // Allows vertical padding & makes links occupy container
        min-width: 8rem;
        
        /* Add a black background to dropdown links on hover */
        &:hover {
            color: #F2F2F2;
            background-color: #333333;
        }
    }

    &__search {
        // background-color: #FFFF00;  // Testing
        font-size: 1.5rem;  // Inherited by button
        position: relative;  // Used to position search bar dropdown
        margin-left: .4rem;  // Creates space on left (aligns search bar with links & dropdown above)

        // flex: 0 0 40%;  // Relative to width of Navigation bar
        width: 100%;  // Relative to width of parent (.mobilenav__link-box)

        display: flex;
        // justify-content: center;
        align-items: center;

        &-input-dropdown-box {  // Wrapper that holds input box & dropdown box
            background-color: grey;  // Testing
            transition: all .6s;  // Controls rate at which flex basis changes

            flex: 0 0 70%;  // Relative to width of search bar

            // flex: 0 0 100%;
        }

        &-input-box {  // Contains input, SVG icon & close icon (x)
            // background-color: #0000FF;  // Testing
            position: relative;  // Used to position close icon (x) & icon button (required)
            font-size: 1.5rem;  // Inherited by input
            color: #000000;  // Inherited by input (required)

            display: flex;
            align-items: center;  // Vertically centeres icon button & close icon (x)
        }

        &-icon-box {
            background-color: #FFFFFF;  // Makes button look like it's part of input
            display: inline-block;
            // padding: 1.5rem 2rem;
            border: none;  // Removes default button border
            // cursor: pointer;
            cursor: not-allowed;  // Prevents user from clicking button

            display: flex;  // Vertically centres icon

            position: absolute;  // Used to position icon button without creating space on the left
            left: .7rem;
        }

        &-icon {
            width: 2rem;
            height: 2rem;
            fill: #000000;
            // z-index: 5;  // Puts icon on top of input
        }

        &-input {
            // transition: all .6s;
            font-family: inherit;  // From global document
            font-size: inherit;  // From parent element
            color: inherit;  // From parent element
            border: none;
            border-radius: 0;  // Removes rounded corners
            padding: .8rem .5rem .8rem 3.1rem;  // Left padding prevents input text from overlapping icon!
            background-color: #FFFFFF;

            // flex: 0 0 70%;  // Relative to width of search bar
            flex: 0 0 100%;

            &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
                color: #948F8F;
            }

            &:focus {
                outline: none;
                // flex: 0 0 75%;
            }
        }

        &-clear-input {
            transition: right .6s;  // Transition duration should match input transition above
            position: absolute;
            right: 1%;
            font-size: 2.2rem;
            font-weight: 300;
            color: #BD00AA;
            cursor: pointer;

            &--hide {
                display: none;
            }
        }

        &-input:focus + &-clear-input {
            right: 1%;
        }

        &-input:focus ~ &-list {
            width: 75%;
            left: 7%;
        }

        /* Dropdown Content (Hidden by Default) */
        &-dropdown-content {
            // background-color: grey;  // Testing
            background-color: #FFFFFF;  // Same background colour as input (above)
            transition: all .6s;  // Controls rate at which min-width changes
            display: none;  // Should change when user starts typing
            position: absolute;
            top: 100%;  // Positions dropdown directly beneath search bar (.topnav__search) 

            // min-width: 48.8rem;  // Controls width of dropdown content
            min-width: 33.3rem;  // Controls width of dropdown content
            // background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements
        }

        /* Style the links inside the dropdown */
        &-dropdown-link {
            // font-size: 1.5rem; 
            font-size: 1.35rem;
            font-weight: 400;  // Bolder font makes link text stand out
            color: #000000;
            // padding: 1.2rem 1.6rem;
            padding: 1.2rem 1.6rem 1.2rem .8rem;  // Reduced left padding makes dropdown icon align with search bar icon
            text-decoration: none;
            display: block;  // Allows vertical padding & makes links occupy container
            text-align: left;

            display: flex;
            align-items: center;  // Vertically centres icon & links

            column-gap: .8rem;  // Creates space between icon & links
        
            /* Add a black background to dropdown links on hover */
            &:hover {
                // color: #EEEEEE;
                // background-color: #333333;
                background-color: darken(#FFFFFF, 2%);
            }

            &::before {
                content: '';
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
                margin-right: -.6rem;  // Brings text closer to icon

                // Older browsers
                background-image: url('../images/SVG/magnifying-glass.svg');
                background-size: cover;


                // Newer browsers
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: #000000;
                    -webkit-mask-image: url('../images/SVG/magnifying-glass.svg');
                    -webkit-mask-size: cover;  // Makes icon cover entire element
                    mask-image: url('../images/SVG/magnifying-glass.svg');
                    mask-size: cover;
                    background-image: none;  // Prevents background image (above) from being used
                }
            }
        }

        &-dropdown-no-results {
            // background-color: grey;  // Testing
            background-color: #FFFFFF;  // Same background colour as input (above)
            transition: all .6s;  // Controls rate at which min-width changes
            display: none;  // Should change when user starts typing
            position: absolute;
            top: 100%;  // Positions dropdown directly beneath search bar (.topnav__search) 

            // min-width: 48.8rem;  // Controls width of dropdown content
            min-width: 33.3rem;  // Controls width of dropdown content
            // background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements

            text-align: center;  // Centres text below
            padding: .8rem 0;

            &-text {
                font-size: 1.5rem;  // Samefont size as input text
                // font-size: 1.35rem;
                font-weight: 500;  // Bolder font makes text stand out
                color: #000000;
                display: inline-block;
            }
        }

        &-button {
            border: none;  // Removes default button border
            font-size: inherit;  // Same font size as input text
            color: #FFFFFF;
            padding: 0 1.5rem;  // Left & right padding controls button width
            background-color: #000000;
            cursor: pointer;

            align-self: stretch;  // Makes button occupy the full height of search bar (Flex container)
        }
    }
}