.mobilenav {
    /* Add a black background color to the top navigation */
    background-color: #333333;
    overflow: hidden;  // Hides overflow (required)

    // padding: .3rem 0;  // Top and bottom padding increases height (optional)

    padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-link {
        // background-color: grey;  // Testing
        display: inline-block;
        margin-left: .5rem;
    }

    &__logo {
        max-width: 4.5rem;
        height: auto;
        width: 100%;
        display: block;  // Prevents whitespace appearing
    }
    
    /* Hamburger menu icon */
    &__icon {
        // STYLING TECHNIQUE #1
        // // display: none;
        // margin-right: .8rem;
        // cursor: pointer;

        // &-line {
        //     background-color: #FFFFFF;
        //     width: 3rem;
        //     height: .3rem;
        //     // margin-bottom: .4rem;
        //     // margin-right: 1.5rem;

        //     &:first-child {
        //         margin-bottom: .6rem;  // Creates space below first bar
        //     }

        //     &:last-child {
        //         margin-top: .6rem;  // Creates space above third bar
        //     }
        // }

        
        // STYLING TECHNIQUE #2
        // background-color: #0000FF;  // Testing
        height: 2.4rem;  // Height needed to use flexbox (below)
        // display: none;
        margin-right: .8rem;
        cursor: pointer;

        display: flex;
        justify-content: space-between;  // Spaces out the bars (required)

        flex-direction: column;

        &-line {
            background-color: #FFFFFF;
            width: 3rem;
            height: .3rem;
            // margin-bottom: .4rem;
            // margin-right: 1.5rem;
        }
    }

    &__mobile-menu {
        // background-color: #0000FF;  // Testing
        background-color: #555555;

        padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport
    }

    &__link-dropdown-search-box {
        // background-color: #0000FF;  // Testing
        display: none;  // Changed by JavaScript to show navigation links
    }

    &__link-box {
        // background-color: grey;  // Testing
    }
    
    /* Menu links */
    &__link {
        // background-color: #0000FF;  // Testing
        font-size: 1.5rem;
        color: #F2F2F2;
        text-decoration: none;  // Removes default underline
        padding: 1.4rem 1.6rem 1.4rem .48rem;  // Left padding creates space on the left of links
        display: block;  // Makes links occupy as much space as possile (required)
    }
    
    /* Clickable dropdown container */
    &__dropdown-box {
        // background-color: grey;  // Testing
    }
    
    /* First Dropdown */
    &__dropdown-1 {
        // background-color: #FFFF00;  // Testing
        display: block;  // Allows links occupy fill width (required)
        margin-left: .4rem;  // Creates space on left
        margin-bottom: .5rem;  // Creates space between the two dropdowns
    }
    
    /* Dropdown button */
    &__dropdown-btn-1 {
        background-color: #333333;
        font-size: 1.5rem;  // Same size as menu links (.mobilenav__link) above
        color: #FFFFFF;
        display: inline-block;
        padding: .3rem .8rem;
        min-width: 8rem;
        border: none;  // Removes default border
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text
    }

    &__dropdown-icon-1 {
        width: 3rem;
        height: 3rem;
        fill: #FFFFFF;
    }
    
    /* Dropdown Content (Hidden by Default) */
    &__dropdown-content-1 {
        display: none;
        position: initial;  // Prevents dropdown from overlapping search bar
        // min-width: 12rem;
        margin-top: .3rem;  // Creates space between dropdown button & dropdown content
        width: 98%;  // Sets width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        border-radius: 1rem;  // Creates rounded edges
        // z-index: 1;  // Puts dropdown in front of other elements
        
        overflow: hidden;  // Hides overflown background colour when users hovers!

        /* This class will be added by JavaScript to display the dropdown menu when the 
           user clicks */
        &--show {
            display: block;
        }
    }
    
    /* Style the links inside the dropdown */
    &__dropdown-link-1 {
        font-size: 1.35rem; 
        color: #000000;
        padding: 1.2rem 1.4rem 1.2rem 1rem;  // Reduced left padding keeps text on left
        text-decoration: none;
        display: block;  // Allows vertical padding & makes links occupy container
        
        /* Add a black background to dropdown links on hover */
        &:hover {
            color: #F2F2F2;
            background-color: #333333;
        }
    }
    
    /* Second Dropdown */
    &__dropdown-2 {
        // background-color: #FFFF00;  // Testing
        display: block;  // Allows links occupy fill width (required)
        margin-left: .4rem;  // Creates space on left
        margin-bottom: .5rem;  // Creates space between dropdown & search bar
    }
    
    /* Dropdown button */
    &__dropdown-btn-2 {
        background-color: #333333;
        font-size: 1.5rem;  // Same size as menu links (.mobilenav__link) above
        color: #FFFFFF;
        display: inline-block;
        padding: .3rem .8rem;
        min-width: 8rem;
        border: none;  // Removes default border
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text
    }

    &__dropdown-icon-2 {
        width: 3rem;
        height: 3rem;
        fill: #FFFFFF;
    }
    
    /* Dropdown Content (Hidden by Default) */
    &__dropdown-content-2 {
        display: none;
        position: initial;  // Prevents dropdown from overlapping search bar
        // min-width: 12rem;
        margin-top: .3rem;  // Creates space between dropdown button & dropdown content
        // padding: 1rem;  // Creates space inside dropdown
        width: 98%;  // Sets width of dropdown content
        background-color: #F1F1F1;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        border-radius: 1rem;  // Creates rounded edges
        // z-index: 1;  // Puts dropdown in front of other elements

        overflow: hidden;  // Hides overflown background colour when users hovers!

        /* This class will be added by JavaScript to display the dropdown menu when the 
           user clicks */
        &--show {
            display: block;
        }
    }
    
    /* Style the links inside the dropdown */
    &__dropdown-link-2 {
        font-size: 1.35rem; 
        color: #000000;
        padding: 1.2rem 1.4rem 1.2rem 1rem;  // Reduced left padding keeps text on left
        text-decoration: none;
        display: block;  // Allows vertical padding & makes links occupy container
        
        /* Add a black background to dropdown links on hover */
        &:hover {
            color: #F2F2F2;
            background-color: #333333;
        }
    }

    &__search-bar {
        // background-color: #FFFF00;  // Testing
        transition: all .6s;  // Controls rate at which width (below) changes
        width: 95%;  // Testing
        font-size: 1.5rem;  // Inherited by button


        display: grid;
        grid-template-rows: repeat(2, min-content);
        grid-template-columns: 1fr max-content;
        // grid-template-columns: 1fr fit-content(18rem);  // Use fit-content() to control button column size!

        row-gap: .3rem;  // Creates space between search bar & dropdown (optional)
    
        grid-template-areas: 'search-bar search-button'
                             'search-dropdown .';


        & > * {  // Testing
            font-size: 2.6rem;
            padding: .5rem;
        }

    }
}