.carousel {
    // background-color: grey;  // Testing
    width: 60%;  // Controls width of carousel
    margin: auto;
    padding: 13rem 0;

    &__content {
        background-color: #EEEEEE;  // To be used if there's no background image!

        display: grid;
        grid-template-rows: repeat(5, 5vw);  // Number of rows determines height of grid!
        grid-template-columns: max-content repeat(6, 1fr) max-content;

        // & > * {  // Testing
        //     font-size: 2.6rem;
        //     color: #FFFFFF;
        //     padding: 1rem;
        // }
    }
    
    /* Next & previous controls */
    &__prev,
    &__next {
        /* For styling icons alone with buttons */
        // transition: .6s ease;
        // cursor: pointer;
        // width: auto;
        // // margin-top: -2.2rem;
        // padding: 1.6rem;
        // width: 9rem;
        // height: 9rem;
        // fill: #D8D2D2;
        // border-radius: 0 .3rem .3rem 0;
        // user-select: none;
        // z-index: 5;  // Puts controls on top of slideshow image

        
        /* For styling buttons with icons inside */
        transition: .6s ease;
        display: inline-block;
        // padding: 1.5rem 2rem;
        // padding: 1.6rem;
        padding: .4rem;  // DO NOT exceeed this amount of padding
        min-width: 8rem;
        border: none;  // Removes default button border
        outline: none;  // Removes outline
        border-radius: 0 .3rem .3rem 0;
        cursor: pointer;
        z-index: 5;  // Puts controls on top of slideshow image (required)

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres icon in button
    }
    
    /* On hover, add a black background color with a little bit see-through */
    // &__prev:hover, &__next:hover {
    //     fill: #D8D2D2;
    //     background-color: rgba(0, 0, 0, .8);
    // }
    
    /* On hover, add a black background color with a little bit see-through */
    &__prev:hover, &__next:hover {
        // fill: #D8D2D2;
        background-color: rgba(0, 0, 0, .8);
    }

    &__prev {
        // background-color: #00FFFF;  // Testing
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    &__next {
        // background-color: #333333;  // Testing
        grid-column: 8 / 9;
        grid-row: 3 / 4;
    }

    &__next-icon,
    &__prev-icon {
        // width: 9rem;
        // height: 9rem;
        width: 6rem;
        height: 6rem;
        fill: #D8D2D2;
    }
    
    /* Hide the images by default */
    &__slides {
        display: none;  // Changed by Javascript

        grid-column: 1 / -1;
        grid-row: 1 / -1;

        position: relative;  // Used to position caption text
    }
    
    /* Fading animation */
    &__fade {
        animation-name: fadeIn;
        animation-duration: 1.5s;
    }

    /* SAMPLE CONTENT START */

    // &__text-photo-box {
    //     // background-color: grey;  // Testing
    //     height: 100%;  // Gives it the same height as parent

    //     display: grid;
    //     grid-template-rows: repeat(3, min-content);

    //     align-content: center;  // Vertically centres rows inside the grid container
    // }

    // &__text-box-1 {
    //     // background-color: #FF0000;  // Testing
    //     width: 90%;
    //     margin: auto;
    //     text-align: center;
    // }

    // &__text-1 {
    //     font-size: 3rem;
    // }

    // &__img-box {
    //     width: 30%;
    //     margin: auto;
    //     border-radius: 50%;
    // }

    // &__img {
    //     width: 100%;
    //     height: auto;
    //     display: block;
    //     border-radius: 50%;
    // }

    // &__text-box-2 {
    //     // background-color: #FF0000;  // Testing
    //     width: 90%;
    //     margin: auto;
    //     text-align: center;
    // }

    // &__text-2 {
    //     font-size: 1.7rem;
    //     font-style: italic;
    // }

    /* SAMPLE CONTENT END */

    &__photo-box {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    &__photo {
        // **** USE THIS IF THERE'S A PARENT ELEMENT AROUND IMAGE! ****
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;  // Fills parent element & preserves aspect ratio
        

        // **** USE THIS INSTEAD IF THERE IS NO PARENT ELEMENT AROUND IMAGE! ****
        // width: 100%;
        // height: 100%;
        // display: block;  // Prevents whitespace appearing underneath
        // object-fit: cover;
    }

    &__caption {
        // background-color: #FF0000;  // Testing
        position: absolute;  // Positions caption text relative to slideshow section
        top: 0;
        left: 0;
        font-size: 1.6rem;
        color: #F2F2F2;
        display: inline-block;
        padding: .8rem 1.2rem;
        // width: 100%;  // Controls width of caption text
        // text-align: center;
    }
    
    /* Slideshow indicators */
    &__indicators {
        // background-color: #F1425D;  // Testing
        z-index: 5;  // Puts indicators on top of slideshow image

        grid-column: 4 / 6;
        grid-row: 5 / 6;

        display: flex; 
        justify-content: flex-start;

        column-gap: .7rem;  // Creates space between indicators (below)

        // text-align: center;  // Horizontally centres dots

        justify-self: center;
        align-self: center;  // Controls vertical positioning of indicator dots
    }
    
    /* The dots/bullets/indicators */
    &__dot {
        transition: background-color 0.6s ease;
        cursor: pointer;
        height: 1.5rem;
        width: 1.5rem;
        // margin: 0 .2rem;
        border-radius: 50%;  // Creates perfect circle
        display: inline-block;  // Required for indicators to show up
        // text-align: center;
        background-color: #BBBBBB;
    }

    &__active, &__dot:hover {
        background-color: #717171;
    }
}