.select-box {
    outline: 0;  // Removes outline
    box-shadow: none;
    border: none;  // Removes border
    appearance: none;  // Deactivates default system-level styling
    font-size: 1.8rem;  // Defines size of selected item
    // padding: 0 3rem 0 1.5rem;  // Right padding creates space for icon
    padding: 1rem 3rem 1rem 1.5rem;  // Right padding creates space for icon
    width: 100%;  // Makes it occupy full width of parent
    color: #FFFFFF;
    // background-color: #2873FF;
    // background-color: #050505;
}