.select-box {

    &__dopdown {
        display: flex;

        flex-direction: column;
    }

    &__options {
        background-color: #2F3640;
        color: #F5F6FA;
        max-height: 0;
        width: 100%;
        opacity: 0;
        transition: all .4s;
        border-radius: .8rem;
        overflow: hidden;

        &::-webkit-scrollbar {  // For styling the scroll bar
            background-color: #0D141F;
            width: .8rem;
            border-radius: 0 .8rem .8rem 0;
        }

        &::-webkit-scrollbar-thumb {  // For styling thumb of scroll bar
            background-color: #525861;
            border-radius: 0 .8rem .8rem 0;
        }
    }

    &__options.select-box__active {
        max-height: 24rem;
        opacity: 1;
        overflow-y: scroll;
    }

    &__option {
        padding: 1.2rem 2.4rem;
        cursor: pointer;
    }

    &__option:hover {
        background-color: #414B57;
    }

    &__option > &__radio {
        display: none;  // Hides radio buttons
    }

    &__option label {
        cursor: pointer;
    }
}