/* The switch - the box around the slider */
.toggle-switch {
    position: relative;  // Used to position slider (.toggle-switch__slider) below
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
    
    /* Hide default HTML checkbox */
    & > input[type='checkbox'] {
        // opacity: 0;
        // width: 0;
        // height: 0;

        display: none;  // Testing
    }
    
    /* The slider */
    &__slider {
        background-color: #CCCCCC;  // Default slider background colour
        -webkit-transition: .4s;
        transition: .4s;
        position: absolute;  // Positioned relative to .toggle-switch (above)
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        cursor: pointer;
    }

    &__slider::before {
        content: '';
        width: 2.6rem;
        height: 2.6rem;
        position: absolute;
        left: .4rem;
        bottom: .4rem;
        -webkit-transition: .4s;
        transition: .4s;
        background-color: #FFFFFF;
    }

    & > input[type='checkbox']:checked + &__slider {
        background-color: #2196F3;
    }

    & > input[type='checkbox']:focus + &__slider {
        box-shadow: 0 0 .1rem #2196F3;
    }

    & > input[type='checkbox']:checked + &__slider::before {
        transform: translateX(2.6rem);
    }
}