/* The switch - the box around the slider */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3.4rem;
    
    /* Hide default HTML checkbox */
    & > input[type='checkbox'] {
        opacity: 0;
        width: 0;
        height: 0;

        display: none;  // Testing
    }
}