$bp-1645: 102.8125em;  // 1645px
$bp-1600: 100em;  // 1600px
$bp-1540: 96.25em;  // 1540px
$bp-1505: 94.0625em;  // 1505px
$bp-1435: 89.6875em;  // 1435px
$bp-1360: 85em;  // 1360px
$bp-1325: 82.8125em;  // 1325px
$bp-1275: 79.6875em;  // 1275em;
$bp-1195: 74.6875em;  // 1195px
$bp-1135: 70.9375em;  // 1135px
$bp-1080: 67.5em;  // 1080px
$bp-1015: 63.4375em;  // 1015px
$bp-970: 60.625em;  // 970px
$bp-935: 58.4375em;  // 935px
$bp-890: 55.625em;  // 890px
$bp-825: 51.5625em;  // 825px
$bp-805: 50.3125em;  // 805px
$bp-780: 48.75em;  // 780px
$bp-765: 47.8125em;  // 765px
$bp-665: 41.5625em;  // 665px
$bp-560: 35em;  // 560px

*,
*::before,
*::after {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
    font-size: 62.5%;  /* Root Font Size (1rem = 10px) */

    @media only screen and (max-width: $bp-890) {  // 890px
        font-size: 56.25%;  // (1rem = 9px)
    }
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    box-sizing: border-box;  /* Border & Padding included in Width & Height */
}