.file-upload {

    &__group {
        background-color: #808080;  // Testing

        display: grid;
        grid-template-rows: repeat(2, min-content);  // 2 rows, one for label text & one for button
    }

    &__group > label {
        font-size: 1.45rem;  // Controls size of form labels
    }
}