.file-upload {

    &__group {
        background-color: #808080;  // Testing
        width: 25rem;  // Sets width for parent of input & label elements. Use this or display: inline-grid (below)...

        display: grid;
        // display: inline-grid;  // Testing
        grid-template-rows: repeat(2, min-content);  // 2 rows, one for label text & one for buttons
    }

    &__group > label {
        font-size: 1.45rem;  // Controls size of form labels
    }
}