._5710 {
    display: grid;
    grid-template-rows: 15vh min-content;
    grid-template-columns: [sidebar-start] fit-content(12rem) [sidebar-end main-start] 1fr [main-end];
    grid-template-columns: [sidebar-start] 10rem [sidebar-end main-start] 1fr [main-end];
}

._5710 > * {  // Testing
    font-size: 2.6rem;
    // padding: 1rem;
}

._5710-sect_1 {
    background-color: #808080;  // Testing
    grid-row: 1 / -1;
    
    position: -webkit-sticky; // Safari
    position: sticky;  // Fixes navbar as user scrolls
    top: 0;  // Required 
    left: 0;  // Optional

    height: 100vh;  // Makes sidebar only occupy entire viewport height (required - percentages DON'T work!)
}

.sidenav {
    background-color: #420000;  // Testing
    height: 100%;  // Makes sidenav full height
    position: relative;  // Used to position hamburger icon

    &__bars-icon-box {
        // background-color: #00FF00;  // Testing

        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
}

/* Hamburger Icon */

.topnav-mobilenav__icon {
    // STYLING TECHNIQUE #1
    // // display: none;
    // margin-right: .8rem;
    // cursor: pointer;

    // &-line {
        // background-color: #FFFFFF;
        //     width: 3rem;
        //     height: .3rem;
        //     // margin-bottom: .4rem;
        //     // margin-right: 1.5rem;

        //     &:first-child {
        //         margin-bottom: .6rem;  // Creates space below first bar
        //     }

        //     &:last-child {
        //         margin-top: .6rem;  // Creates space above third bar
        //     }
        // }

        
        // STYLING TECHNIQUE #2
        // background-color: #0000FF;  // Testing
        height: 2.4rem;  // Height needed to use flexbox (below)
        // display: none;
        margin-right: .8rem;
        cursor: pointer;

        display: flex;
        justify-content: space-between;  // Spaces out the bars (required)

        flex-direction: column;

        &-line {
            background-color: #FFFFFF;
            width: 3rem;
            height: .3rem;
            // margin-bottom: .4rem;
            // margin-right: 1.5rem;
        }
}

._5710-sect_2 {
    background-color: #00FFFF;  // Testing
    grid-column: main-start / main-end;
    
    position: -webkit-sticky; // Safari
    position: sticky;  // Fixes navbar as user scrolls
    top: 0;  // Required
    z-index: 1000;  // Places navbar above everything else
}

.text {
    font-size: 2.6rem;  // Size of "dummy text"
}

._5710-sect_3 {
    background-color: #F5F5DC;  // Testing
    grid-row-start: 2 / -1;
    grid-column: main-start / main-end;
}