._7421 {
    display: grid;
    grid-template-rows: 15vh min-content;
    grid-template-columns: [sidebar-start] max-content [sidebar-end main-start] 1fr [main-end];
}

._7421 > * {  // Testing
    font-size: 2.6rem;
    padding: 1rem;
}

._7421-sect_1 {
    background-color: #808080;  // Testing
    grid-row: 1 / -1;

    position: sticky;  // Fixes navbar as user scrolls
    top: 0; 
    // left: 0;

    height: 100vh;  // Makes sidebar only occupy entire viewport height (required - percentages DON'T work!)
}