.topnav {
    /* Add a black background color to the top navigation */
    background-color: #333333;
    // overflow: hidden;  // Hides overflow (required)

    position: relative;  // Used to position main dropdown & dot dropdown (required)

    display: flex;
    align-items: center;

    column-gap: 10%;  // Creates space between icon & links, dropdown, search bar etc

    @media only screen and (max-width: $bp-1105) {  // 1105px
        column-gap: 8%;
    }

    @media only screen and (max-width: $bp-790) {  // 790px
        display: none;  // Hides top navigation
    }

    &__logo-link {
        // background-color: grey;  // Testing
        display: inline-block;
    }

    &__logo {
        // max-width: 3.5rem;
        max-width: 3rem;
        height: auto;
        width: 100%;
        display: block;  // Prevents whitespace appearing underneath
    }

    &__icon {
        display: none;  // Hides hamburger icon

        &-line {
            width: 2rem;
            height: .3rem;
            margin-bottom: .4rem;
            margin-right: 1.5rem;
            background-color: #FFFFFF;
        }
    }

    &__link-box {
        // background-color: grey;  // Testing
        flex: 0 0 80%;  // Reference for search bar size

        @media only screen and (max-width: $bp-812) {  // 812px
            flex: 0 0 85%;
        }

        display: flex;
        align-items: center;

        // flex: 0 0 25%;
    }
    
    /* Style the links inside the navigation bar */
    &__link {
        // font-size: 1.7rem;
        font-size: 1.55rem;
        color: #F2F2F2;
        text-align: center;
        text-decoration: none;  // Removes default underline
        // padding: 1.4rem 1.6rem;
        padding: 1.3rem 1.5rem;
        display: inline-block;

        &:hover {
            color: #FFFFFF;
            background-color: #555555;
        }

        @media only screen and (max-width: $bp-1550) {  // 1550px
            &--5 {
                display: none;  // Hides last link
            }
        }

        @media only screen and (max-width: $bp-1400) {  // 1400px
            &--4 {
                display: none;  // Hides 4th link
            }
        }

        @media only screen and (max-width: $bp-1140) {  // 1140px
            &--3 {
                display: none;  // Hides 3rd link
            }
        }

        @media only screen and (max-width: $bp-990) {  // 990px
            &--2 {
                display: none;  // Hides 2nd link
            }
        }
        
        /* Add an active class to highlight the current page */
        &--active {
            color: #FFFFFF;
            background-color: #04AA6D;

            @media only screen and (max-width: $bp-990) {  // 990px
                color: #F2F2F2;
                background-color: transparent;  // Removes green background
            }
        }

        &-dot-dropdown {
            display: inline-block;  // Makes dropdown only occupy as much space as it needs (required)

            @media only screen and (max-width: $bp-1550) {  // 1550px
                margin-right: 1.2rem;  // Creates space between dot icon & main dropdown
            }

            // @media only screen and (max-width: $bp-990) {  // 990px
            //     margin-right: 0;
            // }
        }

        &-dot-icon-box {
            // background-color: #FF0000;  // Testing
            // display: inline-block;
            // cursor: pointer;

            // display: flex;

            display: none;  // Hides dot icon

            @media only screen and (max-width: $bp-1550) {  // 1550px
                display: inline-block;
                cursor: pointer;

                display: flex;
            }
        }

        &-dot-icon {
            width: 2.1rem;
            height: 2.1rem;
            fill: #F2F2F2;  // Same colour as links!
        }
        
        /* Dropdown Content (Hidden by Default) */
        &-dot-dropdown-content {
            display: none;
            position: absolute;  // Positions content outside dropdown (required)
            top: 100%;  // Places dropdown directly underneath navbar!
            min-width: 14.5rem;
            background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements
        
            /* This class will be added by JavaScript to display the dropdown menu when the 
               user clicks */
            &--show {
                display: block;
            }
        }

        &-dot-link {
            font-size: 1.5rem; 
            color: #000000;
            padding: 1.2rem 1.6rem;
            text-decoration: none;
            // display: block;  // Testing
            display: none;  // Hides all dropdown links initially
            text-align: left;
        
            /* Add a black background to dropdown links on hover */
            &:hover {
                color: #EEEEEE;
                background-color: #333333;
            }

            @media only screen and (max-width: $bp-1550) {  // 1550px
                &--5 {
                    display: block;  // Shows 5th dropdown link
                }
            }

            @media only screen and (max-width: $bp-1400) {  // 1400px
                &--4 {
                    display: block;  // Shows 4th dropdown link
                }
            }

            @media only screen and (max-width: $bp-1140) {  // 1140px
                &--3 {
                    display: block;  // Shows 3rd dropdown link
                }
            }

            @media only screen and (max-width: $bp-990) {  // 990px
                &--2 {
                    display: block;  // Shows 2nd dropdown link
                }
            }
        }
    }
    
    /* Dropdown container - needed to position the dropdown content */
    &__dropdown {
        // background-color: #0000FF;  // Testing
        background-color: #333333;  // Inherited by dropdown icon
        // overflow: hidden;

        &:hover {
            color: #FFFFFF;
            background-color: #555555;
        }
    }
    
    /* Dropdown button */
    &__dropdown-btn {
        background-color: inherit;
        // font-size: 1.7rem;
        font-size: 1.55rem;
        border: none;  // Removes default button border
        outline: none;
        color: #FFFFFF;
        // padding: 1.4rem 1.6rem;
        cursor: pointer;

        // padding: 1.1rem 1.6rem;  // Top & bottom padding determines height of navbar

        padding: .8rem 1.6rem;  // Top & bottom padding determines height of navbar

        display: flex;
        justify-content: center;
        align-items: center;  // Vertically centres dropdown icon & text

        &:hover {
            color: #FFFFFF;
            background-color: #555555;
        }

        &:focus {  // Darken text a tiny bit when button is clicked
            color: darken(#FFFFFF, 5%);
        }
    }

    &__dropdown__icon {
        // width: 3.2rem;
        // height: 3.2rem;
        width: 3.15rem;
        height: 3.15rem;
        fill: #FFFFFF;
    }
    
    /* Style the dropdown content (hidden by default) */
    &__dropdown-content {
        display: none;
        position: absolute;  // Positions content outside dropdown (Required)
        top: 100%;  // Places dropdown directly underneath navbar!
        min-width: 14.5rem;
        background-color: #F9F9F9;
        box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
        // z-index: 1;  // Puts dropdown in front of other elements

        /* This class will be added by JavaScript to display the dropdown menu when the 
           user clicks */
           &--show {
            display: block;
        }
    }
    
    /* Style the links inside the dropdown */
    &__dropdown-link {
        font-size: 1.5rem; 
        color: #000000;
        padding: 1.2rem 1.6rem;
        text-decoration: none;
        display: block;  // Allows vertical padding & makes links occupy container
        text-align: left;

        /* Add a grey background to dropdown links on hover */
        &:hover {
            color: #000000;
            background-color: #DDDDDD;
        }
    }

    /* Show the dropdown menu when the user moves the mouse over the dropdown button */
    // &__dropdown:hover > &__dropdown-content {
    //   display: block;
    // }

    &__search {
        // background-color: #FFFF00;  // Testing
        font-size: 1.5rem;  // Inherited by button
        position: relative;  // Used to position search bar dropdown

        flex: 0 0 45%;  // Relative to width of Navigation bar

        display: flex;
        justify-content: center;
        align-items: center;

        &-input-dropdown-box {  // Wrapper that holds input box & dropdown box
            background-color: grey;  // Testing
            transition: all .6s;  // Controls rate at which flex basis changes

            flex: 0 0 70%;  // Relative to width of search bar

            // flex: 0 0 100%;
        }

        &-input-box {  // Contains input, SVG icon & close icon (x)
            // background-color: #0000FF;  // Testing
            position: relative;  // Used to position close icon (x) & icon button (required)
            font-size: 1.5rem;  // Inherited by input

            display: flex;
            align-items: center;  // Vertically centeres icon button & close icon (x)
        }

        &-icon-box {
            background-color: #FFFFFF;  // Makes button look like it's part of input
            display: inline-block;
            // padding: 1.5rem 2rem;
            border: none;  // Removes default button border
            // cursor: pointer;
            cursor: not-allowed;  // Prevents user from clicking button

            display: flex;  // Vertically centres icon

            position: absolute;  // Used to position icon button without creating space on the left
            left: .7rem;
        }

        &-icon {
            width: 2rem;
            height: 2rem;
            fill: #000000;
            // z-index: 5;  // Puts icon on top of input
        }

        &-input {
            // transition: all .6s;
            font-family: inherit;  // From global document
            font-size: inherit;  // From parent element
            color: inherit;  // From global document
            border: none;
            border-radius: 0;  // Removes rounded corners
            padding: .8rem .5rem .8rem 3.1rem;  // Left padding prevents input text from overlapping icon!
            background-color: #FFFFFF;

            // flex: 0 0 70%;  // Relative to width of search bar
            flex: 0 0 100%;

            &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
                color: #948F8F;
            }

            &:focus {
                outline: none;
                // flex: 0 0 75%;
            }
        }

        &-clear-input {
            transition: right .6s;  // Transition duration should match input transition above
            position: absolute;
            right: 1%;
            font-size: 2.2rem;
            font-weight: 300;
            color: #BD00AA;
            cursor: pointer;

            &--hide {
                display: none;
            }
        }

        &-input:focus + &-clear-input {
            right: 1%;
        }

        &-input:focus ~ &-list {
            width: 75%;
            left: 7%;
        }

        /* Dropdown Content (Hidden by Default) */
        &-dropdown-content {
            // background-color: grey;  // Testing
            background-color: #FFFFFF;  // Same background colour as input (above)
            transition: all .6s;  // Controls rate at which min-width changes
            display: none;  // Should change when user starts typing
            position: absolute;
            top: 100%;  // Positions dropdown directly beneath search bar (.topnav__search) 

            min-width: 48.8rem;  // Controls width of dropdown content
            // background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements
        }

        /* Style the links inside the dropdown */
        &-dropdown-link {
            // font-size: 1.5rem; 
            font-size: 1.35rem;
            font-weight: 400;  // Bolder font makes link text stand out
            color: #000000;
            // padding: 1.2rem 1.6rem;
            padding: 1.2rem 1.6rem 1.2rem .8rem;  // Reduceed left padding makes dropdown icon align with search bar icon
            text-decoration: none;
            display: block;  // Allows vertical padding & makes links occupy container
            text-align: left;

            display: flex;
            align-items: center;  // Vertically centres icon & links

            column-gap: .8rem;  // Creates space between icon & links
        
            /* Add a black background to dropdown links on hover */
            &:hover {
                // color: #EEEEEE;
                // background-color: #333333;
                background-color: darken(#FFFFFF, 2%);
            }

            &::before {
                content: '';
                display: inline-block;
                width: 1.8rem;
                height: 1.8rem;
                margin-right: -.6rem;  // Brings text closer to icon

                // Older browsers
                background-image: url('../images/SVG/magnifying-glass.svg');
                background-size: cover;


                // Newer browsers
                @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                    background-color: #000000;
                    -webkit-mask-image: url('../images/SVG/magnifying-glass.svg');
                    -webkit-mask-size: cover;  // Makes icon cover entire element
                    mask-image: url('../images/SVG/magnifying-glass.svg');
                    mask-size: cover;
                    background-image: none;  // Prevents background image (above) from being used
                }
            }
        }

        &-dropdown-no-results {
            // background-color: grey;  // Testing
            background-color: #FFFFFF;  // Same background colour as input (above)
            transition: all .6s;  // Controls rate at which min-width changes
            display: none;  // Should change when user starts typing
            position: absolute;
            top: 100%;  // Positions dropdown directly beneath search bar (.topnav__search) 

            // min-width: 48.8rem;  // Controls width of dropdown content
            min-width: 44rem;  // Controls width of dropdown content
            // background-color: #F1F1F1;
            box-shadow: 0 .8rem 1.6rem 0 rgba(0, 0, 0, .2);
            z-index: 1;  // Puts dropdown in front of other elements

            text-align: center;  // Centres text below
            padding: .8rem 0;

            &-text {
                font-size: 1.5rem;  // Samefont size as input text
                // font-size: 1.35rem;
                font-weight: 500;  // Bolder font makes text stand out
                color: #000000;
                display: inline-block;
            }
        }

        &-button {
            border: none;  // Removes default button border
            font-size: inherit;  // Same font size as input text
            color: #FFFFFF;
            padding: 0 1.5rem;  // Left & right padding controls button width
            background-color: #000000;
            cursor: pointer;

            align-self: stretch;  // Makes button occupy the full height of search bar (Flex container)
        }
    }


    /* Mobile Navbar */
    &-mobilenav {
        /* Add a black background color to the top navigation */
        background-color: #333333;
        overflow: hidden;  // Hides overflow (required)

        // padding: .3rem 0;  // Top and bottom padding increases height (optional)

        padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport

        display: flex;
        justify-content: space-between;
        align-items: center;

        display: none;  // Testing

        &__logo-link {
            // background-color: grey;  // Testing
            margin-left: .5rem;
        }

        &__logo {
            max-width: 4.5rem;
            height: auto;
            width: 100%;
            display: block;  // Prevents whitespace appearing
        }
    
        /* Hamburger menu icon */
        &__icon {
            // display: none;
            margin-right: .8rem;
            cursor: pointer;

            &-line {
                background-color: #FFFFFF;
                width: 3rem;
                height: .3rem;
                // margin-bottom: .4rem;
                // margin-right: 1.5rem;

                &:first-child {
                    margin-bottom: .6rem;  // Creates space below first bar
                }

                &:last-child {
                    margin-top: .6rem;  // Creates space above third bar
                }
            }
        }

        &__mobile-menu {
            // background-color: #0000FF;  // Testing
            background-color: #555555;
            display: none;  // Testing
    
            padding: 1.5rem;  // Prevents logo and icon being too close to edge of viewport
        }

        &__link-box {
            // background-color: grey;  // Testing
            display: none;  // Changed by JavaScript to show navigation links
        }
        
        /* Menu links */
        &__link {
            // background-color: #0000FF;  // Testing
            font-size: 1.5rem;
            color: #F2F2F2;
            text-decoration: none;  // Removes default underline
            padding: 1.4rem 1.6rem 1.4rem .48rem;  // Left padding creates space on the left of links
            display: block;  // Makes links occupy as much space as possile (required)
        }    
    }
}