.top-section {
    background-color: #0E49B5;
    width: 100vw;
    height: 20vh;
}

.middle-section {
    background-color: #F2F2F2;
    width: 100vw;

    .content {
        // background-color: grey;  // Testing
        width: 90%;
        margin: auto;
        padding: 12rem 0;
    }

    .mobile-container {  // Simulates viewport of mobile device - not to be used!
        background-color: #555555;
        max-width: 48rem;
        margin: auto;
        height: 50rem;  // Used to simulate page contents
        color: #FFFFFF;
        border-radius: 1rem;
    }
}