$bp-1055: 65.9375em;  // 1055px
$bp-1046: 65.375em;  // 1046px
$bp-982: 61.375em;  // 982px
$bp-935: 58.4375em;  // 935px
$bp-895: 55.9375em;  // 895px
$bp-830: 51.875em;  // 830px
$bp-795: 49.6875em;  // 795px
$bp-730: 45.625em;  // 730px

*,
*::before,
*::after {  /* CSS Reset */
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    min-height: 100%;  /* Ensures HTML page is at least as high as browser viewport */
    font-size: 62.5%;  /* Root Font Size (1rem = 10px) */

    @media only screen and (max-width: $bp-1046) {  // 1046px
        font-size: 56.25%;  // Root Font Size (1rem = 9px)
    }
}

body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;  /* Ensures page body is at least as high as browser viewport */
    box-sizing: border-box;  /* Border & Padding included in Width & Height */
}