.form {

    &__group {
        margin-bottom: 1.6rem;
        font-size: 1.45rem;  // Inherited by inputs & textareas
    }

    &__group > label {
        font-size: 1.45rem;  // Controls size of form labels
    }

    &__control {
        width: 100%;  // Makes inputs full width
        padding: 1.2rem;  // Controls size of inputs 
        margin-top: .6rem;  // Creates space between inputs & labels
        border: .1rem solid #CCCCCC;
        border-radius: .4rem;  // Creates rounded edges
        resize: vertical;  // Allow the user to vertically resize the textarea (not horizontally)
        font-size: inherit;  // Inherits font size set on parent element 

        &::-webkit-input-placeholder {  // Only works in Chrome & Safari browsers
            color: #808080;
        }

        &:focus {
            outline: none;
            // box-shadow: .2rem -.2rem .48rem 0 #622EFF, -.2rem .2rem .48rem 0 #622EFF;
            box-shadow: .2rem -.2rem .48rem .15rem #6570EA, -.2rem .2rem .48rem .15rem #6570EA;
        }
    }

    &__small-text {
        font-size: 1.35rem;
    }

    &__group > textarea {
        height: 28rem;  // Controls height of textarea
    }

    &__btn {
        font-size: 1.8rem;
        display: inline-block;
        padding: 1.5rem 2rem;
        border: none;  // Removes default button border
        border-radius: .4rem;  // Same border radius as input, select and textarea
        cursor: pointer;

        &--block {  // Creates full-width 'block' button
            width: 100%;
            display: block;
        }

        &--dark {
            background-color: #050505;
            color: #FFFFFF;
    
            &:hover {
                color: darken(#FFFFFF, 5%);            
            }
        }
    }
}