.lesson-bookmark {
    background-color: #0000FF;  // Testing

    display: flex;
    justify-content: flex-start;

    &__duration {
        background-color: #FF0000;  // Testing

        &-timer {
            background-color: #ECEB98;
            font-size: 1.3rem;
            font-weight: 500;
            display: inline-block;
            padding: .4rem .8rem;
        }
    }

    &__container {
        background-color: #F4A4B4;  // Testing
    }

    &__header {
        background-color: grey;  // Testing
    }

    &__lesson-title {
        background-color: #000000;
        font-size: 1.6rem;
        color: #FFFFFF;
        display: inline-block;
        // padding: 0 1.2rem;
        // padding: 1.25rem 1.2rem;  // Normal/medium button
        // padding: 1.5rem 1.2rem;  // large button
        padding: .85rem 1.2rem;  // Small button
        min-width: 8rem;
        border: none;  // Removes default button border
        outline: none;  // Removes outline
        cursor: pointer;
    }

    &__edit-button {
        // background-color: #000000;
        background-color: transparent;
        font-size: 1.6rem;
        color: #FFFFFF;
        display: inline-block;
        // padding: 0 1.2rem;
        // padding: 1.25rem 1.2rem;  // Normal/medium button
        // padding: 1.5rem 1.2rem;  // large button
        padding: .85rem 1.2rem;  // Small button
        min-width: 8rem;
        border: none;  // Removes default button border
        outline: none;  // Removes outline
        cursor: pointer;
    }

    &__edit-icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: #000000;
    }

    &__delete-button {
        // background-color: #000000;
        background-color: transparent;
        font-size: 1.6rem;
        color: #FFFFFF;
        display: inline-block;
        // padding: 0 1.2rem;
        // padding: 1.25rem 1.2rem;  // Normal/medium button
        // padding: 1.5rem 1.2rem;  // large button
        padding: .85rem 1.2rem;  // Small button
        min-width: 8rem;
        border: none;  // Removes default button border
        outline: none;  // Removes outline
        cursor: pointer;
    }

    &__delete-icon {
        width: 1.8rem;
        height: 1.8rem;
        fill: #000000;
    }
}