.card {
    transition: all .3s;
    // width: 40%;  // Controls size of card (optional)
    border-radius: .5rem;
    border: .15rem solid #BBB9B9;  // Makes card stand out (optional)
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, .2);
    background-color: #FFFFFF;  // Testing

    &:hover {
        box-shadow: 0 .4rem 1.6rem 0 rgba(0, 0, 0, .2);
    }

    &__body {
        // padding: .2rem 1.6rem;
        padding: 1rem;
    }

    &__text-box {
        // background-color: #FF0000;  // Testing
        width: 90%;
        margin: auto;
        text-align: center;
    }

    &__text {
        font-size: 1.8rem;
    }
}